{% extends 'customer/../../../main/templates/main/base.html' %}
{% load static %}
{% block content %}
    <div class="user-modal">
        <div class="com-card com-card--user">
            <div class="com-card__img">
                <div class="com-card__img-box">
                    <img src="{{ company.logo.url }}" alt="logo-img">
                </div>
            </div>
            <div class="com-card__info">
                <h2 class="com-card__name">{{ company.company_name }}</h2>
                <p class="com-card__text">{{ company.contact.address }}</p>
                <div class="com-card__contact">
                    <a href="#">{{ company.contact.phone_number }}</a><br>
                    {#                    <a href="#">J.johnson@gmail.com</a>#}
                </div>
            </div>
        </div>
        <div class="user-modal__descriptions">
            {{ company.description.description }}
        </div>
        {#        <div class="user-modal__item">#}
        {#            <h2 class="user-modal__cap js"><span class="user-modal__circle blue">E</span>EMPLOYMENT <span#}
        {#                    class="user-rel"></span></h2>#}
        {#            <div class="js-user">#}
        {#                <div class="user-modal__flex">#}
        {#                    <div class="user-modal__item-50">#}
        {#                        <h5>PROGRAMMING SKILLS</h5>#}
        {#                        <p>Wordpress/<span> 90%</span></p>#}
        {#                        <p>PHP/<span> 80%</span></p>#}
        {#                        <p>HTML/<span> 80%</span></p>#}
        {#                        <p>CSS/<span> 80%</span></p>#}
        {#                        <p>MySQL<span>/ 80%</span></p>#}
        {#                        <p>JavaScript/<span> 80%</span></p>#}
        {#                    </div>#}
        {#                    <div class="user-modal__item-50">#}
        {#                        <h5>PROGRAMMING SKILLS</h5>#}
        {#                        <p>Wordpress/<span> 90%</span></p>#}
        {#                        <p>PHP/<span> 80%</span></p>#}
        {#                        <p>HTML/<span> 80%</span></p>#}
        {#                        <p>CSS/<span> 80%</span></p>#}
        {#                        <p>MySQL<span>/ 80%</span></p>#}
        {#                        <p>JavaScript/<span> 80%</span></p>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
        {#        <div class="user-modal__item">#}
        {#            <h2 class="user-modal__cap js"><span class="user-modal__circle orang">S</span>SKILLS <span#}
        {#                    class="user-rel"></span></h2>#}
        {#            <div class="js-user">#}
        {#                <div class="user-modal__flex">#}
        {#                    <div class="user-modal__item-50">#}
        {#                        <h5>PROGRAMMING SKILLS</h5>#}
        {#                        <p>Wordpress/<span> 90%</span></p>#}
        {#                        <p>PHP/<span> 80%</span></p>#}
        {#                        <p>HTML/<span> 80%</span></p>#}
        {#                        <p>CSS/<span> 80%</span></p>#}
        {#                        <p>MySQL<span>/ 80%</span></p>#}
        {#                        <p>JavaScript/<span> 80%</span></p>#}
        {#                    </div>#}
        {#                    <div class="user-modal__item-50">#}
        {#                        <h5>PROGRAMMING SKILLS</h5>#}
        {#                        <p>Wordpress/<span> 90%</span></p>#}
        {#                        <p>PHP/<span> 80%</span></p>#}
        {#                        <p>HTML/<span> 80%</span></p>#}
        {#                        <p>CSS/<span> 80%</span></p>#}
        {#                        <p>MySQL<span>/ 80%</span></p>#}
        {#                        <p>JavaScript/<span> 80%</span></p>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
        {#        <div class="user-modal__buttons">#}
        {#            <button class="btn def-ora">Download</button>#}
        {#            <button class="btn def-blue">Print</button>#}
        {#        </div>#}
    </div>

{% endblock %}