{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

    <div class="container" xmlns="http://www.w3.org/1999/html">
        <div class="main-content">
            <div class="main-block">
                <ul class="crumbs">
                    <li><a href="{% url 'index' %}">{% trans 'Home' %}</a></li>
                    <li><a href="{% url 'add_booking' company.company_name %}">{{ company.company_name }}</a></li>

                </ul>
                <div class="main-head">
                    <div class="com-card com-card--head">
                        <div class="com-card__img">
                            <div class="com-card__img-box">
                                <img src="{{ company.logo.url }}" alt="logo-img">
                            </div>
                            <div class="com-card__clock none480">
                                <time>{{ company.opened_time }}</time>
                                -
                                <time>{{ company.closed_time }}</time>
                            </div>
                        </div>
                        <div class="com-card__info">
                            <h2 class="com-card__name">{{ company.company_name }}</h2>
                            <p class="com-card__text com-card__text--lh75">{{ company.description.description }}</p>
                        </div>
                        {#                        <div class="com-card__star none480">#}
                        {#                            <div class="star-block">#}
                        {#                                4.5#}
                        {#                            </div>#}
                        {#                        </div>#}
                    </div>
                    <div class="order-block">
                        <h3 class="title title--order">{% trans 'Order' %}</h3>

                        <div class="order-items">

                            <div class="order-item order-line active" id="ser">
                                <div class="order-number">1</div>
                                <div class="order-text">{% trans 'Choose Service' %}</div>
                            </div>

                            <div class="order-item order-line" id="spec">
                                <div class="order-number">2
                                </div>
                                <div class="order-text">{% trans 'Choose Specialist' %}</div>
                            </div>

                            <div class="order-item order-line" id="date">
                                <div class="order-number">3
                                </div>
                                <div class="order-text">{% trans 'Choose Date/time' %}</div>
                            </div>

                            <div class="order-item order-line" id="cont">
                                <div class="order-number">4</div>
                                <div class="order-text">{% trans 'Enter Contacts' %}</div>
                            </div>

                            <div class="order-item" id="conf">
                                <div class="order-number">5
                                </div>
                                <div class="order-text">{% trans 'Confirm Booking' %}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <form action="{% url 'submit_booking' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    {#//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////#}


                    <div id="choose_service">
                        <div class="block">
                            <p class="title">{% trans 'Choose a service' %}<span
                                    class="total-blue mobile480">{% trans 'Total: 1050 NIS / 130-160 min' %}</span></p>

                            <div class="service">
                                {% for ser_sub in service_subs %}
                                    <div class="service__item" id="ser{{ ser_sub.pk }}">
                                        <div class="service__content">
                                            <label class="service__label">{{ ser_sub.name }}
                                                <input type="checkbox" class="visually-hidden"
                                                       name="services"
                                                       value="{{ ser_sub.pk }}">
                                                <span class="checkmark"></span>
                                            </label>

{#                                            <p> {% trans 'too much som' %}</p>#}
                                            <p>{% trans '30 min' %}</p>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                            <div id="service_required">

                            </div>

                            {#                            <p class="service__total none480">Total: 30 min</p>#}
                            <div id="service_required">

                            </div>

                        </div>
                        <div class="footer-buttons">
                            <a href="{% url 'choose_company' company.category.title %}" class="btn">{% trans 'Back' %}</a>
                            <div class="btn def-ora" onclick="getEmployers({{ company.id }})" >
                                {% trans 'Next step' %}
                            </div>
                        </div>
                    </div>

                    {#//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////#}

                    <div id="choose_specialist" style="display: none">
                        <div class="block">
                            <h4 class="title">{% trans 'Choose specialist' %}</h4>
                            {% for specialist in specialists %}
                                <div id="{{ specialist.pk }}" class="com-card">
                                    <div class="com-card__img">
                                        <div class="com-card__img-box com-card__img-box--radius">
                                            <img src="{% static 'img/avatar-big.jpg' %}" alt="logo-img">
                                        </div>
                                        <div class="star-block mobile480">
                                            4.5
                                        </div>
                                    </div>
                                    <div class="com-card__info">
                                        <h2 class="com-card__name">{{ specialist.profile.name }}</h2>
                                        <p class="com-card__text">{{ specialist.profile.information }} </p>
                                        {#                                    <p class="com-card__req-item com-card__req-item--reviews-big modile480">Reviews: <a#}
                                        {#                                            href="#">(5 Reviews)</a></p>#}
                                    </div>
                                    <div class="com-card__star none480">
                                        <p class="com-card__req-item com-card__req-item--reviews-big none480">{% trans 'Reviews:' %}
                                            <a
                                                    href="#">(5
                                                Reviews)</a></p>
                                        <div class="star-block star-block--line">
                                            4.5
                                        </div>
                                        <input type="radio" class="btn def-tora card__btn-a100" name="specialist"
                                               onchange="confirm_employer({{ specialist.pk }})"
                                               value="{{ specialist.pk }}">{% trans 'Choose' %}</input>
                                    </div>
                                    {#                                <input type="checkbox"  class="btn def-tora card__btn-a100 mobile480">Choose</input>#}
                                </div>

                            {% endfor %}

                            <div id="employer_required">

                            </div>
                        </div>


                        <div class="footer-buttons">

                            <div class="btn def-ora" onclick="get_booking_page('choose_service')">
                                {% trans 'Back' %}
                            </div>
                            <div class="btn def-ora" onclick="get_booking_page('choose_date_time')">
                                {% trans 'Next step' %}
                            </div>
                        </div>

                    </div>

                    {#//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////#}

                    <div id="choose_date_time" style="display: none">
                        <div class="block block--calendar">
                            <div class="calendar">
                                <h4 class="title">{% trans 'Select a date' %}</h4>
                                <div class="" id="calendar"></div>
                                <input type="text" id="hidden_calendar" name="date" hidden placeholder="dd:mm:yy">

                            </div>
                            <div class="pick-time">
                                <h4 class="title">{% trans 'Select a date' %} <span class="total-ora"></span></h4>
                                <div class="set-time">
                                    <h2 class="active">{% trans 'Times:' %}</h2>
                                    <div class="js-set-time" style="display: block">
                                        <div id="choose_period" class="set-time__block">
                                            {% for time in times %}
                                                <label>
                                                    <input type="checkbox" class="visually-hidden" name="times"
                                                           id="period"
                                                           value="{{ time }}">
                                                    <span>{{ time }}</span>
                                                </label>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div id="date_required">

                            </div>
                        </div>


                        <div class="footer-buttons">
                            <div class="btn def-ora" onclick="get_booking_page('choose_specialist')">
                                {% trans 'Back' %}
                            </div>
                            <div class="btn def-ora" onclick="get_booking_page('enter_contacts')">
                                {% trans 'Next step' %}
                            </div>
                        </div>
                    </div>

                    {#//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////#}

                    <div id="enter_contacts" style="display: none">
                        <div class="block">
                            <h4 class="title">{% trans 'Contacts information' %}</h4>
                            {% if request.user %}
                                <div class="form__item">
                                    <label class="form__label" for="name">{% trans 'Your Name' %}</label>
                                    <input class="form__input" id="name" name="contact_name"
                                           value="{{ request.user.profile.name }}" type="text"
                                           placeholder="{% trans 'Enter Your Name' %}">
                                </div>
                                <div class="form__item">
                                    <label class="form__label" for="phone">{% trans 'Phone Number' %}</label>
                                    <input class="form__input" id="phone" type="text"
                                           value="{{ request.user.profile.phone }}" name="contact_phone"

                                           placeholder="{% trans 'Enter Your Phone Number' %}">
                                </div>
                                <div class="form__item">
                                    <label class="form__label" for="email">{% trans 'Your Email' %}</label>
                                    <input class="form__input" id="email" type="email"
                                           value="{{ request.user.profile.email }}" value="requs" name="contact_email"
                                           placeholder="{% trans 'Enter Your Email' %}">
                                    <input type="hidden" id="emailCode" name="emailCode">
                                </div>
                                <div class="form__item form__item--comm">
                                    <label class="form__label" for="comments">{% trans 'Comments' %}</label>
                                    <textarea name="contact_comments" id="comments" cols="90" rows="3"></textarea>
                                </div>
                                <div id="info_required">

                                </div>
                            {% else %}
                                <div class="form__item">
                                    <label class="form__label" for="name">{% trans 'Your Name' %}</label>
                                    <input class="form__input" id="name" enabled="enabled" name="contact_name"
                                           type="text"
                                           placeholder="{% trans 'Enter Your Name' %}">
                                </div>
                                <div class="form__item">
                                    <label class="form__label" for="phone">{% trans 'Phone Number' %}</label>
                                    <input class="form__input" id="phone" disabled="false" type="text"
                                           name="contact_phone"

                                           placeholder="{% trans 'Enter Your Phone Number' %}">
                                </div>
                                <div class="form__item">
                                    <label class="form__label" for="email">{% trans 'Your Email' %}</label>
                                    <input class="form__input" id="email" disabled="false" type="email"
                                           name="contact_email"

                                           placeholder="{% trans 'Enter Your Email' %}">
                                    <input type="hidden" id="emailCode" name="emailCode">
                                </div>
                                <div class="form__item form__item--comm">
                                    <label class="form__label" for="comments">{% trans 'Comments' %}</label>
                                    <textarea name="contact_comments" id="comments" cols="90" rows="3"></textarea>
                                </div>
                                <div id="info_required">

                                </div>


                            {% endif %}

                        </div>


                        <div class="footer-buttons">
                            <div class="btn def-ora" onclick="get_booking_page('choose_date_time')">
                                {% trans 'Back' %}
                            </div>
                            <div class="btn def-ora" onclick="get_booking_page('confirm_bookings')" on>
                                {% trans 'Next step' %}
                            </div>
                        </div>
                    </div>

                    {#//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////#}

                    <div class="block" id="confirm_bookings" style="display: none">
                        <h4 class="title">{% trans 'Confirm data recording' %}</h4>
                        <div id="confirmBook">

                        </div>
                        <div class="green-text">{% trans 'Type the SMS-confirmation code (5 digits)' %}</div>
                        <input type="text" id="confirmCode" class="input-center" onmouseout="confCode()"
                               placeholder="{% trans 'Enter Your Code' %}">
                        <p class="service__total total-ora" id="codeMessage"></p>
                        <div class="footer-buttons">


                            <div class="btn def-ora" onclick="get_booking_page('enter_contacts')">
                                {% trans 'Back' %}
                            </div>
                            <button type="submit" id='booking_submit' class="btn def-ora" disabled="disabled">{% trans 'Booking' %}
                            </button>

                        </div>


                    </div>


                </form>

            </div>
            <div class="map-wrapper">
                <div class="map">
                    <div class="com-card com-card--3">
                        <div class="com-card__head">
                            <p class="com-card__head-cap">{% trans 'Awwwards If Name is Big' %}</p>
                            <button class="btn def-ora fav">{% trans 'Add to favorite' %}</button>
                        </div>
                        <div class="com-card__inner">
                            <div class="com-card__img">
                                <div class="com-card__img-box">
                                    <img src="{% static 'img/Awwwards-logo.svg' %}" alt="logo-img">
                                </div>
                            </div>
                            <div class="com-card__req">
                                <p class="com-card__req-item com-card__req-item--hours">09:00-18:00</p>
                                <a class="com-card__req-item com-card__req-item--site" href="#">www.name.co.il</a>
                                <p class="com-card__req-item com-card__req-item--phone">054 542 02 19</p>
                                <p class="com-card__req-item com-card__req-item--reviews">Reviews: <a href="#">(5
                                    Reviews)</a></p>
                                <p class="com-card__req-item com-card__req-item--location">Petah Tiqva, st. Yael Rom
                                    8</p>
                                <p class="com-card__req-item com-card__req-item--photo">14 photo or videos</p>
                            </div>
                        </div>
                    </div>
                    <div id="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2923.921096950857!2d74.5773261148513!3d42.874509510450956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389ec83d6e87b83d%3A0x7e54d3ff91301bc7!2zODAg0YPQuy4g0JouINCi0LjQvNC40YDRj9C30LXQstCwLCDQkdC40YjQutC10Lo!5e0!3m2!1sru!2skg!4v1570186366267!5m2!1sru!2skg"
                                style="border:0;" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
