{% load widget_tweaks %}
{% load static %}
{% load i18n %}

<div id="choose_period" class="set-time__block">
    {% if times %}
        {% for time in times %}
            {% if time.status %}
                <label style="color: #ee9900">
                    <input type="checkbox" disabled="disabled" class="visually-hidden" name="times"
                           value="{{ time.time }}">
                    <span>{{ time.time }}</span>
                </label>
            {% else %}
                <label>
                    <input type="checkbox" class="visually-hidden" name="times"
                           value="{{ time.time }}">
                    <span>{{ time.time }}</span>
                </label>
            {% endif %}
        {% endfor %}
    {% else %}
        <label>
            <input type="checkbox" class="visually-hidden" name="times"
                   value="Пусто!">
            <span>Пусто!</span>
        </label>
    {% endif %}
</div>