{% load widget_tweaks %}
{% load static %}
{% load i18n %}
<div class="picked-date">
    <div class="green-text">{% trans 'Date' %}</div>
    <div class="picked-date__text" style="font-size: large">{{ dateValue }}</div>
    <div class="set-time__block" style="width: 200px">
    {% for p in periodValue %}
        <label>
            <input type="checkbox" class="visually-hidden" disabled
                   value="{{ p }}">
            <span>{{ p }}</span>
        </label><br>
    {% endfor %}
    </div>
</div>
<div class="green-text">{% trans 'Type of service' %}</div>
<div class="service">
    {% for ser in  services %}
        <div class="service__item">
            <div class="service__content">
                <label class="service__label">{{ ser.service_sub_category.name }}</label>
                <p>{{ ser.price }}</p>
                <p>30 min</p>
            </div>
        </div>

    {% endfor %}

    <p class="service__total total-ora">Total: {{ totalmoney }} som / {{ totaltime }} min</p>
</div>


<div class="green-text">Master</div>
<div class="com-card">
    <div class="com-card__img">
        <div class="com-card__img-box com-card__img-box--radius">
            {% if employer.profile.image %}
                <img src="{{ employer.profile.image.url }}" alt="logo-img">
            {% else %}
                <img src="{% static 'img/avatar-big.jpg' %}" alt="logo-img">
            {% endif %}
        </div>
    </div>
    <div class="com-card__info">
        <h2 class="com-card__name">{{ employer.profile.name }}</h2>
        <p class="com-card__text">{{ employer.profile.information }} </p>
    </div>
    <div class="com-card__star none480">
        <button class="btn def-tora card__btn-a100 choosen" disabled>Choosen</button>
    </div>
</div>
