{% load static %}
{% load widget_tweaks %}
{% load i18n %}
<aside class="aside">
	<a href="" class="logo"><img src="{% static 'img/logo.png' %}" alt="logo"></a>
	<div class="user">
			<div class="user__img">
					<img src="{% static 'img/beauty.jpg' %}" alt="">
			</div>
			<p>{% trans 'client' %}</p>
	</div>
	<div class="pad"><a href="{% url 'login' %}" class="btn def-ora full">{% trans 'Book now' %}</a></div>
	<ul class="aside-list">
			<li class="aside-list__bro"><a href="{% url 'my_booking' %}" id="my_booking" onclick="customer_aside_menu('my_booking')">{% trans 'my_reservations' %}</a></li>
			<li class="aside-list__fav"><a href="#" id="my_saved" onclick="customer_aside_menu('my_saved')">{% trans 'my_favorites' %}</a></li>
			<li class="aside-list__set"><a href="{% url 'customer_settings' %}" id="customer_setting" class="active" onclick="customer_aside_menu('customer_setting')">{% trans 'settings' %}</a></li>
			<li class="aside-list__log"><a href="{% url 'logout' %}">{% trans 'logout' %}</a></li>
	</ul>
	<div class="burger-x"></div>
</aside>
