{% extends 'customer/../../../main/templates/main/base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <div class="main-content">
            <div class="main-block">
                <ul class="crumbs">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Technicians</a></li>
                    <li><a href="#">Found: 52 Organizations</a></li>
                </ul>
                <div class="main-head">
                    <div class="com-card com-card--head">
                        <div class="com-card__img">
                            <div class="com-card__img-box">
                                <img src="{% static 'img/Awwwards-logo.svg' %}" alt="logo-img">
                            </div>
                            <div class="com-card__clock none480">
                                <time>09:00</time>
                                -
                                <time>18:00</time>
                            </div>
                        </div>
                        <div class="com-card__info">
                            <h2 class="com-card__name">Awwwards Company</h2>
                            <p class="com-card__text com-card__text--lh75">Our salon is the official representative of
                                professional cosmetics and today is
                                one of the best
                                on
                                the market.When it was used a century of experience creating popular recipes beauty,
                                modern
                                technology,
                                the latest achievem... </p>
                        </div>
                        <div class="com-card__star none480">
                            <div class="star-block">
                                4.5
                            </div>
                        </div>
                    </div>
                    <div class="order-block">
                        <h3 class="title title--order">Order</h3>

                        <div class="order-items">

                            <div class="order-item order-line active">
                                <div class="order-number">1</div>
                                <div class="order-text">Choose Service</div>
                            </div>

                            <div class="order-item order-line">
                                <div class="order-number">2</div>
                                <div class="order-text">Choose Specialist</div>
                            </div>

                            <div class="order-item order-line">
                                <div class="order-number">3</div>
                                <div class="order-text">Choose Date/time</div>
                            </div>

                            <div class="order-item order-line">
                                <div class="order-number">4</div>
                                <div class="order-text">Enter Contacts</div>
                            </div>

                            <div class="order-item">
                                <div class="order-number">5</div>
                                <div class="order-text">Confirm Booking</div>
                            </div>
                        </div>
                    </div>
                </div>
                <form action="{% url 'choose_specialist' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="block" id="choose_service">
                        <p class="title">Choose a service<span
                                class="total-blue mobile480">Total: 1050 NIS / 130-160 min</span></p>

                        <div class="service">
                            {% for service in services %}
                                <div class="service__item">
                                    <div class="service__content">
                                        <label class="service__label">{{ service.service_sub_category.name }}
                                            <input type="checkbox" class="visually-hidden" name="{{ service.service_sub_category.id }}">
                                            <span class="checkmark"></span>
                                        </label>
                                        <p>{{ service.price }} som</p>
                                        <p>20-30 min</p>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                        <p class="service__total none480">Total: 1050 NIS / 130-160 min</p>
                    </div>

                    <div class="footer-buttons">
{#                        <a href="#" class="btn">Back</a>#}
{#                        <a href="" class="btn def-ora">Next step</a>#}
                        <button type="submit" class="btn def-ora">Next step</button>
                    </div>
                </form>
            </div>
            <div class="map-wrapper">
                <div class="map">
                    <div class="com-card com-card--3">
                        <div class="com-card__head">
                            <p class="com-card__head-cap">Awwwards If Name is Big</p>
                            <button class="btn def-ora fav">Add to favorite</button>
                        </div>
                        <div class="com-card__inner">
                            <div class="com-card__img">
                                <div class="com-card__img-box">
                                    <img src="{% static 'img/Awwwards-logo.svg' %}" alt="logo-img">
                                </div>
                            </div>
                            <div class="com-card__req">
                                <p class="com-card__req-item com-card__req-item--hours">09:00-18:00</p>
                                <a class="com-card__req-item com-card__req-item--site" href="#">www.name.co.il</a>
                                <p class="com-card__req-item com-card__req-item--phone">054 542 02 19</p>
                                <p class="com-card__req-item com-card__req-item--reviews">Reviews: <a href="#">(5
                                    Reviews)</a></p>
                                <p class="com-card__req-item com-card__req-item--location">Petah Tiqva, st. Yael Rom
                                    8</p>
                                <p class="com-card__req-item com-card__req-item--photo">14 photo or videos</p>
                            </div>
                        </div>
                    </div>
                    <div id="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2923.921096950857!2d74.5773261148513!3d42.874509510450956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389ec83d6e87b83d%3A0x7e54d3ff91301bc7!2zODAg0YPQuy4g0JouINCi0LjQvNC40YDRj9C30LXQstCwLCDQkdC40YjQutC10Lo!5e0!3m2!1sru!2skg!4v1570186366267!5m2!1sru!2skg"
                                style="border:0;" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}