{% extends 'customer/../../../main/templates/main/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="main-content">
            <div class="main-block">
                <ul class="crumbs">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Technicians</a></li>
                    <li><a href="#">Found: 52 Organizations</a></li>
                </ul>
                <div class="main-head">
                    <div class="com-card com-card--head">
                        <div class="com-card__img">
                            <div class="com-card__img-box">
                                <img src="{% static 'img/Awwwards-logo.svg' %}" alt="logo-img">
                            </div>
                            <div class="com-card__clock none480">
                                <time>09:00</time>
                                -
                                <time>18:00</time>
                            </div>
                        </div>
                        <div class="com-card__info">
                            <h2 class="com-card__name">Awwwards Company</h2>
                            <p class="com-card__text com-card__text--lh75">Our salon is the official representative of
                                professional cosmetics and today is
                                one of the best
                                on
                                the market.When it was used a century of experience creating popular recipes beauty,
                                modern
                                technology,
                                the latest achievem... </p>
                        </div>
                        <div class="com-card__star none480">
                            <div class="star-block">
                                4.5
                            </div>
                        </div>
                    </div>
                    <div class="order-block">
                        <h3 class="title title--order">Order</h3>

                        <div class="order-items">

                            <div class="order-item order-line completed">
                                <div class="order-number">1</div>
                                <div class="order-text">Choose Service</div>
                            </div>

                            <div class="order-item order-line active">
                                <div class="order-number">2</div>
                                <div class="order-text">Choose Specialist</div>
                            </div>

                            <div class="order-item order-line">
                                <div class="order-number">3</div>
                                <div class="order-text">Choose Date/time</div>
                            </div>

                            <div class="order-item order-line">
                                <div class="order-number">4</div>
                                <div class="order-text">Enter Contacts</div>
                            </div>

                            <div class="order-item">
                                <div class="order-number">5</div>
                                <div class="order-text">Confirm Booking</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <h4 class="title">Choose specialist</h4>
                    <div class="com-card">
                        <div class="com-card__img">
                            <div class="com-card__img-box com-card__img-box--radius">
                                <img src="{% static 'img/avatar-big.jpg' %}" alt="logo-img">
                            </div>
                            <div class="star-block mobile480">
                                4.5
                            </div>
                        </div>
                        <div class="com-card__info">
                            <h2 class="com-card__name">Asely Kanyshaeva</h2>
                            <p class="com-card__text">Hairdresser, Woman’s haircut
                                Hairdresser, Woman’s haircut
                                Hairdresser, Woman’s haircut
                                Hairdresser, Woman’s haircut </p>
                            <p class="com-card__req-item com-card__req-item--reviews-big modile480">Reviews: <a
                                    href="#">(5 Reviews)</a></p>
                        </div>
                        <div class="com-card__star none480">
                            <p class="com-card__req-item com-card__req-item--reviews-big none480">Reviews: <a href="#">(5
                                Reviews)</a></p>
                            <div class="star-block star-block--line">
                                4.5
                            </div>
                            <button class="btn def-tora card__btn-a100">Choose</button>
                        </div>
                        <button class="btn def-tora card__btn-a100 mobile480">Choose</button>
                    </div>
                    <div class="com-card">
                        <div class="com-card__img">
                            <div class="com-card__img-box com-card__img-box--radius">
                                <img src="{% static 'img/avatar-big.jpg' %}" alt="logo-img">
                            </div>
                            <div class="star-block mobile480">
                                4.5
                            </div>
                        </div>
                        <div class="com-card__info">
                            <h2 class="com-card__name">Asely Kanyshaeva</h2>
                            <p class="com-card__text">Hairdresser, Woman’s haircut
                                Hairdresser, Woman’s haircut
                                Hairdresser, Woman’s haircut
                                Hairdresser, Woman’s haircut </p>
                            <p class="com-card__req-item com-card__req-item--reviews-big modile480">Reviews: <a
                                    href="#">(5 Reviews)</a></p>
                        </div>
                        <div class="com-card__star none480">
                            <p class="com-card__req-item com-card__req-item--reviews-big none480">Reviews: <a href="#">(5
                                Reviews)</a></p>
                            <div class="star-block star-block--line">
                                4.5
                            </div>
                            <button class="btn def-tora card__btn-a100 choosen">Choosen</button>
                        </div>
                        <button class="btn def-tora card__btn-a100 choosen mobile480">Choosen</button>
                    </div>
                </div>


                <div class="footer-buttons">
                    <a href="choose_service.html" class="btn">Back</a>
                    <a href="{% url 'choose-date-time' %}" class="btn def-ora">Next step</a>
                </div>
            </div>
            <div class="map-wrapper">
                <div class="map">
                    <div class="com-card com-card--3">
                        <div class="com-card__head">
                            <p class="com-card__head-cap">Awwwards If Name is Big</p>
                            <button class="btn def-ora fav">Add to favorite</button>
                        </div>
                        <div class="com-card__inner">
                            <div class="com-card__img">
                                <div class="com-card__img-box">
                                    <img src="{% static 'img/Awwwards-logo.svg' %}" alt="logo-img">
                                </div>
                            </div>
                            <div class="com-card__req">
                                <p class="com-card__req-item com-card__req-item--hours">09:00-18:00</p>
                                <a class="com-card__req-item com-card__req-item--site" href="#">www.name.co.il</a>
                                <p class="com-card__req-item com-card__req-item--phone">054 542 02 19</p>
                                <p class="com-card__req-item com-card__req-item--reviews">Reviews: <a href="#">(5
                                    Reviews)</a></p>
                                <p class="com-card__req-item com-card__req-item--location">Petah Tiqva, st. Yael Rom
                                    8</p>
                                <p class="com-card__req-item com-card__req-item--photo">14 photo or videos</p>
                            </div>
                        </div>
                    </div>
                    <div id="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2923.921096950857!2d74.5773261148513!3d42.874509510450956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389ec83d6e87b83d%3A0x7e54d3ff91301bc7!2zODAg0YPQuy4g0JouINCi0LjQvNC40YDRj9C30LXQstCwLCDQkdC40YjQutC10Lo!5e0!3m2!1sru!2skg!4v1570186366267!5m2!1sru!2skg"
                                style="border:0;" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal">
        <div class="modal-close"></div>
        <div class="user-modal">
            <div class="com-card com-card--user">
                <div class="com-card__img">
                    <div class="com-card__img-box">
                        <img src="{% static 'img/avatar-big.jpg' %}" alt="logo-img">
                    </div>
                </div>
                <div class="com-card__info">
                    <h2 class="com-card__name">Asely Kanyshaeva</h2>
                    <p class="com-card__text">Hairdresser, Woman’s haircut
                        Hairdresser, Woman’s haircut
                        Hairdresser, Woman’s haircut
                        Hairdresser, Woman’s haircut </p>
                    <div class="com-card__contact">
                        <a href="#">+123 456 789 111</a><br>
                        <a href="mailto:J.johnson@gmail.com">J.johnson@gmail.com</a>
                    </div>
                </div>
            </div>
            <div class="user-modal__descriptions">
                Stylish, flat, easy customizable and awesome looking wordpress theme with original icons! Stylish, flat,
                easy customizable and awesome looking wordpress theme with original icons! Stylish, flat, easy
                customizable
                and awesome looking wordpress theme with original icons!
            </div>
            <div class="user-modal__item">
                <h2 class="user-modal__cap js"><span class="user-modal__circle blue">E</span>EMPLOYMENT <span
                        class="user-rel"></span></h2>
                <div class="js-user">
                    <div class="user-modal__flex">
                        <div class="user-modal__item-50">
                            <h5>PROGRAMMING SKILLS</h5>
                            <p>Wordpress/<span> 90%</span></p>
                            <p>PHP/<span> 80%</span></p>
                            <p>HTML/<span> 80%</span></p>
                            <p>CSS/<span> 80%</span></p>
                            <p>MySQL<span>/ 80%</span></p>
                            <p>JavaScript/<span> 80%</span></p>
                        </div>
                        <div class="user-modal__item-50">
                            <h5>PROGRAMMING SKILLS</h5>
                            <p>Wordpress/<span> 90%</span></p>
                            <p>PHP/<span> 80%</span></p>
                            <p>HTML/<span> 80%</span></p>
                            <p>CSS/<span> 80%</span></p>
                            <p>MySQL<span>/ 80%</span></p>
                            <p>JavaScript/<span> 80%</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-modal__item user-modal__item--edu">
                <h2 class="user-modal__cap js"><span class="user-modal__circle green">E</span>EDUCATION<span
                        class="user-rel"></span></h2>
                <div class="js-user">
                    <div class="user-modal__flex">
                        <div class="user-modal__item-100">
                            <div class="user-modal__edu-head">
                                <div class="user-modal__edu-year">
                                    <p>2004</p>
                                    <p>2005</p>
                                </div>
                                <div>
                                    <h2 class="user-modal__cap user-modal__cap--mini"><span
                                            class="user-modal__circle green">C</span>CONSECTETUR ADIPISICING ELITT</h2>
                                    <h2 class="user-modal__cap user-modal__cap--mini"><span
                                            class="user-modal__circle green">W</span>WEB DESIGN</h2>
                                </div>
                            </div>
                            <p class="user-modal__edu-text">Excepteur sint occaecat cupidatat non proident, sunt in
                                culpa qui officia
                                deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</p>
                        </div>
                        <div class="user-modal__item-100">
                            <div class="user-modal__edu-head">
                                <div class="user-modal__edu-year">
                                    <p>2004</p>
                                    <p>2005</p>
                                </div>
                                <div>
                                    <h2 class="user-modal__cap user-modal__cap--mini"><span
                                            class="user-modal__circle green">C</span>CONSECTETUR ADIPISICING ELITT</h2>
                                    <h2 class="user-modal__cap user-modal__cap--mini"><span
                                            class="user-modal__circle green">W</span>WEB DESIGN</h2>
                                </div>
                            </div>
                            <p class="user-modal__edu-text">Excepteur sint occaecat cupidatat non proident, sunt in
                                culpa qui officia
                                deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-modal__item">
                <h2 class="user-modal__cap js"><span class="user-modal__circle orang">S</span>SKILLS <span
                        class="user-rel"></span></h2>
                <div class="js-user">
                    <div class="user-modal__flex">
                        <div class="user-modal__item-50">
                            <h5>PROGRAMMING SKILLS</h5>
                            <p>Wordpress/<span> 90%</span></p>
                            <p>PHP/<span> 80%</span></p>
                            <p>HTML/<span> 80%</span></p>
                            <p>CSS/<span> 80%</span></p>
                            <p>MySQL<span>/ 80%</span></p>
                            <p>JavaScript/<span> 80%</span></p>
                        </div>
                        <div class="user-modal__item-50">
                            <h5>PROGRAMMING SKILLS</h5>
                            <p>Wordpress/<span> 90%</span></p>
                            <p>PHP/<span> 80%</span></p>
                            <p>HTML/<span> 80%</span></p>
                            <p>CSS/<span> 80%</span></p>
                            <p>MySQL<span>/ 80%</span></p>
                            <p>JavaScript/<span> 80%</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-modal__buttons">
                <button class="btn def-ora">Download</button>
                <button class="btn def-blue">Print</button>
            </div>
        </div>
    </div>
{% endblock %}