


{% extends 'customer/../../../main/templates/main/base.html' %}
{% load static %}
{% block content %}
    <div class="user-modal">
        <div class="com-card com-card--user">
            <div class="com-card__img">
                <div class="com-card__img-box">
                    <img src=" {% static 'img/avatar-big.jpg' %}" alt="logo-img">
                </div>
            </div>
            <div class="com-card__info">
                <h2 class="com-card__name">Asely Kanyshaeva</h2>
                <p class="com-card__text">Hairdresser, Woman’s haircut
                    Hairdresser, Woman’s haircut
                    Hairdresser, Woman’s haircut
                    Hairdresser, Woman’s haircut </p>
                <div class="com-card__contact">
                    <a href="#">+123 456 789 111</a><br>
                    <a href="mailto:J.johnson@gmail.com">J.johnson@gmail.com</a>
                </div>
            </div>
        </div>
        <div class="user-modal__descriptions">
            Stylish, flat, easy customizable and awesome looking wordpress theme with original icons! Stylish, flat,
            easy customizable and awesome looking wordpress theme with original icons! Stylish, flat, easy customizable
            and awesome looking wordpress theme with original icons!
        </div>
        <div class="user-modal__item">
            <h2 class="user-modal__cap js"><span class="user-modal__circle blue">E</span>EMPLOYMENT <span
                    class="user-rel"></span></h2>
            <div class="js-user">
                <div class="user-modal__flex">
                    <div class="user-modal__item-50">
                        <h5>PROGRAMMING SKILLS</h5>
                        <p>Wordpress/<span> 90%</span></p>
                        <p>PHP/<span> 80%</span></p>
                        <p>HTML/<span> 80%</span></p>
                        <p>CSS/<span> 80%</span></p>
                        <p>MySQL<span>/ 80%</span></p>
                        <p>JavaScript/<span> 80%</span></p>
                    </div>
                    <div class="user-modal__item-50">
                        <h5>PROGRAMMING SKILLS</h5>
                        <p>Wordpress/<span> 90%</span></p>
                        <p>PHP/<span> 80%</span></p>
                        <p>HTML/<span> 80%</span></p>
                        <p>CSS/<span> 80%</span></p>
                        <p>MySQL<span>/ 80%</span></p>
                        <p>JavaScript/<span> 80%</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-modal__item user-modal__item--edu">
            <h2 class="user-modal__cap js"><span class="user-modal__circle green">E</span>EDUCATION<span
                    class="user-rel"></span></h2>
            <div class="js-user">
                <div class="user-modal__flex">
                    <div class="user-modal__item-100">
                        <div class="user-modal__edu-head">
                            <div class="user-modal__edu-year">
                                <p>2004</p>
                                <p>2005</p>
                            </div>
                            <div>
                                <h2 class="user-modal__cap user-modal__cap--mini"><span
                                        class="user-modal__circle green">C</span>CONSECTETUR ADIPISICING ELITT</h2>
                                <h2 class="user-modal__cap user-modal__cap--mini"><span
                                        class="user-modal__circle green">W</span>WEB DESIGN</h2>
                            </div>
                        </div>
                        <p class="user-modal__edu-text">Excepteur sint occaecat cupidatat non proident, sunt in culpa
                            qui officia
                            deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit.</p>
                    </div>
                    <div class="user-modal__item-100">
                        <div class="user-modal__edu-head">
                            <div class="user-modal__edu-year">
                                <p>2004</p>
                                <p>2005</p>
                            </div>
                            <div>
                                <h2 class="user-modal__cap user-modal__cap--mini"><span
                                        class="user-modal__circle green">C</span>CONSECTETUR ADIPISICING ELITT</h2>
                                <h2 class="user-modal__cap user-modal__cap--mini"><span
                                        class="user-modal__circle green">W</span>WEB DESIGN</h2>
                            </div>
                        </div>
                        <p class="user-modal__edu-text">Excepteur sint occaecat cupidatat non proident, sunt in culpa
                            qui officia
                            deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-modal__item">
            <h2 class="user-modal__cap js"><span class="user-modal__circle orang">S</span>SKILLS <span
                    class="user-rel"></span></h2>
            <div class="js-user">
                <div class="user-modal__flex">
                    <div class="user-modal__item-50">
                        <h5>PROGRAMMING SKILLS</h5>
                        <p>Wordpress/<span> 90%</span></p>
                        <p>PHP/<span> 80%</span></p>
                        <p>HTML/<span> 80%</span></p>
                        <p>CSS/<span> 80%</span></p>
                        <p>MySQL<span>/ 80%</span></p>
                        <p>JavaScript/<span> 80%</span></p>
                    </div>
                    <div class="user-modal__item-50">
                        <h5>PROGRAMMING SKILLS</h5>
                        <p>Wordpress/<span> 90%</span></p>
                        <p>PHP/<span> 80%</span></p>
                        <p>HTML/<span> 80%</span></p>
                        <p>CSS/<span> 80%</span></p>
                        <p>MySQL<span>/ 80%</span></p>
                        <p>JavaScript/<span> 80%</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-modal__buttons">
            <button class="btn def-ora">Download</button>
            <button class="btn def-blue">Print</button>
        </div>
    </div>
{% endblock %}