{% load static %}
<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=cyrillic"
          rel="stylesheet">
    <link href=" {% static 'libs/air-datepicker/dist/css/datepicker.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'libs/jquery-nice-select-1.1.0/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-admin.css' %}">
    <link rel="stylesheet" href="{% static 'css/media.css' %}">


</head>

<body>
<header>
    <div class="container">
        <nav class="main-nav">
            <a href="#" class="logo">
                <img src="{% static 'img/logo.png' %}" alt="logo">
            </a>
            <ul class="main-nav__btn">
                <li>
                    <a href="#" class="favorite">Favorite</a>
                </li>
                <li>
                    <a href="#" class="btn def-tblue">Sign In</a>
                </li>
                <li>
                    <a href="#" class="btn def-ora">Add a New Company</a>
                </li>
            </ul>
            <div class="burger"></div>
        </nav>
    </div>
</header>
{% block content %}
    <div class="container">
        <div class="main-content">
            <div class="main-block">
                <div class="main-head main-head--white">
                    <h1>Find your appointment booking</h1>
                    <form class="search-form">
                        <div class="search-block">
                            <input class="search-input" type="text" placeholder="I am looking for a service or company">
                            <button class="btn search-btn">Search</button>
                        </div>
                    </form>
                </div>
                <div class="block">
                    <div class="company-block">
                        <div class="company-item">
                            <a href="{% url 'booking' %}">
                                <div class="company-item-img">
                                    <img src="{% static 'img/Technicians-icon.png' %}" alt="menu-img">
                                </div>
                                <p>Technicians</p>
                            </a>
                        </div>
                        <div class="company-item">
                            <a href="{% url 'booking' %}">
                                <div class="company-item-img">
                                    <img src="{% static 'img/medicine-icon.png' %}" alt="menu-img">
                                </div>
                                <p>Medicine</p>
                            </a>
                        </div>
                        <div class="company-item">
                            <a href="{% url 'booking' %}">
                                <div class="company-item-img">
                                    <img src="{% static 'img/Fix-icon.png' %}" alt="menu-img">
                                </div>
                                <p>Fix</p>
                            </a>
                        </div>
                        <div class="company-item">
                            <a href="{% url 'booking' %}">
                                <div class="company-item-img">
                                    <img src="{% static 'img/Musical-icon.png' %}" alt="menu-img">
                                </div>
                                <p>Musical</p>
                            </a>
                        </div>
                        <div class="company-item">
                            <a href="{% url 'booking' %}">
                                <div class="company-item-img">
                                    <img src="{% static 'img/dog-icon.png' %}" alt="menu-img">
                                </div>
                                <p>Pets</p>
                            </a>
                        </div>
                        <div class="company-item">
                            <a href="{% url 'booking' %}">
                                <div class="company-item-img">
                                    <img src="{% static 'img/Relax-icon.png' %}" alt="menu-img">
                                </div>
                                <p>Relax</p>
                            </a>
                        </div>
                        <div class="company-item">
                            <a href="{% url 'booking' %}">
                                <div class="company-item-img">
                                    <img src="{% static 'img/Beauty-icon.png' %}" alt="menu-img">
                                </div>
                                <p>Beauty</p>
                            </a>
                        </div>
                        <div class="company-item">
                            <a href="{% url 'booking' %}">
                                <div class="company-item-img">
                                    <img src="{% static 'img/Study-icon.png' %}" alt="menu-img">
                                </div>
                                <p>Study</p>
                            </a>
                        </div>
                        <div class="company-item">
                            <a href="{% url 'booking' %}">
                                <div class="company-item-img">
                                    <img src="{% static 'img/Shoping-icon.png' %}" alt="menu-img">
                                </div>
                                <p>Shoping</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="map-wrapper">
                <div class="map">
                    <div id="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2923.921096950857!2d74.5773261148513!3d42.874509510450956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389ec83d6e87b83d%3A0x7e54d3ff91301bc7!2zODAg0YPQuy4g0JouINCi0LjQvNC40YDRj9C30LXQstCwLCDQkdC40YjQutC10Lo!5e0!3m2!1sru!2skg!4v1570186366267!5m2!1sru!2skg"
                                style="border:0;" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
<script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'libs/air-datepicker/dist/js/datepicker.min.js' %}"></script>
<script src="{% static 'libs/jquery-nice-select-1.1.0/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>


</body>

</html>