{% extends 'customer/../../../main/templates/main/base.html' %}
{% load static %}
{% load my_tags %}
{% load i18n %}
{% block content %}
    <div class="container">
        <div class="main-content">
            <div class="main-block">
                <div class="main-head">
                    <form class="search-form" method="get">
                        <div class="search-block">
                            <input class="search-input" type="text"
                                   placeholder="{% trans 'I am looking for a service or company' %}"
                                   name="search_company">
                            <button class="btn search-btn none480" type="submit"
                                    style="color: #2F80ED">{% trans 'Search' %}</button>
                        </div>
                        <div class="filter-block">
                            <div class="radial-check-wrapper">
                                <input type="checkbox" class="radial-check">
                                <p>{% trans 'Rating' %}</p>
                            </div>
                            <div class="radial-check-wrapper none480">
                                <input type="checkbox" class="radial-check">
                                <p>{% trans 'Show on the Map' %}</p>
                            </div>
                            <button class="btn btn-filter">{% trans 'Show on the Map' %}</button>
                            <button class="search-btn search-btn--filter">{% trans 'Search' %}</button>
                            <button class="btn search-btn mobile480">{% trans 'Search' %}</button>
                        </div>
                    </form>
                </div>
                <ul class="crumbs">
                    <li><a href="{% url 'index' %}">{% trans 'Home' %}</a></li>
                    <li><a href="{% url 'choose_company' path %}">{{ path }}</a></li>
                    <li><a href="#">{% trans 'Found' %}: {{ count }} {% trans 'Organizations' %}</a></li>
                </ul>
                <div class="block">
                    {% for company in companies %}
                        <div class="com-card">
                            <div class="com-card__img">
                                <div class="com-card__img-box">
                                    <a href="{% url 'about_company' company.id %}"><img src="{{ company.logo.url }}"
                                                                                        class="center-image-project"
                                                                                        alt="logo-img"></a>
                                </div>
                                <div class="star-block mobile480">
                                    4.5
                                </div>
                            </div>
                            <div class="com-card__info">
                                <a href="{% url 'about_company' company.id %}"><h2
                                        class="com-card__name">{{ company.company_name }}</h2></a>
                                <p class="com-card__text">{{ company.description.description }}</p>
                                                                <div class="com-card__clock">
{#                                                                    <span>Will opens tomorrow at</span>#}
                                                                    <time>{{ company.opened_time }}</time>
                                                                    -
                                                                    <time>{{ company.closed_time }}</time>
                                                                </div>
                            </div>
                            <div class="com-card__star none480">
                                {#                                <div class="star-block">#}
                                {#                                    4.5#}
                                {#                                </div>#}
                                <a class="btn def-ora card__btn-a100 none480"
                                   href="{% url 'add_booking' company.company_name %}">{% trans 'Booking now' %}</a>
                            </div>
                            <a class="btn def-ora card__btn-a100 mobile480"
                               href="{% url 'add_booking'  company.company_name %}">{% trans 'Booking now' %}</a>
                        </div>
                    {% endfor %}

                    <div class="pagination">
                        {% if companies.has_other_pages %}
                            <ul class="pagination__ul">
                                {% if companies.has_previous %}
                                    {#                                    <li><a href="?page={{ companies.previous_page_number }}">&#60;&#60;</a></li>#}
                                    <li>
                                        <a href="?{% param_replace page=companies.previous_page_number %}">&#60;&#60;</a>
                                    </li>

                                {% endif %}
                                {% for i in companies.paginator.page_range %}
                                    {% if companies.number == i %}
                                        <li><a href="?{% param_replace page=i %} " class="active">{{ i }}</a></li>
                                    {% else %}
                                        <li><a href="?{% param_replace page=i %}">{{ i }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if companies.has_next %}
                                    <li><a href="?{% param_replace page=companies.next_page_number %}">&#62;&#62;</a>
                                    </li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="map-wrapper">
                <div class="map">
                    <div id="map">

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    <script src="https://api-maps.yandex.ru/2.1.8/?apikey=9312f419-42d1-482d-8a79-ba77054ed952&lang=ru_RU"></script>
    <script>
        ymaps.ready(init);

        function init() {
            let myMap = new ymaps.Map("map", {
                center: [42.876366, 74.603710],
                zoom: 6,
                type: 'yandex#map'
            }, {
                searchControlProvider: 'yandex#search'
            });
            let marker = null;

            {% for company in companies %}

                marker = new ymaps.Placemark([{{ company.contact.latitude }}, {{ company.contact.longitude }}], {
                    balloonContent: 'Наш адрес',
                    hintContent: 'Наш адрес',
                }, {
                    iconLayout: 'default#image',
                });

                myMap.geoObjects.add(marker);
            {% endfor %}
        }
    </script>
{% endblock %}

