{% extends 'main/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load i18n %}
{% block content %}
    {% include 'customer/aside_menu.html' %}
    <main class="main">
        <div class="content">
            <div class="content__header">
                <div class="burger"></div>
                <div>
                    <div class="t1">{% trans 'my_reservations' %}</div>
                    <ul class="bread">
                        <li><a href="#">{% trans 'my_reservations' %}</a></li>
                    </ul>
                </div>
            </div>

            <div class="content__inner">
                <div class="half-block">
                    <div class="content__block">
                        <div class="content__items content__grow">
                            <div class="content__item choose-sect">
                                <a href="#" class="choose-sect__upc active">{% trans 'upcoming' %}</a>
                                <a href="#" class="choose-sect__mis">{% trans 'past' %}</a>
                            </div>
                        </div>
                    </div>
                    {#                    <div class="content__item content__item--r">#}
                    {#                        <a href="{% url 'login' %}" class="btn def-ora big">Новое бронирование</a>#}
                    {#                    </div>#}
                </div>

{#                {% for booking in bookings %}#}
{#                    {{ booking.company }}<br>#}
{#                    {{ booking.service }}<br>#}
{#                    {{ booking.employer }}<br>#}
{#                    {{ booking.status }}<br>#}
{#                    {{ booking.booking_date }}<br>#}
{#                {% endfor %}#}
{#            #}
                <div class="content__block">
                    <div class="content__items">
                        <div class="content__item overflow">
                            <table class="meet-t" cellspacing="20" border="0" cellpadding="0">
                                <tbody>
                                <tr>
                                    <th>{% trans 'company_profile' %}</th>
                                    <th>{% trans 'contacts' %}</th>
                                    <th>{% trans 'selected_service' %}</th>
                                    <th>{% trans 'status' %}</th>
                                </tr>

                                {% for booking in bookings %}
                                    <tr>
                                        <td>
                                            <div class="meet-t__ava">
                                                {% if booking.employer.profile.image %}
                                                    <img
                                                            src="{{ booking.employer.profile.image.url }}"
                                                         alt="{{ booking.employer.profile.image }}">
                                                {% endif %}
                                                <p>
                                                    <b>{{ booking.employer.profile.name }}</b>
                                                </p>
                                            </div>
                                        </td>
                                        <td><a href="tel:+996000123123">{{ booking.employer.profile.phone }}</a><br><a
                                                href="mailto:simple@mail.in">{{ booking.employer.profile.email }}</a>
                                        </td>
                                        <td><p class="t2-14">{{ booking.service }}</p></td>
                                        {#                                        <td>01:30</td>#}
                                        <td>
                                            {% if booking.status == 'В ожидании' %}
                                                <b class="status">
                                                    {{ booking.status }}
                                                </b>
                                            {% elif booking.status == 'Выполнено' %}
                                                <b class="status g-stat">
                                                    {{ booking.status }}
                                                </b>
                                            {% elif booking.status == 'Отменено клиентом' %}
                                                <b class="status r-stat">
                                                    {{ booking.status }}
                                                </b>
                                            {% else %}
                                                <b class="status r-stat">
                                                    {{ booking.status }}
                                                </b>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <span class="edit"></span>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}
