{% extends 'customer/../../../main/templates/main/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load i18n %}

{% block content %}
    {% include 'customer/aside_menu.html' %}
    <main class="main">
        <div class="content">
            <div class="content__header">
                <div class="burger"></div>
                <div>
                    <div class="t1">{% trans 'settings' %}</div>
                    <ul class="bread">
                        <li><a href="#">{% trans 'settings' %}</a></li>
                    </ul>
                </div>
            </div>
            <form action="#" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="content__inner">
                    <div class="content__block">
                        <div class="content__items">
                            <div class="w66">
                                <div class="content__item">
                                    <label for="" class="label">{% trans 'full_name' %}</label>
                                    {#                                    <input type="text" class="input" placeholder="ФИО">#}
                                    {{ form.name|add_class:'input'|attr:'placeholder:ФИО' }}

                                </div>
                                {#                                <div class="content__item">#}
                                {#                                    <label for="" class="label">Фамилия</label>#}
                                {#                                    <input type="text" class="input" placeholder="Фамилия">#}
                                {#                                </div>#}
                                <div class="content__item">
                                    <label for="" class="label">{% trans 'phone' %}</label>
                                    {#                                    <input type="text" class="input" placeholder="Телефон">#}
                                    {{ form.phone|add_class:'input'|attr:'placeholder:Телефон' }}
                                </div>
                                <div class="content__item">
                                    <label for="" class="label">{% trans 'email' %}</label>
                                    {#                                    <input type="text" class="input" placeholder="Электронная почта">#}
                                    {{ form.email|add_class:'input'|attr:'placeholder:Электронная почта' }}
                                </div>
                            </div>
                            <div class="w33">
                                <div class="content__item">
                                    <label for="" class="label">{% trans 'user_photo' %}</label>
                                    <div class="add-ava">
                                        <div class="add-ava__img">
                                            {% if request.user %}
                                                <img src="{{ request.user.profile.image.url }}"
                                                     class="center-image-project"
                                                     alt="">
                                            {% else %}
                                                <img src="{% static 'img/beauty.jpg' %}" class="center-image-project"
                                                     alt="">
                                            {% endif %}
                                        </div>
                                        <div class="add-ava__btn-box">
                                            <label for="" class="btn def-blue">
                                                {% trans 'add_photo' %}
                                                {#                                                <input class="visually-hidden" type="file" name="image">#}
                                                {{ form.image|add_class:'visually-hidden' }}
                                            </label>
                                            <button class="btn def-btn">{% trans 'delete_photo' %}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w100-f">
                                <div class="content__item">
                                    <button class="btn def-ora big" type="submit">{% trans 'save' %}</button>
                                </div>
                                <div class="content__item">
                                    <button class="btn big">{% trans 'cancel' %}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </main>

{% endblock %}