*{
    box-sizing: border-box;
}
body {
    background-color: #F2F2F2;
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 140%;
    color: #333;
    font-family: 'Roboto', sans-serif;

}

a {
    color: inherit;
    font-family: Roboto, Arial, 'Helvetica Neue', Helvetica, sans-serif;
    text-decoration: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    display: inline-block; }

p {
    color: inherit;
    font-family: Roboto, Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: inherit;
    margin: 0;
    padding: 0; }

address {
    font-style: normal; }

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    color: inherit;
    font-family: Roboto, Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 400; }

ul {
    list-style: none;
    margin: 0;
    padding: 0; }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden; }


header {
    background: #2F80ED;
    width:100%;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    width:100%;
}

.Main-nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    height: 70px;
}

.logo{
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	top: 0;
	left: 0;
	height: 70px;
	width: 276px;
	background: #2F80ED;
	flex-shrink: 0;
}

.Main-nav ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.Main-nav > ul > li {
    list-style: none;
    margin: 0 15px;
}

.btn {
    font-size: 12px;
    outline: none;
    cursor: pointer;
    text-align: center;
    font-weight: normal;
    padding: 10px 20px;
    border: transparent;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.btn:active {
    opacity: 0.5;
}


.Sign-in-btn {
    background: #fff;
    color: #2F80ED;
}

.Add-new-company-btn {
    background: linear-gradient(88.73deg, #FF7A00 0.23%, #FF5C00 99.78%);
    color: #fff;
    font-weight: lighter;
}

.Favorite-text {
    padding-left: 45px;
    position: relative;
    font-weight: normal;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.Favorite-text::before {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    left: 10px;
    background: url("../img/heart-icon.png") no-repeat center;
}

.main {
		max-width: 1920px;
		margin-left: 276px;
		position: relative;
}

.aside{
    width: 276px;
    height: 100%;
    height: calc(100%);
    flex-shrink: 0;
    left: 0;
    top: 0px;
    background: #2F80ED;
    position: fixed;
		overflow-x: auto;
}
.aside::-webkit-scrollbar{
    width: 0;
}

.aside>.logo{
   
}
.aside+.main{
    width:calc(100% - 276px);
}
.user{
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-weight: 300;
    font-size: 18px;
    color: #fff;
    padding: 30px 10px;
}

.user__img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 10px;
}

.aside-list>li>a{
    display: block;
    font-size: 14px;
    font-weight: 500;
    padding: 11px;
    padding-left: 37px;
    color: #fff;

		background-repeat: no-repeat;
		background-position: 10px center;
}

.aside-list>li a:hover,
.aside-list>li a.active{
    background-color: #6DA6F2;
}

.aside-list__drop>li a:hover,
.aside-list__drop>li a.active{
    background-color: rgba(51,51,51,0.2);
}
.aside-list__drop{
    display: none;
    height:0;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.aside-list__drop.active{
    display:block;
    height:auto;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.aside-list__drop>li>a{
    display: block;
    font-size: 14px;
    font-weight: 400;
    padding: 11px;
    padding-left: 37px;
    color: #D5E6FB;
}

.aside-list__cal>a{
	background-image: url(../img/calendar.svg);
}
.aside-list__mee>a{
	background-image: url(../img/meet.svg);
}
.aside-list__cus>a{
	background-image: url(../img/cus.svg);
}
.aside-list__emp>a{
	background-image: url(../img/emp.svg);
}
.aside-list__set>a{
	background-image: url(../img/set.svg);
}
.aside-list__ema>a{
	background-image: url(../img/ema.svg);
}
.aside-list__sup>a{
	background-image: url(../img/sup.svg);
}
.aside-list__log>a{
	background-image: url(../img/exi.svg);
	margin-top: 30px;
}
.aside-list__bro>a{
	background-image: url(../img/bro.svg);
}
.aside-list__fav>a{
	background-image: url(../img/fav.svg);
}

.aside-list__drop>li>a:hover{
    background-color: #6DA6F2;
}




.content{
    flex-grow: 1;
    min-height: calc(100vh - 70px)
}

.content__inner{
    padding: 0 10px;    
}

.half-block{
		display: flex;
		justify-content: space-between;
		align-items: center;
		align-content: center;
}

.content__wrap{
	display: flex;
}

.content__block.grow{
    flex-grow: 1;
}

.content__block{
    padding: 10px;
}

.content__block.full{
}

.content__block-50{
	width: 50%;
}

.content__items{
    display: flex;
    flex-wrap: wrap;

    padding: 10px;

    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px;
}

.content__grow{
    display: flex;
    width: 100%;
}

.content__grow>.content__item{
    flex-grow: 1;
}

.content__item{
    padding: 10px;
}


.content__item--r{
    margin-left: auto;
}

.content__header{
    padding: 10px 16px 10px 50px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}

.content__header>div>a{
    margin-left: 20px;
}

.t1{
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    color: #828282;
}

.content__header .t1{
    padding-bottom: 0;
}

.bread{
    display: flex;
    align-items: center;
}

.bread a{
    padding: 10px 0px;
    padding-right: 25px;
    color: #2F80ED;
    font-size: 12px;
    position: relative;
    white-space: nowrap;
}

.bread a:after {
    content: ">";
    position: absolute;
    right: 10px;
}

.bread > li:last-child a:after {
    content: "";
}

.bread li:last-child a {
    color: #828282;
}

.bread li:first-child:last-child a {
    color: #2F80ED;
}

.btn:hover{
    opacity: 0.9;
}

.btn.big{
    min-width: 250px;
}

.full{
    width: 100%;
}

.def-blue{
    background-color: #2F80ED;
    color: #fff;
}

.def-bluish{
    background-color: #56CCF2;
    color: #fff;
}

.def-tblue{
    color: #2F80ED;
}

.def-tora{
    color: #FF8111;
}

.def-ora{
    background: linear-gradient(88.73deg, #FF7A00 0.23%, #FF5C00 99.78%);
    color: #fff;
}

.cal-head{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.cal-head__this-month{
    color: #828282;
    font-size: 36px;
    padding: 0px 35px;
    width: auto;
    position: relative;
    white-space: nowrap;
    text-align: center;
}

.str1{
    cursor: pointer;
    position: absolute;
    display: block;
    width: 10px;
    height: 20px;
    top: 50%;
    margin-top: -10px;
    background: url(../img/cal-next.svg) no-repeat center;
}

.prev{
    left: 0;
}

.next{
    left: auto;
    right: 0;
    transform: rotate(180deg);
}

.cal-head__filter{
    display: flex;
}

.cal-head__filter .btn{
    min-width: 150px;
}

.cal-head__filter .btn.active,
.cal-head__filter .btn:hover{
    color: #FF7001;
}

.my-calendar{
    display: flex;
    flex-wrap: wrap;
    border: 0.5px solid #E0E0E0;
}

.my-calendar__week,.my-calendar__oneday{
    display: flex;
    width: 100%;
    background-color: #fff;
}
.my-calendar__weekday{
    flex-grow: 1;
    width:  calc(100% / 7);
    text-align: center;
    font-size: 12px;
    padding: 10px;    
    border: 0.5px solid #E0E0E0;
}
.bg-grey{
    background:#F2F2F2 ;
}
.my-calendar__day{
    width: calc(100% / 7);
    border: 0.5px solid #E0E0E0;
    position: relative;
    min-height: 95px;
}

.my-calendar__day.active,
.my-calendar__day:hover{
    background-color: #f6f6f6;
}
.calendar--month .my-calendar__day .current-day{
    padding:3px 5px;
    text-align:right;
}
.my-calendar>.my-calendar__tusk{
    width: 100%;
    display: flex;
}
.current-day.prev-month{
    color:#bdbdbd;
}
.calendar__tusk{
    padding:5px;
    cursor:pointer;
    border-bottom:1px solid #fff;
}
.my-calendar__oneday-list{
    width:100%;
}
.my-calendar__oneday-list .calendar__tusk{
    width:100%;
}
.my-calendar>.my-calendar__tusk:hover{
    background-color: #CCF0FB;
}
.calendar__tusk.user-1{
    background:#B3D7F0
}
.calendar__tusk.user-2{
    background:#B3E2B5
}
.calendar__tusk.user-3{
    background:#DEA3B6
}
.calendar__tusk.user-4{
    background:#E5B2FF
}
.calendar__tusk.user-5{
    background: #ebdecc
}
.calendar__tusk.user-6{
    background: #dad0f0
}
.calendar__tusk.user-7{
    background: #f0cfd9
}
.calendar__tusk.user-8{
    background: #d6f0bd
}
.my-calendar>.my-calendar__tusk>b{
    width: 100%;
    max-width: 120px;
    min-width: 90px;
    max-height: none;
    padding: 10px;
    text-align: center;
    overflow: none;    
    border-right: 1px solid #E0E0E0;
}
.my-calendar>.my-calendar__tusk>p{
    flex-grow: 1;
    min-width: 90px;
    max-height: none;
    padding: 10px;
    text-align: left;
    overflow: none;
}

.my-calendar__day>span{
    position: absolute;
    top: 5px;
    right: 5px;
}

.my-calendar__tusk b{
    line-height: 14px;
    max-height: 14px;
    overflow: hidden;

}

.my-calendar__tusk p{
    line-height: 14px;
    max-height: 28px;
    overflow: hidden;
}

.my-calendar--week .my-calendar__tusk{
    margin-bottom: 20px;

}

.my-calendar--week .my-calendar__tus p{
    max-height: 42px;
}

.tabs-container{
    position: relative;
}

.content__inner.tabs-container{
    padding-top: 24px;
}

.tabs-container .content__items{
    border-radius: 0 0 10px 10px;
}

.tabs--cal{
    position: absolute;
    top: 0px;
    left: 20px;
    display: flex;
    z-index: 3;
}

.tabs1 li a {
  display: block;
  position: relative;
  top: 0;
  padding: 10px 25px;
  border-radius: 10px 10px 0px 0px;
  background: #e0e0e0;
  opacity: 1;
  transition: all 0.1s ease-in-out;

}

.tabs1 li:not(:last-child) {
  margin-right: 0px;
}

.tabs1 li.active a,
.tabs1 li a:hover {
  opacity: 1;
  top: 0;
    background:#fff;
}

.tabs-content{
    z-index: 2;
    position: relative;
    top:2px;
}

.tabs-panel {
  display: none;
}

.tabs-panel.active {
  display: block;
}


.filter{
    display: flex;
    flex-wrap: wrap;
}

.filter .content__item{
    display: flex;
    flex-direction: column;
}

.label{
    margin-bottom: 10px;
    color: #333;
    display: block;
}

.input{
    width: 100%;
    height: 36px;
    line-height: 36px;
    border-radius: 5px;
    border: solid 1px #e8e8e8;
    outline: none;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 12px;
    color: #828282;
}

.input--233{
    width: 233px;
}

.input--400{
    width: 400px;
}

.textarea{
    width: 100%;    
    border-radius: 5px;
    border: solid 1px #e8e8e8;
    outline: none;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 10px;
}


textarea::-webkit-input-placeholder { 
    color: #828282;
    font-size: 12px;
}

.select{
    width: 100%;
    height: 36px;
    line-height: 36px;
    font-size: 12px;
}

.select li[data-display]{
    display: none
}

.select .list{
    width: 100%;
}

.select .list li:hover{
    background-color: #CCF0FB;
}

.a-select{
    width: 233px;
}

.meet-t{
    border: none;
    background: #fff;
    overflow: auto;
    padding:0 20px 0 0;
    width: 100%;
}

.overflow{
    overflow: auto; 
}

.content__block>.meet-t{
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}


.content__block>.meet-t tr:first-child{
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.meet-t{
    text-align: center;
    position: relative;
    overflow-x: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}
.meet-div{
    text-align: center;
    height: 60px;
    padding-right:15px;
    position: relative;
    overflow-x: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}
.all-staff-schedule .meet-div{
    height:auto;
}
.block-name{
    display:flex;
    width: 100%;
    margin-bottom:20px;
    font-weight:bold;
}

.meet-t--2 tr:first-child{
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.meet-t--2 tr>td{
    text-align: left;    
}

.meet-t--2 tr>td:last-child{
    text-align: right;
}

.meet-t--2 tr>th:first-child{
    width: 25px;
}

.meet-t--date tr:first-child{
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.meet-t--date tr>td{
    min-width: 80px;
    max-width: 80px;
}

.meet-t--date tr>td:first-child{
    min-width: 156px;
    max-width: 156px;
}


.meet-t td,
.meet-t th{
    background-color: #fff;
}

.meet-t__ava{
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

.meet-t__ava img{
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin-right: 10px;
}
.meet-t__ava p{
    white-space: nowrap;
    text-align: left;
    line-height: 16px;
}

.meet-t__ava span{
    color: #333;
    font-weight: 300;
}

.meet-t a[href^="tel"],
.meet-t a[href^="mailto"]{
    white-space: nowrap;
}

.tr{

}
.tr>div{
    padding: 10px;
    width: 100px;
    flex-shrink: 0;
}
.tr>div:first-child{
    text-align: left;
    width: 170px;
}
.tr>div>.t9{
    padding: 5px;
}

.t2-14{
    line-height: 14px;
    max-height: 28px;
    overflow: hidden;
}

.status{
    color: #2F80ED;
    white-space: nowrap;
}

.g-stat{
    color: #27AE60;
}

.stat-aсtive{
    color: #fff;
    width: 107px;
    padding: 5px 10px;
    background: #27AE60;
    border-radius: 12.5px;
}

.stat-aсtive-no{    
    color: #fff;
    width: 107px;
    padding: 5px 10px;
    background: #EB5757;
    border-radius: 12.5px;

}

.r-stat{
    color: #EB5757;
}

.edit{
    width: 46px;
    height: 46px;
    display: block;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
    background: url(../img/edit.svg) no-repeat center;
}

.edit--text{
    background-image: none;
}

.new-meet{
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
}

.new-meet>.content__item{
    width: 100%;
}

.new-meet .btn{
    width: 100%;
}

.modal{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 15;
    display: none;
    align-items: center;
    justify-content: center;
    align-content: center;
    overflow: auto; 
}

.modal.active{
    display: flex;
}

.modal-close{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 16;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content{
    z-index: 17;
}

.drag{
    display: block;
    width: 21px;
    height: 40px;
    margin:5px 15px;
    cursor: pointer;
    background: url(../img/drag.svg) no-repeat center;
}
.meet-t__status,.meet-t__service-count,.meet-t__time,.meet-t__del{
    width:180px;
    text-align: center;
}
.meet-t__name{
    margin-left:100px;
}
.choose-sect{
		display: flex;
		padding-bottom: 0;
		padding-top: 0;
}

.content__inner--flex{
    display: flex;
}

.content__inner--flex .choose-sect{
    flex-direction: column;
    width: 270px;
    flex-shrink: 0;
}

.choose-sect>a{
    font-weight: 500;
    padding: 10px;
		padding-left: 30px;
		padding-right: 130px;
		background-repeat: no-repeat;
		background-position: 0px center;
		flex-grow: 1;
}
.choose-sect>.active{
    color: #FF8111;
}

.choose-sect__det{
	background-image: url(../img/det.svg);
}
.choose-sect__ser{
	background-image: url(../img/ser.svg);
}
.choose-sect__gra{
	background-image: url(../img/gra.svg);
}
.choose-sect__ner{
	background-image: url(../img/ner.svg);
}
.choose-sect__kon{
	background-image: url(../img/kon.svg);
}
.choose-sect__opi{
	background-image: url(../img/opi.svg);
}
.choose-sect__fot{
	background-image: url(../img/fot.svg);
}
.choose-sect__rek{
	background-image: url(../img/rek.svg);
}
.choose-sect__upc{
	background-image: url(../img/upcoming.svg);
}
.choose-sect__mis{
	background-image: url(../img/missed.svg);
}
.choose-sect__det.active{
	background-image: url(../img/det-ora.svg);
}
.choose-sect__ser.active{
	background-image: url(../img/ser-ora.svg);
}
.choose-sect__gra.active{
	background-image: url(../img/gra-ora.svg);
}
.choose-sect__ner.active{
	background-image: url(../img/ner-ora.svg);
}
.choose-sect__kon.active{
	background-image: url(../img/kon-ora.svg);
}
.choose-sect__opi.active{
	background-image: url(../img/opi-ora.svg);
}
.choose-sect__fot.active{
	background-image: url(../img/fot-ora.svg);
}
.choose-sect__rek.active{
	background-image: url(../img/rek-ora.svg);
}
.choose-sect__upc.active{
	background-image: url(../img/upcoming-ora.svg);
}
.choose-sect__mis.active{
	background-image: url(../img/missed-ora.svg);
}

.t9{
    color: #828282;
    font-size: 9px;
    padding: 10px 0;
}

.pad{
	padding: 10px;
}

.pad-r{
	float: right;
}

.w66{
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    width: 66.66666%;
    flex-wrap: wrap;
}

.w66>.content__item{
    width: 50%; 
}

.w100-33{
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
}

.w100-33>.content__item{
    width: 33.3333%; 
}

.w33{
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    width: 33.3333%;
    flex-wrap: wrap;
}

.w33>.content__item{
    width: 100%; 
}

.w33-50{
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    width: 33.3333%;
    flex-wrap: wrap;
}

.w33-50>.content__item{
    width: 50%;
}

.w66-f{
	display: flex;
	width: 66.66666%;
	flex-wrap: wrap;
}

.w50-50{
	display: flex;
	align-items: flex-start;
	align-content: flex-start;
	width: 50%;
	flex-wrap: wrap;
}

.w50-50>.content__item{
	width: 50%;
}

.w50{
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    width: 50%;
    flex-wrap: wrap;
}

.w50>.content__item{
    width: 100%;
}

.w100{
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
}

.w100>.content__item{
    width: 100%;
}

.w100-f{
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-end;
    width: 100%;
    flex-wrap: wrap;
}

.add-ava{
    display: flex;
    flex-wrap: wrap;
}

.add-ava__img{
    flex-shrink: 0;
    width: 116px;
    height: 116px;
    overflow: hidden;
    border: 1px solid #BDBDBD;
    margin-right: 10px;
    border-radius: 10px;
}

.add-ava__btn-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    -ms-align-items: flex-start;
    align-items: flex-start;
    padding-left: 10px;
}

.add-ava__btn-box>.btn{
    width: 100%;
    margin-bottom: 10px;
}

.add-ava__btn-box>div .btn{    
    margin-right: 10px;
}

.add-ava__btn-box>p{
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

.add-ava__btn-box>span.t9{
    max-width: 150px;
}

.label-head{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #F2F2F2;
    padding: 15px 10px 10px 10px;
}
.label-head__desc{
    margin-right:17%;
    display:block;
}
.schedule-item{
    display:flex;
    margin-top:20px;
}
.schedule-item .schedule-text.label{
    width:auto;
    margin-top:5px;
    margin-right:15px;
}
.schedule-item .nice-select .option{
    line-height:1em;
    min-height:auto;
    padding:8px 10px;
}
.schedule-item .content__item{
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.schedule-item .label{
    font-weight:bold;
}
.schedule-item .content__item>span{
    margin-right:15px;
    margin-top:10px;
}
.schedule-item .content__item .select{
    width:100%;
    min-width:200px;
}
.add-timebreak-form  .content__item .select{
    min-width:auto;
}
.schedule-item__timebreak{
    position:relative;
    display:flex;
    margin-left:auto;
    align-items: flex-end;
}
.schedule-item .add-timebreak-btn{
    color:#2d8bfa;
    cursor: pointer;
    margin:0 15px 18px;
}
.timebreak-list__item{
    background:#2d8bfa;
    color:#fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display:flex;
    align-items: stretch;
    padding:0;
    justify-content: flex-start;
    margin:10px auto;
}
.timebreak-list__item span{
    padding:8px;
}
.timebreak-list__item .remove-btn{
    margin-left:auto;
    cursor: pointer;
    border-left:1px solid #8ba3bd;
    padding:5px 10px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.add-timebreak-form{
    position:absolute;
    display:none;
    width:320px;
    padding:0 15px 10px;
    border:1px solid #e0e0e0;
    background: #ffffff;
    z-index: 999;
    top:100%;
    left:-110px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0px 1px 15px rgba(0,0,0,0.25);
    text-align: center;
}
.add-timebreak-form.active{
    display:block;
}
.add-timebreak-form::after{
    border: 20px solid transparent;	border-bottom: 20px solid #e0e0e0;
    content: '';
    position: absolute;
    left: 145px;
    top: -40px;
}
.add-timebreak-form .flex{
    display:flex;
    margin-bottom:15px;
    justify-content: center;
    align-items: center;
}
.add-timebreak-form .save-btn{
    margin-right:15px;
}
.schedule-item .nice-select.open .list{
    max-height:360px;
    overflow: auto;
}
.label-head .label-check{
    margin: 0;
    width: auto;
}
.subcategory-check-block{
    display:flex;
    justify-content: flex-start;
    width:100%;
    align-items:center;
}
.label-check{
    display: block;
    position: relative;
    margin-right:auto;
    padding-left: 32px;
}

.label-check>span{
    font-size: 10px;
}

.label-check>div{
    position: absolute;
    width: 12px;
    height: 12px;
    left: 10px;
    top: 50%;
    margin-top: -6px;
    border-radius: 2px;
    border: 1px solid #828282;
}

.label-check>input:checked + div{
    background: url(../img/Checkbox-ic.svg) no-repeat center;
}

p.label{
    width: 100%;
    padding: 15px 10px 0 10px;
    margin: 0;
}

.datepicker--content{
    box-sizing: border-box;
    height: 417px;
    padding-bottom: 62px;
}

.datepicker-inline .datepicker{
    width: auto;
    border-radius: 10px;
    border: none;

}
.datepicker--day-name{
    color: #333;
    font-weight: 500;
}

.datepicker--nav{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: none;
    justify-content: center;
}

.datepicker--nav-title i,
.datepicker--nav-title{
    color: #000;
    font-size: 36px;
}
.datepicker--cell-day{
    height: 40px;
    margin: 2.5%;
    width: 9.28571%;
}
.datepicker--cell-day.-selected- {
    color: #fff;
    border-radius: 100% !important;
    background: linear-gradient(89.73deg, #FF7A00 0.23%, #FF5C00 99.78%);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}
.datepicker--cell-day.-other-month-{
    background: none;
    box-shadow: none;
}
.datepicker--cell-day.-weekend-{
    color: #2F80ED;
}
.datepicker--cell-day.-weekend-.-selected-{
    color: #fff;
}
.datepicker--day-name{
    /* color: #4a4a4a; */
    padding-bottom: 10px;
}

#year_input{
    display: inline-block;
    border: none;
    padding: 0 20px;
    width: 100%;
    font-size: 36px;
}

.datepicker--cells{
    box-sizing: border-box;
}

/*.big-calendar{
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    position: relative;
    padding: 50px 0;
}

.big-calendar__months{
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}*/


.big-calendar .months-container{
    display: flex !important;
    flex-wrap: wrap;
}

.big-calendar .col-xs-3,
.big-calendar .col-xs-4{
    width: 33.3333%;
    height: auto;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 10px;
}
.big-calendar .month{
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    height: 325px;
}
.big-calendar .month thead{
    border-bottom: 1px solid #E0E0E0;
}
.big-calendar .month-title{
    font-size: 18px;
    font-weight: 400;
}
.big-calendar .day-header{
    font-size: 12px;
    font-weight: 500;
}
.big-calendar .day-header:first-child{
    color: #2F80ED;
}
.big-calendar .day-content{
    border-radius: 100% !important;
    width: 34px;
    height: 34px;
    margin: 0 auto !important;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;

}


.big-calendar.calendar table td, 
.big-calendar.calendar table th{
    width: 40px;
    height: 36px;
    padding: 0;
}

.big-calendar.calendar table tr td:first-child{
    color: #2F80ED;
}

.big-calendar .day-content.active{
    color: #fff;
    background: linear-gradient(89.73deg, #FF7A00 0.23%, #FF5C00 99.78%);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

.big-calendar .panel-default > table{
    display: flex;
    justify-content: center;
}

.big-calendar .panel-default .prev,
.big-calendar .panel-default .prev:hover{
    height: 50px;
    background-image: url(../img/cal-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

.big-calendar .panel-default .next,
.big-calendar .panel-default .next:hover{
    height: 50px;
    background-image: url(../img/cal-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg);
    background-color: transparent;
}


.big-calendar .panel-default .year-neighbor,
.big-calendar .panel-default .year-neighbor2{
    display: none !important;
}

.big-calendar .panel-default .year-title{
    height: 50px;
    width: 170px;
    font-size: 36px;
    font-weight: 400;
    line-height: 50px;
}



.checkbox-input[type="checkbox"] {
    position: relative;
    width: 45px;
    height: 15px;
    -webkit-appearance: none;
    background: #EBEBEB;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
    transition: 1s;
}

.checkbox-input[type="checkbox"]:before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    top: -5px;
    left: -1px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    background: #828282;
    transition: 1s;
}

.checkbox-input:checked[type="checkbox"]{
    background: #C1D9FA;
}

.checkbox-input:checked[type="checkbox"]:before {
    left: 25px;
    background: #2F80ED;
}

.burger,
.burger-x{
    display: none;
}



/*media*/

@media (min-width: 1920px){
    .content__inner{
        padding-right: 0;
    }
}

@media (max-width: 1200px){
    .main{
        margin-left: 0;
        position: static;
    }
    .aside{
        display: none;
        height: 100%;
        position: fixed;
				top: 0;
				left: 0;
        z-index: 20;
    }
    .aside.active{
        display: flex;
        flex-direction: column;
        overflow-x: inherit;
    }
    .aside-list{
        overflow: auto;
    }
    .aside-list::-webkit-scrollbar{
        width: 0;
    }
    .content__header{
        position: relative;
    }
    .burger{
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        left: 10px;
        top: 50%;
        margin-top: -15px;
        background: url(../img/burger-b.svg) no-repeat center;
    }
    .burger-x{
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        right: -45px;
        top: 15px;
        background: #fff url(../img/x.svg) no-repeat center;
        background-color: transparent;
    }

}
@media (max-width: 920px){
    .w66{
        width: 50%;
    }

    .w66>.content__item{
        width: 100%; 
    }

    .w100-33{
        width: 100%;
    }

    .w100-33>.content__item{
        width: 50%; 
    }

    .w33{
        width: 50%;
    }

    .w33>.content__item{
        width: 100%; 
    }

    .w33-50{
        width: 50%;
    }

    .w33-50>.content__item{
        width: 100%;
		}
		
		.w50-50{
			width: 50%;
		}

		.w50-50>.content__item{
			width: 50%;
		}

    .w50{
        width: 50%;
    }

    .w50>.content__item{
        width: 100%;
    }

    .content__inner--flex{
        /*display: block;*/
    }
    .content__inner--flex .choose-sect{
        flex-direction: row;
    }
}
/*media end*/