{% load static %}
{% load i18n %}
{% load my_tags %}
<aside class="aside">
    <a href="{% url 'index' %}" class="logo"><img src="{% static 'img/logo.png' %}" alt="logo"></a>
    <div class="user">
        <div class="user__img">
            {% if request.user %}
                <img src="{{ request.user.company.logo.url }}"
                     class="center-image-project" alt="">
            {% else %}
                <img src="{% static 'img/beauty.jpg' %}"
                     class="center-image-project" alt="">
            {% endif %}

        </div>
        <p>Awwwards Company</p>
    </div>
    <ul class="aside-list">
        {% if user.profile.company %}
            <li class="aside-list__cal"><a href="{% url 'company' %}"
                                           class="{% active_calendar request 'calendar'%}">{% trans 'calendar' %}</a></li>
            {% url 'company-meet' as meet %}
            <li class="aside-list__mee "><a href="{% url 'company-meet' %}"
                                            class="{% active request meet %}">{% trans 'meetings' %}</a></li>
            {% url 'company-customers' as customers %}
            <li class="aside-list__cus"><a href="{% url 'company-customers' %}"
                                           class="{% active request customers %}">{% trans 'clients' %}</a></li>
            {% url 'company_employer_list' as employer %}
            <li class="aside-list__emp"><a href="{% url 'company_employer_list' %} "
                                           class="{% active request employer %}">{% trans 'employers' %}</a>
            </li>

            <li class="aside-list__set"><a href="{% url 'create_company' %}">{% trans 'settings' %}</a>

                <ul class="aside-list__drop {% active_setting request %}">
                    {% url 'create_company' as main %}
                    <li><a href="{% url 'create_company' %}" class="{% active request main %}">{% trans 'mains' %}</a>
                    </li>
                    <li><a href="{% url 'company-information-contacts' %}"
                           class="{% active_setting_inf request %}">{% trans 'information' %}</a></li>
                    {% url 'company-schedule' as graphic_contacts %}
                    <li><a href="{% url 'company-schedule' %}"
                           class="{% active request graphic_contacts %}">{% trans 'schedule' %}</a></li>
                </ul>
            </li>
            {#            <li class="aside-list__ema"><a href="#">Email уведомления</a></li>#}
            {#            <li class="aside-list__sup"><a href="#">Служба поддержки</a></li>#}
            <li class="aside-list__log"><a href="{% url 'logout' %}">{% trans 'logout' %}</a></li>
        {% else %}
            <li class="aside-list__set "><a href="{% url 'create_company' %}">{% trans 'settings' %}</a>
                <ul class="aside-list__drop active">
                    {% url 'create_company' as main %}
                    <li><a href="{% url 'create_company' %}" class="{% active request main %}">{% trans 'mains' %}</a>
                    </li>
                    <li><a href="{% url 'company-information-contacts' %}"
                           class="{% active_setting_inf request %}">{% trans 'information' %}</a></li>
{#                    {% url 'company-graphic-employer' as graphic_contacts %}#}
{#                    <li><a href="{% url 'company-graphic-employer' %}"#}
{#                           class="{% active request graphic_contacts %}">{% trans 'schedule' %}</a></li>#}
                </ul>
            </li>
            <li class="aside-list__log"><a href="{% url 'logout' %}">{% trans 'logout' %}</a></li>
        {% endif %}
    </ul>
    <div class="burger-x"></div>
</aside>