{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

    {% include 'company/_left_menu.html' %}
    <main class="main">
        <div class="content">
            <div class="content__header">
                <div class="burger"></div>
                <div>
                    <div class="t1">{% trans 'clients' %}</div>
                    <ul class="bread">
                        <li><a href="{% url 'company-customers' %}">{% trans 'clients' %}</a></li>
                    </ul>
                </div>
                <div>
                    <a href="{% url 'company_create_employer' %}" class="btn def-blue">{% trans 'add_employer' %}</a>
                </div>
            </div>
            <div class="content__inner">
                <div class="content__block">
                    <form class="content__items filter">
                        <div class="content__item">
                            <label class="label">{% trans 'search_by_name' %}</label>
                            <input class="input input--400" type="text" name="search_by_customer"
                                   placeholder="Введите имя клиента">
                        </div>
                        <div class="content__item content__item--r">
                            <label class="label" for="">{% trans 'results' %}: {{ bookings.count }}</label>
                            <button class="btn def-ora">{% trans 'show_result' %}</button>
                        </div>
                    </form>
                </div>

                <div class="content__block">
                    <div class="content__items">
                        <div class="content__item overflow">
                            <table class="meet-t" cellspacing="20" border="0" cellpadding="0">
                                <tbody>
                                <tr>
                                    <th>{% trans 'meetings' %}</th>
                                    <th>{% trans 'name' %}</th>
                                    <th>{% trans 'customer_contact' %}</th>
                                    <th></th>
                                </tr>
                                {% for booking in bookings %}
                                    <tr>
                                        <th>{{ forloop.counter }}</th>

                                        <td>
                                            <div class="meet-t__ava">
                                                {% if booking.customer %}
                                                    <img src="{{ booking.customer.profile.image.url }}" alt="">
                                                {% else %}
                                                    <img src="{% static 'img/beauty.jpg' %}" alt="">
                                                {% endif %}

                                                <p>
                                                    <b>{{ booking.contact_name }}</b>
                                                </p>
                                            </div>
                                        </td>
                                        <td><a href="tel:+996000123123">{{ booking.contact_phone }}</a><br><a
                                                href="mailto:simple@mail.in">{{ booking.contact_email }}</a>
                                        </td>


                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}