{% extends 'main/base.html' %}
{% load static %}
{% load my_tags %}
{% load i18n %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'js/fullcalendar/dist/fullcalendar.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/calendar/calendar.css' %}">
{% endblock %}
{% block content %}
    {% include 'company/_left_menu.html' %}
    <main class="main">
        <div class="content">
            <div class="content__header">
                <div class="burger"></div>
                <div>
                    <div class="t1">{% trans 'calendar' %}</div>
                </div>
            </div>
            <div class="content__inner tabs-container">
                <ul class="tabs1 tabs--cal">
                    <li class="{% active_calendar request 'calendar'%}">
                        <a href="{% url 'company' %}" >{% trans 'all_employees' %}</a>
                    </li>
                    {% for employer in employers %}
                        <li class="{% active_calendar request employer.profile.user_id %}">
                            <a href="{% url 'company-calendar-employer' employer.profile.user_id %}">{{ employer.profile.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="content__block tabs-content">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </main>
    <div class="modal">
        <div class="modal-close"></div>
        <form class="modal-content content__items new-meet">
            <div class="content__item">
                <label class="label" for="">{% trans 'assignment_employee' %}</label>
                <select name="" id="" class="select f-select">
                    <option data-display="Выберите сотрудника"></option>
                    <option value="">Медведь</option>
                    <option value="">Седведь</option>
                    <option value="">Ведвед</option>
                </select>
            </div>
            <div class="content__item">
                <label class="label" for="">{% trans 'assigned_service' %}</label>
                <select name="" id="" class="select f-select">
                    <option data-display="Выберите сервис"></option>
                    <option value="">Медведь</option>
                    <option value="">Седведь</option>
                    <option value="">Ведвед</option>
                </select>
            </div>
            <div class="content__grow">
                <div class="content__item">
                    <label class="label">{% trans 'date' %}</label>
                    <input class="datepicker-here input" type="text" placeholder="01.09.2019">
                </div>
                <div class="content__item">
                    <label class="label">{% trans 'time_from' %}</label>
                    <input class="input" type="text" placeholder="09:00">
                </div>
                <div class="content__item">
                    <label class="label">{% trans 'to' %}</label>
                    <input class="input" type="text" placeholder="09:00">
                </div>
            </div>
            <div class="content__item">
                <label class="label" for="">{% trans 'choose_client' %}</label>
                <select name="" id="" class="select f-select">
                    <option data-display="Выберите клиента"></option>
                    <option value="">Медведь</option>
                    <option value="">Седведь</option>
                    <option value="">Ведвед</option>
                </select>
            </div>
{#            <div class="content__item">#}
{#                <label class="label" for="">Отправить уведомление?</label>#}
{#                <select name="" id="" class="select f-select">#}
{#                    <option data-display="Не отправлять"></option>#}
{#                    <option value="">Медведь</option>#}
{#                    <option value="">Седведь</option>#}
{#                    <option value="">Ведвед</option>#}
{#                </select>#}
{#            </div>#}
{#            <div class="content__item">#}
{#                <label class="label" for="">Оставить заметку</label>#}
{#                <textarea class="textarea" name="" id="" cols="" rows="7" placeholder="Не отправлять"></textarea>#}
{#            </div>#}
            <div class="content__grow">
                <div class="content__item">
                    <button class="btn def-ora">{% trans 'save' %}</button>
                </div>
                <div class="content__item">
                    <button class="btn">{% trans 'cancel' %}</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'js/fullcalendar/dist/fullcalendar.min.js' %}"></script>
    <script src="{% static 'js/fullcalendar/dist/locale-all.js' %}"></script>
    <script>
        $(document).ready(function () {
            !function ($) {
                'use strict';

                let CalendarApp = function () {
                    this.$body = $('body');
                    this.$calendar = $('#calendar'),
                        this.$event = ('#calendar-events div.calendar-events'),
                        this.$categoryForm = $('#add-new-event form'),
                        this.$extEvents = $('#calendar-events'),
                        this.$modal = $('#my-event'),
                        this.$saveCategoryBtn = $('.save-category'),
                        this.$calendarObj = null;
                };

                /* on drop */
                CalendarApp.prototype.onDrop = function (eventObj, date) {
                    console.log('dropped');
                    let defaultDuration = moment.duration($('#calendar').fullCalendar('option', 'defaultTimedEventDuration'));
                    let end = date.clone().add(defaultDuration); // on drop we only have date given to us
                    console.log('start is ' + date.format());
                    console.log('end is ' + end.format());

                    let $this = this;
                    // retrieve the dropped element's stored Event Object
                    let originalEventObject = eventObj.data('eventObject');
                    let $categoryClass = eventObj.attr('data-class');
                    // we need to copy it, so that multiple events don't have a reference to the same object
                    let copiedEventObject = $.extend({}, originalEventObject);
                    // assign it the date that was reported
                    copiedEventObject.start = date;
                    if ($categoryClass)
                        copiedEventObject['className'] = [$categoryClass];
                    // render the event on the calendar
                    $this.$calendar.fullCalendar('renderEvent', copiedEventObject, true);

                    eventObj.remove();

                    //start and call the ajax function......
                    change_content_rent(date.format(), end.format());
                },
                    CalendarApp.prototype.enableDrag = function () {
                        //init events
                        $(this.$event).each(function () {
                            // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
                            // it doesn't need to have a start or end
                            let eventObject = {
                                title: $.trim($(this).text()), // use the element's text as the event title
                                durationEditable: true,
                                duration: '01:00',
                                id: $(this).attr('id'),
                            };
                            // store the Event Object in the DOM element so we can get to it later
                            $(this).data('eventObject', eventObject);
                            // make the event draggable using jQuery UI
                            $(this).draggable({
                                zIndex: 999,
                                revert: true, // will cause the event to go back to its
                                revertDuration: 0,//  original position after the drag
                                scroll: false,
                            });
                        });
                    };
                /* Initializing */
                CalendarApp.prototype.init = function () {
                    this.enableDrag();
                    /*  Initialize the calendar  */
                    let date = new Date();
                    let d = date.getDate();
                    let m = date.getMonth();
                    let y = date.getFullYear();
                    let form = '';
                    let today = new Date($.now());
                    let defaultEvents = [];

                    let bookings = {{ bookings }};
                    console.log(bookings)
                    let events = [];
                    $.each(bookings, function (index, value) {
                        events.push({
                            title: value.name,
                            start: value.date + 'T' + value.start_time,
                            end: value.date + 'T' + value.end_time,
                            editable: false,
                            selectAllow: false,
                        })
                    });

                    let $this = this;
                    $this.$calendarObj = $this.$calendar.fullCalendar({
                        height: 600,
                        slotDuration: '00:30:00',
                        slotLabelInterval: '00:30:00',
                        /* If we want to split day time each 30minutes */
                        minTime: '06:00:00',
                        maxTime: '24:00:00',
                        defaultView: 'agendaWeek',
                        handleWindowResize: true,
                        locale: 'ru',
                        defaultDate: today,
                        slotLabelFormat: 'HH:mm',
                        defaultTimedEventDuration: '01:00:00',
                        allDaySlot: false,

                        header: {
                            left: 'prev title next',
                            center: '',
                            right: 'today month,agendaWeek,agendaDay',
                        },

                        events: events,

                        eventColor: '#378006',
                        eventOverlap: false,
                        selectOverlap: false,
                        editable: true,
                        droppable: false, // this allows things to be dropped onto the calendar !!!
                        eventLimit: false, // allow "more" link when too many events
                        selectable: false,
                        selectAllow: false,
                        drop: function (date) {
                            $this.onDrop($(this), date);
                        },

                        select: function (start, end, allDay) {
                            $this.onSelect(start, end, allDay);
                        },

                        eventDrop: function (event, delta, revertFunc) {
                            console.log(event.title + ' was dropped on ');
                            let defaultDuration = moment.duration($('#calendar').fullCalendar('option', 'defaultTimedEventDuration'));
                            let end = event.end || event.start.clone().add(defaultDuration);
                            console.log('START IS' + event.start.format());
                            console.log('END IS ' + end.format());

                            //start and call the ajax function......
                            change_content_rent(event.start.format(), end.format());
                        },

                        eventResize: function (event, delta, revertFunc) {
                            console.log('Start time: ' + event.start.format() + 'end time: ' + event.end.format());
                            //start and call the ajax function......
                            change_content_rent(event.start.format(), event.end.format());
                        },
                    });

                },
                    //init CalendarApp
                    $.CalendarApp = new CalendarApp, $.CalendarApp.Constructor = CalendarApp;

            }(window.jQuery),
                //initializing CalendarApp
                $.CalendarApp.init();
        });
    </script>
{% endblock %}