{% extends 'company/calendar.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    {% include 'company/_left_menu.html' %}
    <main class="main">
        <div class="content">
            <div class="content__header">
                <div class="burger"></div>
                <div>
                    <div class="t1">{% trans 'users' %}</div>
                    <ul class="bread">
                        <li><a href="{% url 'create_company' %}">{% trans 'settings' %}</a></li>
                        <li><a href="{% url 'company-users' %}">{% trans 'users' %}</a></li>
                    </ul>
                </div>
                <div>
                    <a href="#" class="btn def-blue">{% trans 'Invite existing' %}</a>
                    <a href="#" class="btn def-blue">{% trans 'add_employee' %}</a>
                </div>
            </div>
            <div class="content__inner">
                <div class="content__block">
                    <div class="content__items">
                        <div class="content__item full">
                            <table cellspacing="20" cellpadding="0">
                                <tbody>
                                <tr>
                                    <th></th>
                                    <th>{% trans 'Employee profile' %}</th>
                                    <th>{% trans 'Unremovable' %}</th>
                                    <th>{% trans 'contact' %}</th>
                                    <th>{% trans 'Rights' %}</th>
                                    <th>{% trans 'last visit' %}</th>
                                    <th></th>
                                </tr>
                                {% for employer in employers %}
                                    <tr>
                                        <th>
                                            <span class="drag"></span>
                                        </th>
                                        <td>
                                            <div class="meet-t__ava">
                                                <img src="{% static 'img/beauty.jpg' %}" alt="">

                                                <p>
                                                    <b>{{ employer.username }}</b>
                                                    <br>
                                                    <span>{{ employer.username }}</span>
                                                </p>
                                            </div>
                                        </td>
{#                                        <td>#}
{#                                            <input type="checkbox" class="checkbox-input" checked>#}
{#                                        </td>#}
{#                                        <td>#}
{#                                            <a href="tel:+996000123123">+996 (000) 123-123</a><br><a#}
{#                                                href="mailto:simple@mail.in">simple@mail.in</a>#}
{#                                        </td>#}
{#                                        <td>Статистика, Клиенты, Отправка SMS, Настройки, Обзор, Журнал, Платежи,#}
{#                                            Управление#}
{#                                            пользователями,#}
{#                                        </td>#}
{#                                        <td>01.08.2019 <br>05:35:26</td>#}
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>
{% endblock %}