{% extends 'company/calendar.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    {% include 'company/_left_menu.html' %}
    <main class="main">
        <div class="content">
            <div class="content__header">
                <div class="burger"></div>
                <div>
                    <div class="t1">{% trans 'Personnel Setup Schedule' %}</div>
                    <ul class="bread">
                        <li><a href="{% url 'create_company' %}">{% trans 'settings' %}</a></li>
                        <li><a href="{% url 'company-schedule' %}">{% trans 'Personnel Setup Schedule' %}</a></li>
                    </ul>
                </div>
                <div>
                    <a href="{% url 'company_create_employer' %}" class="btn def-blue">{% trans 'add_employee' %}</a>
                </div>
            </div>
            <div class="content__inner">
                <div class="content__block">

                    <form class="content__items filter">
                        <div class="content__item">
                            <label class="label" for="">{% trans 'Position' %}</label>
                            <select name="service_sub_category" id="" class="select a-select">
                                <option data-display="Любая должность"></option>
                                {% for foo in sub_categories %}
                                    <option value="{{ foo.name }}">{{ foo.name }}</option>
                                {% endfor %}


                            </select>
                        </div>

                        <div class="content__item content__item--r">
                            <label class="label" for="">{% trans 'results' %}: {{ employers.count }}</label>
                            <button class="btn def-ora">{% trans 'Show result' %}</button>
                        </div>
                    </form>

                </div>
                <div class="content__block overflow all-staff-schedule">
                    {% for employer in employers %}
                        <div class="tr meet-div">
                            <div class="meet-t__ava">
                                <img src="{% static 'img/beauty.jpg' %}" alt="">

                                <p>
                                    <b><a href="graphic_employer.html">{{ employer.profile.name }}</a></b>
                                    <br>

                                    <span>{{ employer.services.first }}</span>


                                </p>
                            </div>
                            {% for foo in employer.employer_day_mode.all %}
                                <div>
                                    {% if foo.day == 0 %}
                                        <b>{% trans 'Monday' %}</b>
                                    {% elif foo.day == 1 %}
                                        <b>{% trans 'Tuesday' %}</b>
                                    {% elif foo.day == 2 %}
                                        <b>{% trans 'Wednesday' %}</b>
                                    {% elif foo.day == 3 %}
                                        <b>{% trans 'Thursday' %}</b>
                                    {% elif foo.day == 4 %}
                                        <b>{% trans 'Friday' %}</b>
                                    {% elif foo.day == 5 %}
                                        <b>{% trans 'Saturday' %}</b>
                                    {% elif foo.day == 6 %}
                                        <b>{% trans 'Sunday' %}</b>

                                    {% endif %}
                                    <p class="t9">
                                        {{ foo.start_work }}-{{ foo.end_work }} <br>
                                        {{ foo.start_break }}-{{ foo.end_break }}
                                    </p>
                                </div>
                            {% endfor %}


                            {#                            <div>#}
                            {#                                <b>пн. 29.12.20</b>#}
                            {#                                <p class="t9">#}
                            {#                                    10:00 - 12:00 <br>#}
                            {#                                    13:00 - 19:00#}
                            {#                                </p>#}
                            {#                            </div>#}
                            {#                            <div>#}
                            {#                                <b>пн. 29.12.20</b>#}
                            {#                                <p class="t9">#}
                            {#                                    10:00 - 12:00 <br>#}
                            {#                                    13:00 - 19:00#}
                            {#                                </p>#}
                            {#                            </div>#}
                            {#                            <div>#}
                            {#                                <b>пн. 29.12.20</b>#}
                            {#                                <p class="t9">#}
                            {#                                    10:00 - 12:00 <br>#}
                            {#                                    13:00 - 19:00#}
                            {#                                </p>#}
                            {#                            </div>#}
                            {#                            <div>#}
                            {#                                <b>пн. 29.12.20</b>#}
                            {#                                <p class="t9">#}
                            {#                                    10:00 - 12:00 <br>#}
                            {#                                    13:00 - 19:00#}
                            {#                                </p>#}
                            {#                            </div>#}
                            {#                            <div>#}
                            {#                                <b>пн. 29.12.20</b>#}
                            {#                                <p class="t9">#}
                            {#                                    10:00 - 12:00 <br>#}
                            {#                                    13:00 - 19:00#}
                            {#                                </p>#}
                            {#                            </div>#}
                            {#                            <div>#}
                            {#                                <b>пн. 29.12.20</b>#}
                            {#                                <p class="t9">#}
                            {#                                    10:00 - 12:00 <br>#}
                            {#                                    13:00 - 19:00#}
                            {#                                </p>#}
                            {#                            </div>#}
                            {#                            <div>#}
                            {#                                <b>пн. 29.12.20</b>#}
                            {#                                <p class="t9">#}
                            {#                                    10:00 - 12:00 <br>#}
                            {#                                    13:00 - 19:00#}
                            {#                                </p>#}
                            {#                            </div>#}
                        </div>
                    {% endfor %}


                </div>
            </div>
        </div>
    </main>
{% endblock %}