{% extends 'company/calendar.html' %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}
{% block content %}
    {% include 'company/_left_menu.html' %}
    <main class="main">
        <div class="content">
            <div class="content__header">
                <div class="burger"></div>
                <div>
                    <div class="t1">{% trans 'settings' %}</div>
                    <ul class="bread">
                        <li><a href="{% url 'create_company' %}">{% trans 'settings' %}</a></li>
                        <li><a href="{% url 'company-information-contacts' %}">{% trans 'information' %}</a></li>
                        <li><a href="{% url 'company-information-description' %}">{% trans 'description' %}</a></li>
                    </ul>
                </div>
            </div>
            <div class="content__inner content__inner--flex">
                {% include 'company/company_content_block.html' %}
                <div class="content__block">
                    <form action="" method="post" class="content__items">
                        {% csrf_token %}

                        <div class="w50">
                            <div class="content__item">
                                <label for="" class="label">{% trans 'Description en' %}</label>
{#                                <input type="text" class="input" placeholder="Description">#}
                                {{ form.description_en|add_class:'input'|attr:'placeholder:Company' }}
                            </div><div class="content__item">
                                <label for="" class="label">{% trans 'Description ru' %}</label>
{#                                <input type="text" class="input" placeholder="Description">#}
                                {{ form.description_ru|add_class:'input'|attr:'placeholder:Company' }}
                            </div><div class="content__item">
                                <label for="" class="label">{% trans 'Description he' %}</label>
{#                                <input type="text" class="input" placeholder="Description">#}
                                {{ form.description_he|add_class:'input'|attr:'placeholder:Company' }}
                            </div>
                        </div>
                        <div class="w100">
                            <div class="content__item">
                                <button class="btn def-ora full" type="submit">{% trans 'save' %}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}