{% extends 'company/calendar.html' %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}
{% block content %}
    {% include 'company/_left_menu.html' %}
    <main class="main">
        <div class="content">
            <div class="content__header">
                <div class="burger"></div>
                <div>
                    <div class="t1">{% trans 'settings' %}</div>
                    <ul class="bread">
                        <li><a href="{% url 'create_company' %}">{% trans 'settings' %}</a></li>
                        <li><a href="{% url 'company-information-contacts' %}">{% trans 'information' %}</a></li>
                        <li><a href="{% url 'company-information-requisite' %}">{% trans 'requisites' %}</a></li>
                    </ul>
                </div>
            </div>
            <div class="content__inner content__inner--flex">
                {% include 'company/company_content_block.html' %}

                <div class="content__block">

                    <form action="" method="post" class="content__items">
                        {% csrf_token %}
                        <div class="w50">

                            <div class="content__item">
                                <label for="" class="label">{% trans 'Type Name' %}</label>
                                {#                                    <input type="text" class="input" placeholder="Название">#}
                                {{ form.type|add_class:'input'|attr:'placeholder:Название' }}
                            </div>


                            <div class="content__item">
                                <label for="" class="label">{% trans 'Name of legal entity' %}</label>
                                {{ form.legal_entity|add_class:'input'|attr:'placeholder:Название' }}
                            </div>
                            <div class="content__item"></div>
                            <div class="content__item">
                                <label for="" class="label">{% trans 'INN' %}</label>
                                {{ form.inn|add_class:'input'|attr:'placeholder:ИНН' }}
                            </div>
                            <div class="content__item">
                                <label for="" class="label">{% trans 'KPP' %}</label>
                                {{ form.kpp|add_class:'input'|attr:'placeholder:КПП' }}
                            </div>
                            <div class="content__item">
                                <label for="" class="label">{% trans 'BIK' %}</label>
                                {{ form.bik|add_class:'input'|attr:'placeholder:БИК' }}
                            </div>
                        </div>
                        <div class="w50">

                            <div class="content__item">
                                <label for="" class="label">{% trans 'Legal address en' %}</label>
                                {{ form.legal_address_en|add_class:'input'|attr:'placeholder:Юридический адрес' }}
                            </div>
                            <div class="content__item">
                                <label for="" class="label">{% trans 'Legal address ru' %}</label>
                                {{ form.legal_address_ru|add_class:'input'|attr:'placeholder:Юридический адрес' }}
                            </div>
                            <div class="content__item">
                                <label for="" class="label">{% trans 'Legal address he' %}</label>
                                {{ form.legal_address_he|add_class:'input'|attr:'placeholder:Юридический адрес' }}
                            </div>

                            <div class="content__item">
                                <label for="" class="label">{% trans 'Actual address en' %}</label>
                                {{ form.actual_address_en|add_class:'input'|attr:'placeholder:Фактический адрес' }}
                            </div>
                            <div class="content__item">
                                <label for="" class="label">{% trans 'Actual address ru' %} </label>
                                {{ form.actual_address_ru|add_class:'input'|attr:'placeholder:Фактический адрес' }}
                            </div>
                            <div class="content__item">
                                <label for="" class="label">{% trans 'Actual address he' %}</label>
                                {{ form.actual_address_he|add_class:'input'|attr:'placeholder:Фактический адрес' }}
                            </div>
                            <div class="content__item"></div>
                            <div class="content__item">
                                <label for="" class="label">{% trans 'Bank`s name' %}</label>
                                {{ form.bank|add_class:'input'|attr:'placeholder:Банк' }}
                            </div>
                            <div class="content__item">
                                <label for="" class="label">{% trans 'Correspondent account' %}</label>

                                {{ form.correspondent_account|add_class:'input'|attr:'placeholder:Корреспондентский счет' }}
                            </div>
                            <div class="content__item">
                                <label for="" class="label">{% trans 'Payment account' %}</label>
                                {{ form.payment_account|add_class:'input'|attr:'placeholder:Расчетный счет ' }}
                            </div>
                        </div>
                        <div class="w100">
                            <div class="content__item">
                                <button class="btn def-ora full" type="submit">{% trans 'save' %}</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </main>
{% endblock %}