{% extends 'company/calendar.html' %}
{% load widget_tweaks %}
{% load static %}
{% load i18n %}
{% block content %}

    {% include 'company/_left_menu.html' %}
    <main class="main">
        <div class="content">
            <div class="content__header">
                <div class="burger"></div>
                <div>
                    <div class="t1">{% trans 'settings' %}</div>
                    <ul class="bread">
                        <li><a href="{% url 'create_company' %}">{% trans 'settings' %}</a></li>
                        <li><a href="{% url 'create_company' %}">{% trans 'mains' %}</a></li>
                    </ul>
                </div>
            </div>
            <div class="content__inner">
                <div class="content__block">
                    <form action="{% url 'create_company' %}" method="post" enctype='multipart/form-data'>
                        {% csrf_token %}

                        <div class="content__items">
                            <div class="w33">


                                <div class="content__item">
                                    <label for="" class="label">{% trans 'Name in English' %}</label>
                                    {#                                    <input type="text" class="input" placeholder="Название филиала">#}
                                    {{ form.company_name_en|add_class:'input'|attr:'placeholder:Название Компании' }}
                                </div>
                                <div class="content__item">
                                    <label for="" class="label">{% trans 'Name in Russian' %}</label>
                                    {#                                    <input type="text" class="input" placeholder="Название филиала">#}
                                    {{ form.company_name_ru|add_class:'input'|attr:'placeholder:Название Компании' }}
                                </div>

                                <div class="content__item">
                                    <label for="" class="label">{% trans 'Name in Irvitic' %}</label>
                                    {#                                    <input type="text" class="input" placeholder="Название филиала">#}
                                    {{ form.company_name_he|add_class:'input'|attr:'placeholder:Название Компании' }}
                                </div>

                                <div class="content__item">
                                    <label for="" class="label">{% trans 'category' %}</label>
                                    {#                                                                        <input type="text" class="select" placeholder="Например, Салон красоты">#}
                                    {{ form.category|add_class:'select' }}

                                    <p class="t9">{% trans 'For example, Beauty' %}</p>
                                </div>

                            </div>
                            <div class="w33">
                                <div class="content__item">
                                    <label class="label">{% trans 'Country en' %}</label>
                                    {{ form.country_en|add_class:'input'|attr:'placeholder:Страна' }}
                                    <p class="t9">{% trans 'Used internally' %}</p>
                                </div>
                                <div class="content__item">
                                    <label class="label">{% trans 'Country ru' %}</label>
                                    {{ form.country_ru|add_class:'input'|attr:'placeholder:Страна' }}
                                    <p class="t9">{% trans 'Used internally' %}</p>
                                </div>
                                <div class="content__item">
                                    <label class="label">{% trans 'Country he' %}</label>
                                    {{ form.country_he|add_class:'input'|attr:'placeholder:Страна' }}
                                    <p class="t9">{% trans 'Used internally' %}</p>
                                </div>

                                <div class="content__item">
                                    <label class="label">{% trans 'City en' %}</label>
                                    {{ form.city_en|add_class:'input'|attr:'placeholder:Город' }}
                                    <p class="t9">{% trans 'Used internally' %}</p>
                                </div>
                                <div class="content__item">
                                    <label class="label">{% trans 'City ru' %}</label>
                                    {{ form.city_ru|add_class:'input'|attr:'placeholder:Город' }}
                                    <p class="t9">{% trans 'Used internally' %}</p>
                                </div>
                                <div class="content__item">
                                    <label class="label">{% trans 'City he' %}</label>
                                    {{ form.city_he|add_class:'input'|attr:'placeholder:Город' }}
                                    <p class="t9">{% trans 'Used internally' %}</p>
                                </div>
                            </div>
                            <div class="w33">
                                <div class="content__item">
                                    <label for="" class="label">{% trans 'Company `s logo' %}</label>
                                    <div class="add-ava">
                                        <div class="add-ava__img">
                                            {% if request.user %}
                                                <img src="{{ request.user.company.logo.url }}"
                                                     class="center-image-project"
                                                     alt="">
                                            {% else %}
                                                <img src="{% static 'img/beauty.jpg' %}" class="center-image-project"
                                                     alt="">
                                            {% endif %}

                                        </div>
                                        <div class="add-ava__btn-box">
                                            <span class="t9">{% trans 'Use your company logo to correctly display your profile for your customers' %}</span>
                                            <label class="btn def-blue">
                                                {% trans 'Change logo' %}
                                                {#                                                                                                                            <input class="visually-hidden" type="file">#}
                                                {{ form.logo|add_class:'visually-hidden' }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w100-f">
                                <div class="content__item">
                                    <button class="btn def-ora big" type="submit">{% trans 'save' %}</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}