{% extends 'company/calendar.html' %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}
{% block content %}

    {% include 'company/_left_menu.html' %}
    <main class="main">
        <div class="content">
            <div class="content__header">
                <div class="burger"></div>
                <div>
                    <div class="t1">{% trans 'settings' %}</div>
                    <ul class="bread">
                        <li><a href="{% url 'create_company' %}">{% trans 'settings' %}</a></li>
                        <li><a href="{% url 'company-information-contacts' %}">{% trans 'information' %}</a></li>
                        <li><a href="{% url 'company-information-contacts' %}">{% trans 'mains' %}</a></li>
                    </ul>
                </div>
            </div>
            <div class="content__inner content__inner--flex">
                {% include 'company/company_content_block.html' %}
                <div class="content__block">

                    <form action="" method="post" class="content__items">
                        {% csrf_token %}
                        <div class="w50">
                            <div class="content__item" style="display: none">
                                <label for="" class="label">{% trans 'Address en' %}</label>
                                {{ form.address|add_class:'input'|attr:'placeholder:Адрес' }}
                                <p class="t9">{% trans 'For example, st. Parkovaya 14, 23' %}</p>
                            </div>
                            <div class="content__item">
                                <label for="" class="label">{% trans 'Address en' %}</label>
                                {{ form.address_en|add_class:'input'|attr:'placeholder:Адрес' }}
                                <p class="t9">{% trans 'For example, st. Parkovaya 14, 23' %}</p>
                            </div>
                            <div class="content__item">
                                <label for="" class="label">{% trans 'Address ru' %}</label>
                                {{ form.address_ru|add_class:'input'|attr:'placeholder:Адрес' }}
                                <p class="t9">{% trans 'For example, st. Parkovaya 14, 23' %}</p>
                            </div>
                            <div class="content__item">
                                <label for="" class="label">{% trans 'Address he' %}</label>
                                {{ form.address_he|add_class:'input'|attr:'placeholder:Адрес' }}
                                <p class="t9">{% trans 'For example, st. Parkovaya 14, 23' %}</p>
                            </div>
                            <div class="content__item">
                                <label for="" class="label">{% trans 'Index' %}</label>

                                {{ form.index|add_class:'input'|attr:'placeholder:Индекс' }}
                                <p class="t9">{% trans 'For example, 153150' %}</p>
                            </div>

                            <div class="content__item" style="display: none">
                                <label for="" class="label">{% trans 'Region' %}</label>

                                {{ form.region|add_class:'input'|attr:'placeholder:Район' }}
                                <p class="t9">{% trans 'For example, Tverskaya' %}</p>
                            </div>
                            <div class="content__item">
                                <label for="" class="label">{% trans 'Region en' %}</label>

                                {{ form.region_en|add_class:'input'|attr:'placeholder:Район' }}
                                <p class="t9">{% trans 'For example, Tverskaya' %}</p>
                            </div>
                            <div class="content__item">
                                <label for="" class="label">{% trans 'Region ru' %}</label>

                                {{ form.region_ru|add_class:'input'|attr:'placeholder:Район' }}
                                <p class="t9">{% trans 'For example, Tverskaya' %}</p>
                            </div>
                            <div class="content__item">
                                <label for="" class="label">{% trans 'Region he' %}</label>

                                {{ form.region_he|add_class:'input'|attr:'placeholder:Район' }}
                                <p class="t9">{% trans 'For example, Tverskaya' %}</p>
                            </div>
                        </div>
                        <div class="w50">
                            <div class="content__item">
                                <label for="" class="label">{% trans 'phone' %}</label>

                                {{ form.phone_number|add_class:'input'|attr:'placeholder:Телефон' }}
                                <p class="t9">{% trans 'In the format: 996 000 000 000' %}</p>
                            </div>
                            <div class="content__item">
                                <label for="" class="label">{% trans 'schedule' %}</label>

                                {{ form.schedule|add_class:'input'|attr:'placeholder:График работы' }}
                                <p class="t9">{% trans 'For example, Mon-Fri: 11: 00-22: 00' %}</p>
                            </div>
                        </div>
                        {{ form.latitude|add_class:'input'|attr:'id:set_latitude'|attr:'hidden:true'}}
                        {{ form.longitude|add_class:'input'|attr:'id:set_longitude'|attr:'hidden:true'}}
                        <div class="w100">
                            <div class="content__block" style="margin-bottom: 300px">
                                <div id="map" style="max-height: 300px; max-width: 50%;"></div>
                            </div>
                            <div class="content__item">
                                <button class="btn def-bluish full">{% trans 'Move the marker to indicate the location on the map' %}
                                </button>
                            </div>
                            <div class="content__item"></div>
                        </div>
                        <div class="w100">
                            <div class="content__item">
                                <button class="btn def-ora full" type="submit">{% trans 'save' %}</button>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block js %}
    <script src="https://api-maps.yandex.ru/2.1.8/?apikey=9312f419-42d1-482d-8a79-ba77054ed952&lang=ru_RU"></script>
    <script>
        ymaps.ready(init);

        function init() {
            let latitude = document.getElementById('set_latitude').value;
            let longitude = document.getElementById('set_longitude').value;

            console.log(latitude,longitude);
            let myMap = new ymaps.Map("map", {
                center: [42.876366, 74.603710],
                zoom: 11,
                type: 'yandex#map'
            }, {
                searchControlProvider: 'yandex#search'
            });
            let marker = null;

            myMap.events.add('click', function (e) {
                if (marker) {
                    myMap.geoObjects.removeAll();
                    let coords = e.get('coords');
                    setPosition(myMap, coords);
                } else {
                    let coords = e.get('coords');
                    setPosition(myMap, coords);
                }

                function setPosition(map, coords) {
                    marker = new ymaps.Placemark([coords[0].toPrecision(8), coords[1].toPrecision(8)], {
                        balloonContent: 'Наш адрес',
                        hintContent: 'Наш адрес',
                    }, {
                        iconLayout: 'default#image',
                    });

                    document.getElementById('set_latitude').value = coords[0].toPrecision(8);
                    document.getElementById('set_longitude').value = coords[1].toPrecision(8);
                    myMap.geoObjects.add(marker);
                }
            });

            marker = new ymaps.Placemark([latitude,longitude ], {
                balloonContent: 'Наш адрес',
                hintContent: 'Наш адрес',
            }, {
                iconLayout: 'default#image',
            });

            myMap.geoObjects.add(marker);
        }
    </script>
{% endblock %}