{% extends 'company/calendar.html' %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}
{% block content %}

    {% include 'company/_left_menu.html' %}
    <main class="main">
        <div class="content">
            <div class="content__header">
                <div class="burger"></div>
                <div>
                    <div class="t1">{% trans 'settings' %}</div>
                    <ul class="bread">
                        <li><a href="{% url 'create_company' %}">{% trans 'settings' %}</a></li>
                        <li><a href="{% url 'company-information-contacts' %}">{% trans 'information' %}</a></li>
                        <li><a href="{% url 'company-information-photo' %}">{% trans 'gallery' %}</a></li>
                    </ul>
                </div>
            </div>
            <div class="content__inner content__inner--flex">
                {% include 'company/company_content_block.html' %}

                <div class="content__block grow">
                    <div class="content__items">

                        <div class="content__item">
                            <form action="" method="post" enctype='multipart/form-data'>
                                {% csrf_token %}
                                <label for="" class="label">{% trans 'Add photos to gallery' %}</label>
                                <div class="add-ava">
                                    <div class="add-ava__img">
                                        <img src="" alt="">
                                    </div>
                                    <div class="add-ava__btn-box">
                                        <span class="t9">{% trans 'Use the photo to properly display your profile for your customers' %}</span>
                                        <div>
                                            <label class="btn def-blue">
                                                {% trans 'add_photo' %}
                                                {{ form.image|add_class:'visually-hidden' }}

                                            </label>

                                            <button class="btn" type="submit">{% trans 'save' %}</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            {#            <div class="content__inner">#}
            {#                <div class="w100">#}
            {#                    <div class="content__item">#}
            {#                        <button class="btn def-ora full">Сохранить</button>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
        </div>
    </main>
{% endblock %}