{% load i18n %}
{% load my_tags %}
<div class="content__block">
    <div class="content__items content__grow">
        <div class="content__item choose-sect">
            {% url 'company-information-contacts' as contacts %}
            <a href="{% url 'company-information-contacts' %}"
               class="choose-sect__kon {% active request contacts %}">{% trans 'contacts' %}</a>


            {% url 'company-information-description' as description %}
            <a href="{% url 'company-information-description' %}"
               class="choose-sect__opi {% active request description %}">{% trans 'description' %}</a>


            {% url 'company-information-photo' as photo %}
            <a href="{% url 'company-information-photo' %}"
               class="choose-sect__fot {% active request photo %}">{% trans 'photo' %}</a>


            {% url 'company-information-requisite' as requisite %}
            <a href="{% url 'company-information-requisite' %}"
               class="choose-sect__rek {% active request requisite %}">{% trans 'requisites' %}</a>
        </div>
    </div>
</div>