{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    {% include 'company/_left_menu.html' %}
    <main class="main">
        <div class="content">
            <div class="content__header">
                <div class="burger"></div>
                <div>
                    <div class="t1">{% trans 'employers' %}</div>
                    <ul class="bread">
                        <li><a href="{% url 'company_employer_list' %}">{% trans 'employers' %}</a></li>
                    </ul>
                </div>
                <div>
                    <a href="{% url 'company_create_employer' %}"
                       class="btn def-blue add-emp">{% trans 'add_employer' %}</a>
                </div>
            </div>
            <div class="content__inner">
                <div class="content__block">
                    <div class="content__items">
                        <div class="content__item overflow">
                            <div class="block-name">
                                <div class="meet-t__name">{% trans 'employer_profile' %}</div>
                                <div class="meet-t__status">{% trans 'status' %}</div>
                                <div class="meet-t__service-count">Кол. оказываемых услуг</div>
                                <div class="meet-t__del">{% trans 'remote/not_remote' %}</div>
                            </div>
                            <div class="employee-list" id="sortable">
                                {% for employer in employers %}
                                    <div class="meet-div ui-state-default">
                                        <div>
                                            <span class="drag"></span>
                                        </div>
                                        <div>
                                            <div class="meet-t__ava">
                                                <img src="{{ employer.profile.image }}" alt="{{ employer.name }}">

                                                <p>
                                                    <b><a href="">{{ employer.profile.name }}</a></b>
                                                    <br>
                                                    <span>{{employer.profile.profession}}</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="meet-t__status">
                                            <b class="stat-aсtive">
                                                {% if employer.profile.is_active %}
                                                    {% trans 'active' %}
                                                {% else %}
                                                    {% trans 'inactive' %}
                                                {% endif %}
                                            </b>
                                        </div>
                                        <div class="meet-t__service-count">
                                            <b> {{ employer.services.all | length }} </b>
                                        </div>
                                        <div class="meet-t__del">
                                            <b>
                                                {% if employer.profile.is_remotly %}
                                                    {% trans 'remote' %}
                                                {% else %}
                                                    {% trans 'not_remote' %}
                                                {% endif %}
                                            </b>
                                        </div>
                                        <div>
                                            <span class="btn def-tora"><a href="{% url 'company_update_employer' employer.id %}">{% trans 'edit' %}</a></span>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}