{% extends 'company/calendar.html' %}
{% load static %}
{% block content %}

   {% include 'company/_left_menu.html' %}
    <main class="main">
        <div class="content">
            <div class="content__header">
                <div class="burger"></div>
                <div>
                    <div class="t1">Сотрудники</div>
                    <ul class="bread">
                        <li><a href="#">Сотрудники</a></li>
                        <li><a href="#">Добавить Сотрудника</a></li>
                    </ul>
                </div>
                <div>
                    <a href="#" class="btn def-blue">Добавить сотрудника</a>
                </div>
            </div>
            <div class="content__inner">
                <div class="content__block">
                    <div class="content__items content__grow">
                        <div class="content__item choose-sect">
                            <a href="{% url 'company_create_employer' %}" class="choose-sect__det">Детали</a>
                            <a href="{% url 'company-service-employer' %}" class="choose-sect__ser">Сервисы</a>
                            <a href="{% url 'company-graphic-employer' %}" class="choose-sect__gra active">График</a>
                            <a href="{% url 'company-weekend-employer' %}" class="choose-sect__ner">Нерабочие дни</a>
                        </div>
                    </div>
                </div>

                <div class="content__block">
                    <div class="content__items">
                        <div class="w33-50">
                            <label class="label-check">
                                <input type="checkbox" class="visually-hidden">
                                <div></div>
                                <b>Понедельник</b>
                            </label>
                            <p class="label">График работы</p>
                            <div class="content__item">
                                <input type="text" class="input" placeholder="От">
                            </div>
                            <div class="content__item">
                                <input type="text" class="input" placeholder="До">
                            </div>
                            <label class="label-check">
                                <input type="checkbox" class="visually-hidden">
                                <div></div>
                                Перерыв
                            </label>
                            <div class="content__item">
                                <input type="text" class="input" placeholder="От">
                            </div>
                            <div class="content__item">
                                <input type="text" class="input" placeholder="До">
                            </div>
                            <label class="label-check">
                                <input type="checkbox" class="visually-hidden">
                                <div></div>
                                <b>Вторник</b>
                            </label>
                            <p class="label">График работы</p>
                            <div class="content__item">
                                <input type="text" class="input" placeholder="От">
                            </div>
                            <div class="content__item">
                                <input type="text" class="input" placeholder="До">
                            </div>
                            <label class="label-check">
                                <input type="checkbox" class="visually-hidden">
                                <div></div>
                                Перерыв
                            </label>
                            <div class="content__item">
                                <input type="text" class="input" placeholder="От">
                            </div>
                            <div class="content__item">
                                <input type="text" class="input" placeholder="До">
                            </div>

                            <label class="label-check">
                                <input type="checkbox" class="visually-hidden">
                                <div></div>
                                <b>Среда</b>
                            </label>
                            <p class="label">График работы</p>
                            <div class="content__item">
                                <input type="text" class="input" placeholder="От">
                            </div>
                            <div class="content__item">
                                <input type="text" class="input" placeholder="До">
                            </div>
                            <label class="label-check">
                                <input type="checkbox" class="visually-hidden">
                                <div></div>
                                Перерыв
                            </label>
                            <div class="content__item">
                                <input type="text" class="input" placeholder="От">
                            </div>
                            <div class="content__item">
                                <input type="text" class="input" placeholder="До">
                            </div>
                            <label class="label-check">
                                <input type="checkbox" class="visually-hidden">
                                <div></div>
                                <b>Четверг</b>
                            </label>
                            <p class="label">График работы</p>
                            <div class="content__item">
                                <input type="text" class="input" placeholder="От">
                            </div>
                            <div class="content__item">
                                <input type="text" class="input" placeholder="До">
                            </div>
                            <label class="label-check">
                                <input type="checkbox" class="visually-hidden">
                                <div></div>
                                Перерыв
                            </label>
                            <div class="content__item">
                                <input type="text" class="input" placeholder="От">
                            </div>
                            <div class="content__item">
                                <input type="text" class="input" placeholder="До">
                            </div>
                        </div>
                        <div class="w33-50">
                            <label class="label-check">
                                <input type="checkbox" class="visually-hidden">
                                <div></div>
                                <b>Пятница</b>
                            </label>
                            <p class="label">График работы</p>
                            <div class="content__item">
                                <input type="text" class="input" placeholder="От">
                            </div>
                            <div class="content__item">
                                <input type="text" class="input" placeholder="До">
                            </div>
                            <label class="label-check">
                                <input type="checkbox" class="visually-hidden">
                                <div></div>
                                Перерыв
                            </label>
                            <div class="content__item">
                                <input type="text" class="input" placeholder="От">
                            </div>
                            <div class="content__item">
                                <input type="text" class="input" placeholder="До">
                            </div>
                            <label class="label-check">
                                <input type="checkbox" class="visually-hidden">
                                <div></div>
                                <b>Суббота</b>
                            </label>
                            <p class="label">График работы</p>
                            <div class="content__item">
                                <input type="text" class="input" placeholder="От">
                            </div>
                            <div class="content__item">
                                <input type="text" class="input" placeholder="До">
                            </div>
                            <label class="label-check">
                                <input type="checkbox" class="visually-hidden">
                                <div></div>
                                Перерыв
                            </label>
                            <div class="content__item">
                                <input type="text" class="input" placeholder="От">
                            </div>
                            <div class="content__item">
                                <input type="text" class="input" placeholder="До">
                            </div>
                            <label class="label-check">
                                <input type="checkbox" class="visually-hidden">
                                <div></div>
                                <b>Воскресенье</b>
                            </label>
                            <p class="label">График работы</p>
                            <div class="content__item">
                                <input type="text" class="input" placeholder="От">
                            </div>
                            <div class="content__item">
                                <input type="text" class="input" placeholder="До">
                            </div>
                            <label class="label-check">
                                <input type="checkbox" class="visually-hidden">
                                <div></div>
                                Перерыв
                            </label>
                            <div class="content__item">
                                <input type="text" class="input" placeholder="От">
                            </div>
                            <div class="content__item">
                                <input type="text" class="input" placeholder="До">
                            </div>

                        </div>
                        <div class="w33">
                            <div class="content__item">
                                <label for="" class="label">Фотография пользователя</label>
                                <div class="add-ava">
                                    <div class="add-ava__img">
                                        <img src="" alt="">
                                    </div>
                                    <div class="add-ava__btn-box">
                                        <p>Имя</p>
                                        <p>Фамилия</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w100-f">
                            <div class="content__item content__item--r">
                                <button class="btn def-ora big">Сохранить</button>
                            </div>
                            <div class="content__item">
                                <button class="btn big">Отмена</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}