{% extends 'company/calendar.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
    <aside class="aside">
        <a href="#" class="logo"><img src="{% static 'img/logo.png' %}" alt="logo"></a>
        <div class="user">
            <div class="user__img">
                <img src="{% static 'img/beauty.jpg' %}" alt="">
            </div>
            <p>Awwwards Company</p>
        </div>
        <ul class="aside-list">
            <li class="aside-list__cal"><a href="{% url 'company' %}">Календарь</a></li>
            <li class="aside-list__mee"><a href="{% url 'company-meet' %}">Встречи</a></li>
            <li class="aside-list__cus"><a href="{% url 'company-customers' %}">Клиенты</a></li>
            <li class="aside-list__emp"><a href="{% url 'company_employer_list' %} " class="active">Сотрудники</a></li>
            <li class="aside-list__set"><a href="{% url 'create_company' %}">Настройки</a>
                <ul class="aside-list__drop">
                    <li><a href="{% url 'create_company' %}">Основные</a></li>
                    <li><a href="{% url 'company-information-contacts' %}">Информация</a></li>
                    <li><a href="{% url 'company-service-employer' %}">Услуги</a></li>
                    <li><a href="{% url 'company-graphic-employer' %}">График работы</a></li>
                    <li><a href="{% url 'company-users' %}">Пользователи</a></li>
                </ul>
            </li>
            <li class="aside-list__ema"><a href="#">Email уведомления</a></li>
            <li class="aside-list__sup"><a href="#">Служба поддержки</a></li>
            <li class="aside-list__log"><a href="{% url 'logout' %}">Выход</a></li>
        </ul>
        <div class="burger-x"></div>
    </aside>
    <main class="main">
        <div class="content">
            <div class="content__header">
                <div class="burger"></div>
                <div>
                    <div class="t1">Сотрудники</div>
                    <ul class="bread">
                        <li><a href="#">Сотрудники</a></li>
                        <li><a href="#">Добавить Сотрудника</a></li>
                    </ul>
                </div>
                <div>
                    <a href="#" class="btn def-blue">Добавить сотрудника</a>
                </div>
            </div>
            <div class="content__inner">
                <div class="content__block">
                    <div class="content__items content__grow">
                        <div class="content__item choose-sect">
                            <a href="{% url 'company_create_employer' %}" class="choose-sect__det active">Детали</a>
                            <a href="{% url 'company-service-employer' %}" class="choose-sect__ser">Сервисы</a>
                            <a href="{% url 'company-graphic-employer' %}" class="choose-sect__gra">График</a>
                            <a href="{% url 'company-weekend-employer' %}" class="choose-sect__ner">Нерабочие дни</a>
                        </div>
                    </div>
                </div>

                <div class="content__block">
                    <form action="{% url 'company_create_employer' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="content__items">

                            <div class="w66">
                                <div class="content__item">
                                    <label for="" class="label">Имя</label>
{#                                    <input type="text" class="input" placeholder="Имя">#}
                                    {{ form.name|add_class:'input'|attr:'placeholder:ФИО' }}
                                </div>
{#                                <div class="content__item">#}
{#                                    <label for="" class="label">Фамилия</label>#}
{#                                    <input type="text" class="input" placeholder="Фамилия">#}
{#                                </div>#}
                                <div class="content__item">
                                    <label for="" class="label">Телефон</label>
{#                                    <input type="text" class="input" placeholder="Телефон">#}
                                    {{ form.phone|add_class:'input'|attr:'placeholder:Телефон' }}

                                </div>
                                <div class="content__item">
                                    <label for="" class="label">Электронная почта</label>
{#                                    <input type="text" class="input" placeholder="Электронная почта">#}
                                    {{ form.email|add_class:'input'|attr:'placeholder:Электронная почта' }}
                                </div>
{#                                <div class="content__item">#}
{#                                    <label class="label" for="">Место</label>#}
{#                                    <select name="" id="" class="select">#}
{#                                        <option data-display="Бишкек, название офиса"></option>#}
{#                                        <option value="">Лев</option>#}
{#                                        <option value="">Крокодил</option>#}
{#                                    </select>#}
{#                                    <p class="t9">Select locations in which staff member provides their services.</p>#}
{#                                </div>#}
                                <div class="content__item">
                                    <label class="label" for="">Видимость</label>
{#                                    <select name="" id="" class="select">#}
{#                                        <option data-display="Открытый"></option>#}
{#                                        <option value="">Открытый</option>#}
{#                                        <option value="">Крокодил</option>#}
{#                                    </select>#}
                                    {{ form.visibility|add_class:'input' }}
                                    <p class="t9">Чтобы сделать сотрудника невидимым для клиентов, установите видимость в
                                        значение "Закрытый".
                                </div>
                            </div>
                            <div class="w33">
                                <div class="content__item">
                                    <label for="" class="label">Фотография пользователя</label>
                                    <div class="add-ava">
                                        <div class="add-ava__img">
                                            <img src="" alt="">
                                        </div>
                                        <div class="add-ava__btn-box">
                                            <label class="btn def-blue">
                                                Добавить фото
{#                                                <input class="visually-hidden" type="file">#}
                                                {{ form.image|add_class:'visually-hidden' }}
                                            </label>
                                            <button class="btn def-btn">Удалить фото</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w100-33">
                                <div class="content__item">
                                    <label class="label" for="">Информация</label>
{#                                    <textarea class="textarea" name="" id="" cols="" rows="7"#}
{#                                              placeholder="Ввведите информацию"></textarea>#}
                                    {{ form.information|add_class:'input'|attr:'placeholder:Ввведите информацию' }}
                                    <p class="t9">Этот текст может быть использован в уведомлениях при помощи кода
                                        {staff_info}.</p>
                                </div>
{#                                <div class="content__item">#}
{#                                    <label class="label" for="">Пользователь</label>#}
{#                                    <select name="" id="" class="select">#}
{#                                        <option data-display="Выбрать из пользователей WP"></option>#}
{#                                        <option value="">Лев</option>#}
{#                                        <option value="">Крокодил</option>#}
{#                                    </select>#}
{#                                    <p class="t9">Если этому сотруднику требуется отдельный логин для доступа в личный#}
{#                                        календарь, тогда для этой цели должен быть создан обычный пользователь WP.#}
{#                                        Пользователь#}
{#                                        с ролью "Администратор" будет иметь доступ к календарям и настройкам всех#}
{#                                        сотрудников,#}
{#                                        пользователь с какой-то другой ролью будет иметь доступ только к личным календарем и#}
{#                                        настройкам. Если Вы не заполните это поле, работник не сможет получить доступ к#}
{#                                        календарю через административный интерфейс.</p>#}
{#                                </div>#}
{#                                <div class="content__item">#}
{#                                    <label for="" class="label">Интеграция с Google Календарём</label>#}
{#                                    <input type="text" class="input"#}
{#                                           placeholder="Сначала укажите настройки Google Календаря">#}
{#                                    <p class="t9">Синхронизировать данные о забронированных встречах сотрудника с его Google#}
{#                                        Календарём</p>#}
{#                                </div>#}
                            </div>
{#                            <div class="content__item">#}
{#                                <button class="btn def-tora big">Удалить</button>#}
{#                            </div>#}
                            <div class="content__item content__item--r">
                                <button class="btn def-ora big" type="submit">Сохранить</button>
                            </div>
                            <div class="content__item">
                                <button class="btn big">Отмена</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}