{% extends 'company/calendar.html' %}
{% load static %}
{% block content %}
    <aside class="aside">
        <a href="#" class="logo"><img src=" {% static 'img/logo.png' %}" alt="logo"></a>
        <div class="user">
            <div class="user__img">
                <img src="{% static 'img/beauty.jpg' %}" alt="">
            </div>
            <p>Awwwards Company</p>
        </div>
        <ul class="aside-list">
            <li class="aside-list__cal"><a href="{% url 'company' %}">Календарь</a></li>
            <li class="aside-list__mee"><a href="{% url 'company-meet' %}">Встречи</a></li>
            <li class="aside-list__cus"><a href="{% url 'company-customers' %}">Клиенты</a></li>
            <li class="aside-list__emp"><a href="{% url 'company_create_employer' %}" class="active">Сотрудники</a>
            </li>
            <li class="aside-list__set"><a href="{% url 'create_company' %}">Настройки</a>
                <ul class="aside-list__drop">
                    <li><a href="{% url 'create_company' %}">Основные</a></li>
                    <li><a href="{% url 'company-information-contacts' %}">Информация</a></li>
                    <li><a href="{% url 'company-service-employer' %}">Услуги</a></li>
                    <li><a href="{% url 'company-graphic-employer' %}">График работы</a></li>
                    <li><a href="{% url 'company-users' %}">Пользователи</a></li>
                </ul>
            </li>
            <li class="aside-list__ema"><a href="#">Email уведомления</a></li>
            <li class="aside-list__sup"><a href="#">Служба поддержки</a></li>
            <li class="aside-list__log"><a href="{% url 'logout' %}">Выход</a></li>
        </ul>
        <div class="burger-x"></div>
    </aside>
    <main class="main">
        <div class="content">
            <div class="content__header">
                <div class="burger"></div>
                <div>
                    <div class="t1">Сотрудники</div>
                    <ul class="bread">
                        <li><a href="#">Сотрудники</a></li>
                        <li><a href="#">Добавить Сотрудника</a></li>
                    </ul>
                </div>
                <div>
                    <a href="#" class="btn def-blue">Добавить сотрудника</a>
                </div>
            </div>
            <div class="content__inner">
                <div class="content__block">
                    <div class="content__items content__grow">
                        <div class="content__item choose-sect">
                            <a href="{% url 'company_create_employer' %}" class="choose-sect__det">Детали</a>
                            <a href="{% url 'company-service-employer' %}" class="choose-sect__ser active">Сервисы</a>
                            <a href="{% url 'company-graphic-employer' %}" class="choose-sect__gra">График</a>
                            <a href="{% url 'company-weekend-employer' %}" class="choose-sect__ner">Нерабочие дни</a>
                        </div>
                    </div>
                </div>

                <div class="content__block">
                    <div class="content__items">
                        <div class="w66-f">
                            <div class="w50-50" id="check-block-1">
                                <div class="label-head">
                                    <p><b>Категория сервиса</b></p>
                                    <label for="checkbox-1" class="label-check" id="label-1">
                                        <input type="checkbox" class="visually-hidden" id="checkbox-1">
                                        <div></div>
                                        <span>Выбрать все</span>
                                    </label>
                                </div>
                                <label class="label-check">
                                    <input type="checkbox" class="visually-hidden">
                                    <div></div>
                                    Подкатегория сервиса
                                </label>
                                <div class="content__item">
                                    <input type="text" class="input" placeholder="Цена">
                                </div>
                                <div class="content__item">
                                    <input type="text" class="input" placeholder="Вместимость">
                                </div>
                                <label class="label-check">
                                    <input type="checkbox" class="visually-hidden">
                                    <div></div>
                                    Подкатегория сервиса
                                </label>
                                <div class="content__item">
                                    <input type="text" class="input" placeholder="Цена">
                                </div>
                                <div class="content__item">
                                    <input type="text" class="input" placeholder="Вместимость">
                                </div>
                                <label class="label-check">
                                    <input type="checkbox" class="visually-hidden">
                                    <div></div>
                                    Подкатегория сервиса
                                </label>
                                <div class="content__item">
                                    <input type="text" class="input" placeholder="Цена">
                                </div>
                                <div class="content__item">
                                    <input type="text" class="input" placeholder="Вместимость">
                                </div>
                                <label class="label-check">
                                    <input type="checkbox" class="visually-hidden">
                                    <div></div>
                                    Подкатегория сервиса
                                </label>
                                <div class="content__item">
                                    <input type="text" class="input" placeholder="Цена">
                                </div>
                                <div class="content__item">
                                    <input type="text" class="input" placeholder="Вместимость">
                                </div>
                            </div>
                            <div class="w50-50" id="check-block-2">
                                <div class="label-head">
                                    <p><b>Категория сервиса</b></p>
                                    <label for="checkbox-1" class="label-check" id="label-2">
                                        <input type="checkbox" class="visually-hidden" id="checkbox-2">
                                        <div></div>
                                        <span>Выбрать все</span>
                                    </label>
                                </div>
                                <label class="label-check">
                                    <input type="checkbox" class="visually-hidden">
                                    <div></div>
                                    Подкатегория сервиса
                                </label>
                                <div class="content__item">
                                    <input type="text" class="input" placeholder="Цена">
                                </div>
                                <div class="content__item">
                                    <input type="text" class="input" placeholder="Вместимость">
                                </div>
                                <label class="label-check">
                                    <input type="checkbox" class="visually-hidden">
                                    <div></div>
                                    Подкатегория сервиса
                                </label>
                                <div class="content__item">
                                    <input type="text" class="input" placeholder="Цена">
                                </div>
                                <div class="content__item">
                                    <input type="text" class="input" placeholder="Вместимость">
                                </div>
                                <label class="label-check">
                                    <input type="checkbox" class="visually-hidden">
                                    <div></div>
                                    Подкатегория сервиса
                                </label>
                                <div class="content__item">
                                    <input type="text" class="input" placeholder="Цена">
                                </div>
                                <div class="content__item">
                                    <input type="text" class="input" placeholder="Вместимость">
                                </div>
                                <label class="label-check">
                                    <input type="checkbox" class="visually-hidden">
                                    <div></div>
                                    Подкатегория сервиса
                                </label>
                                <div class="content__item">
                                    <input type="text" class="input" placeholder="Цена">
                                </div>
                                <div class="content__item">
                                    <input type="text" class="input" placeholder="Вместимость">
                                </div>

                            </div>
                            <div class="w50-50" id="check-block-3">
                                <div class="label-head">
                                    <p><b>Категория сервиса</b></p>
                                    <label for="checkbox-1" class="label-check" id="label-3">
                                        <input type="checkbox" class="visually-hidden" id="checkbox-3">
                                        <div></div>
                                        <span>Выбрать все</span>
                                    </label>
                                </div>
                                <label class="label-check">
                                    <input type="checkbox" class="visually-hidden">
                                    <div></div>
                                    Подкатегория сервиса
                                </label>
                                <div class="content__item">
                                    <input type="text" class="input" placeholder="Цена">
                                </div>
                                <div class="content__item">
                                    <input type="text" class="input" placeholder="Вместимость">
                                </div>
                                <label class="label-check">
                                    <input type="checkbox" class="visually-hidden">
                                    <div></div>
                                    Подкатегория сервиса
                                </label>
                                <div class="content__item">
                                    <input type="text" class="input" placeholder="Цена">
                                </div>
                                <div class="content__item">
                                    <input type="text" class="input" placeholder="Вместимость">
                                </div>
                                <label class="label-check">
                                    <input type="checkbox" class="visually-hidden">
                                    <div></div>
                                    Подкатегория сервиса
                                </label>
                                <div class="content__item">
                                    <input type="text" class="input" placeholder="Цена">
                                </div>
                                <div class="content__item">
                                    <input type="text" class="input" placeholder="Вместимость">
                                </div>
                                <label class="label-check">
                                    <input type="checkbox" class="visually-hidden">
                                    <div></div>
                                    Подкатегория сервиса
                                </label>
                                <div class="content__item">
                                    <input type="text" class="input" placeholder="Цена">
                                </div>
                                <div class="content__item">
                                    <input type="text" class="input" placeholder="Вместимость">
                                </div>
                            </div>
                            <div class="w50-50" id="check-block-4">
                                <div class="label-head">
                                    <p><b>Категория сервиса</b></p>
                                    <label for="checkbox-1" class="label-check" id="label-4">
                                        <input type="checkbox" class="visually-hidden" id="checkbox-4">
                                        <div></div>
                                        <span>Выбрать все</span>
                                    </label>
                                </div>
                                <label class="label-check">
                                    <input type="checkbox" class="visually-hidden">
                                    <div></div>
                                    Подкатегория сервиса
                                </label>
                                <div class="content__item">
                                    <input type="text" class="input" placeholder="Цена">
                                </div>
                                <div class="content__item">
                                    <input type="text" class="input" placeholder="Вместимость">
                                </div>
                                <label class="label-check">
                                    <input type="checkbox" class="visually-hidden">
                                    <div></div>
                                    Подкатегория сервиса
                                </label>
                                <div class="content__item">
                                    <input type="text" class="input" placeholder="Цена">
                                </div>
                                <div class="content__item">
                                    <input type="text" class="input" placeholder="Вместимость">
                                </div>
                                <label class="label-check">
                                    <input type="checkbox" class="visually-hidden">
                                    <div></div>
                                    Подкатегория сервиса
                                </label>
                                <div class="content__item">
                                    <input type="text" class="input" placeholder="Цена">
                                </div>
                                <div class="content__item">
                                    <input type="text" class="input" placeholder="Вместимость">
                                </div>
                                <label class="label-check">
                                    <input type="checkbox" class="visually-hidden">
                                    <div></div>
                                    Подкатегория сервиса
                                </label>
                                <div class="content__item">
                                    <input type="text" class="input" placeholder="Цена">
                                </div>
                                <div class="content__item">
                                    <input type="text" class="input" placeholder="Вместимость">
                                </div>
                            </div>
                        </div>
                        <div class="w33">
                            <div class="content__item">
                                <label for="" class="label">Фотография пользователя</label>
                                <div class="add-ava">
                                    <div class="add-ava__img">
                                        <img src="" alt="">
                                    </div>
                                    <div class="add-ava__btn-box">
                                        <p>Имя</p>
                                        <p>Фамилия</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w100-f">
                            <div class="content__item content__item--r">
                                <button class="btn def-ora big">Сохранить</button>
                            </div>
                            <div class="content__item">
                                <button class="btn big">Отмена</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}