{% extends 'company/calendar.html' %}
{% load static %}
{% block content %}
<aside class="aside">
	<a href="#" class="logo"><img src="{% static 'img/logo.png' %}" alt="logo"></a>
	<div class="user">
			<div class="user__img">
					<img src="{% static 'img/beauty.jpg' %}" alt="">
			</div>
			<p>Awwwards Company</p>
	</div>
	<ul class="aside-list">
        <li class="aside-list__cal"><a href="{% url 'company' %}">Календарь</a></li>
            <li class="aside-list__mee"><a href="{% url 'company-meet' %}">Встречи</a></li>
            <li class="aside-list__cus"><a href="{% url 'company-customers' %}">Клиенты</a></li>
            <li class="aside-list__emp"><a href="{% url 'company_employer_list' %}">Сотрудники</a></li>
            <li class="aside-list__set"><a href="{% url 'create_company' %}">Настройки</a>
            <ul class="aside-list__drop active">
                <li><a href="{% url 'create_company' %}">Основные</a></li>
                    <li><a href="{% url 'company-information-contacts' %}">Информация</a></li>
                    <li><a href="{% url 'company-services' %}" class="active">Услуги</a></li>
                    <li><a href="{% url 'company-schedule' %}">График работы</a></li>
            </ul>
        </li>
        <li class="aside-list__ema"><a href="#">Email уведомления</a></li>
        <li class="aside-list__sup"><a href="#">Служба поддержки</a></li>
        <li class="aside-list__log"><a href="{% url 'logout' %}">Выход</a></li>
	</ul>
	<div class="burger-x"></div>
</aside>
<main class="main">
    <div class="content">
        <div class="content__header">
						<div class="burger"></div>
            <div>
                <div class="t1">Категории услуг</div>
                <ul class="bread">
                   <li><a href="#">Настройки</a></li>
                   <li><a href="#">Услуги</a></li>
                </ul>
            </div>
            <div>
								<a href="#" class="btn def-bluish">Быстрое управление</a>
                <a href="#" class="btn def-blue">Добавить категорию</a>
            </div>
        </div>
        <div class="content__inner">
            <div class="content__block">
                <div class="content__items">
                    <div class="content__item full overflow">
                        
                        <table class="meet-t meet-t--2"  cellspacing="20" cellpadding="0">
                            <tbody>
                                <tr>
                                    <th>
                                        <span class="drag"></span>
                                    </th>
                                    <td>
                                        Стрижки и укладки 
                                    </td>
                                    <td>Мужские</td>
                                    <td>
                                        <span class="btn def-tblue">Редактировать</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <span class="drag"></span>
                                    </th>
                                    <td>
                                        Стрижки и укладки 
                                    </td>
                                    <td>Мужские</td>
                                    <td>
                                        <span class="btn def-tblue">Редактировать</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}