{% extends 'company/calendar.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    {% include 'company/_left_menu.html' %}
    <main class="main">
        <div class="content">
            <div class="content__header">
                <div class="burger"></div>
                <div>
                    <div class="t1">{% trans 'meetings' %}</div>
                    <ul class="bread">
                        <li><a href="{% url 'company-meet' %}">{% trans 'meetings' %}</a></li>
                    </ul>
                </div>
                <div>
                    <a href="#" class="btn def-blue">{% trans 'add_employee' %}</a>
                </div>
            </div>
            <div class="content__inner">
                <div class="content__block">

                    <form class="content__items filter">
                        <div class="content__item">
                            <label class="label">{% trans 'search_by_number' %}</label>
                            <input class="input input--233" name="number" type="text" placeholder="Поиск по номеру">
                        </div>
                        <div class="content__item">
                            <label class="label" for="">{% trans 'search_by_date' %}</label>
                            <input class="datepicker-here input input--233" name="by_date" data-multiple-dates="2"
                                   type="text"
                                   placeholder="01.09.2019">
                        </div>
                        <div class="content__item">
                            <label class="label" for="">{% trans 'employee' %}</label>
                            <select name="employer" id="" class="select a-select">
                                <option data-display="все"></option>
                                {% for employer in employers %}
                                    <option value="{{ employer.profile.name }}">{{ employer.profile.name }}</option>
                                {% endfor %}


                            </select>
                        </div>
                        <div class="content__item">
                            <label class="label" for="">{% trans 'client' %}</label>
                            <select name="customer" id="" class="select a-select">
                                <option data-display="все"></option>
                                {% for customer in customers %}
                                    <option value="{{ customer }}">{{ customer }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="content__item">
                            <label class="label" for="">{% trans 'service' %}</label>
                            <select name="service" id="" class="select a-select">
                                <option data-display="все"></option>
                                {% for service in services %}
                                    <option value="{{ service }}">{{ service }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="content__item">
                            <label class="label" for="">{% trans 'status' %}</label>
                            <select name="status" id="" class="select a-select">
                                <option data-display="все"></option>
                                {% for status in statuses %}
                                    <option value="{{ status.1 }}">{{ status.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="content__item content__item--r">
                            <label class="label" for="">{% trans 'results' %}: {{ bookings.count }}</label>
                            <button class="btn def-ora">{% trans 'show_result' %}</button>
                        </div>
                    </form>

                </div>

                <div class="content__block">
                    <div class="content__items">
                        <div class="content__item overflow">
                            <table class="meet-t" cellspacing="20" border="0" cellpadding="0">
                                <tbody>
                                <tr>
                                    <th>{% trans 'meeting_numbers' %}</th>
                                    <th>{% trans 'meeting_time' %}</th>
                                    <th>{% trans 'employee' %}</th>
                                    <th>{% trans 'client' %}</th>
                                    <th>{% trans 'client_contact' %}</th>
                                    <th>{% trans 'service' %}</th>
                                    <th>{% trans 'durations' %}</th>
                                    <th>{% trans 'status' %}</th>
                                    <th></th>
                                </tr>
                                {% for booking in bookings %}
                                    <tr>
                                        <th>{{ booking.id }}</th>
                                        <td>{{ booking.create_date }}</td>
                                        <td>
                                            <div class="meet-t__ava">
                                                {% if booking.employer.profile.image %}
                                                    <img src="{{ booking.employer.profile.image.url }}" alt="">
                                                {% endif %}

                                                <p>
                                                    <b>{{ booking.employer.profile.name }}</b>
                                                    <br>
                                                    {#                                                    <span>Парикмахер</span>#}
                                                </p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="meet-t__ava">
                                                {% if booking.customer %}
                                                    <img src="{{ booking.customer.profile.image.url }}" alt="">
                                                {% else %}
                                                    <img src="{% static 'img/beauty.jpg' %}" alt="">
                                                {% endif %}


                                                <p>
                                                    <b>{{ booking.contact_name }}</b>
                                                </p>
                                            </div>
                                        </td>
                                        <td><a href="tel:+996000123123">{{ booking.contact_phone }}</a><br><a
                                                href="mailto:simple@mail.in">{{ booking.contact_email }}</a>
                                        </td>
                                        <td><p class="t2-14">{{ booking.service.service_sub_category.name }}</p></td>
                                        <td>01:30</td>
                                        <td>
                                            {% if booking.status == 'В ожидании' %}
                                                <b class="status">
                                                    {% trans 'pending' %}
                                                </b>
                                            {% elif booking.status == 'Выполнено' %}
                                                <b class="status g-stat">
                                                    {% trans 'performed' %}
                                                </b>
                                            {% elif booking.status == 'Отменено клиентом' %}
                                                <b class="status r-stat">
                                                    {% trans 'canceled_by_client' %}
                                                </b>
                                            {% else %}
                                                <b class="status r-stat">
                                                    {% trans 'canceled_by_employee' %}
                                                </b>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <span class="edit"></span>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}