{% load static %}
{% load widget_tweaks %}
{% load i18n %}

<aside class="aside">
    <a href="#" class="logo"><img src="{% static 'img/logo.png' %}" alt="logo"></a>
    <div class="user">
        <div class="user__img">
            <img src="{% static 'img/beauty.jpg' %}" alt="">
        </div>
        <p>{% trans 'client' %}</p>
    </div>
    <div class="pad"><a href="{% url 'index' %}" class="btn def-ora full">{% trans 'Book now' %}</a></div>
    <ul class="aside-list">
        <li class="aside-list__bro"><a href="{% url 'my-bookings' %}">{% trans 'My reservations' %}</a></li>
        <li class="aside-list__fav"><a href="#">{% trans 'My favorites' %}</a></li>
        <li class="aside-list__set"><a href="{% url 'profile' %}" class="active">{% trans 'settings' %}</a></li>
        <li class="aside-list__log"><a href="#">{% trans 'Exit' %}</a></li>
    </ul>
    <div class="burger-x"></div>
</aside>
