{% extends 'company/calendar.html' %}
{% load i18n %}
{% load static %}
{% block content %}

    {% include 'user/aside_menu.html' %}
    <main class="main">
        <div class="content">
            <div class="content__header">
                <div class="burger"></div>
                <div>
                    <div class="t1">{% trans 'My reservations' %}</div>
                    <ul class="bread">
                        <li><a href="#">{% trans 'My reservations' %}</a></li>
                    </ul>
                </div>
            </div>
            <div class="content__inner">
                <div class="half-block">
                    <div class="content__block">
                        <div class="content__items content__grow">
                            <div class="content__item choose-sect">
                                <a href="#" class="choose-sect__upc active">{% trans 'Upcoming' %}</a>
                                <a href="#" class="choose-sect__mis">{% trans 'Past' %}</a>
                            </div>
                        </div>
                    </div>
                    <div class="content__item content__item--r">
                        <a href="{% url 'index' %}" class="btn def-ora big">{% trans 'New booking' %}</a>
                    </div>
                </div>

                <div class="content__block">
                    <div class="content__items">
                        <div class="content__item full">

                            <table class="meet-t" cellspacing="20" cellpadding="0">
                                <tbody class="meet-t">
                                <tr>
                                    <th>{% trans 'Company profile' %}</th>
                                    <th>{% trans 'Contacts' %}</th>
                                    <th>{% trans 'Selected services' %}</th>
                                    <th>{% trans 'Visit time' %}</th>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="meet-t__ava">
                                            <img src="{% static 'img/beauty.jpg' %}" alt="">

                                            <p>
                                                <b>Асель Джакыпова</b>
                                                <br>
                                                <span>Парикмахер</span>
                                            </p>
                                        </div>
                                    </td>
                                    <td>
                                        <a href="tel:+996000123123">+996 (000) 123-123</a><br><a
                                            href="mailto:simple@mail.in">simple@mail.in</a>
                                    </td>
                                    <td>Укладка волос, Ногтевой сервис, Педикюр</td>
                                    <td>01.08.2019 <br>05:35:26</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="meet-t__ava">
                                            <img src="{% static 'img/beauty.jpg' %}" alt="">

                                            <p>
                                                <b>Асель Джакыпова</b>
                                                <br>
                                                <span>Парикмахер</span>
                                            </p>
                                        </div>
                                    </td>
                                    <td>
                                        <a href="tel:+996000123123">+996 (000) 123-123</a><br><a
                                            href="mailto:simple@mail.in">simple@mail.in</a>
                                    </td>
                                    <td>Укладка волос, Ногтевой сервис, Педикюр</td>
                                    <td>01.08.2019 <br>05:35:26</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="meet-t__ava">
                                            <img src="{% static 'img/beauty.jpg' %}" alt="">

                                            <p>
                                                <b>Асель Джакыпова</b>
                                                <br>
                                                <span>Парикмахер</span>
                                            </p>
                                        </div>
                                    </td>
                                    <td>
                                        <a href="tel:+996000123123">+996 (000) 123-123</a><br><a
                                            href="mailto:simple@mail.in">simple@mail.in</a>
                                    </td>
                                    <td>Укладка волос, Ногтевой сервис, Педикюр</td>
                                    <td>01.08.2019 <br>05:35:26</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="meet-t__ava">
                                            <img src="{% static 'img/beauty.jpg' %}" alt="">

                                            <p>
                                                <b>Асель Джакыпова</b>
                                                <br>
                                                <span>Парикмахер</span>
                                            </p>
                                        </div>
                                    </td>
                                    <td>
                                        <a href="tel:+996000123123">+996 (000) 123-123</a><br><a
                                            href="mailto:simple@mail.in">simple@mail.in</a>
                                    </td>
                                    <td>Укладка волос, Ногтевой сервис, Педикюр</td>
                                    <td>01.08.2019 <br>05:35:26</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}