{% extends 'company/calendar.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
    {% include 'user/aside_menu.html' %}
    <main class="main">
        <div class="content">
            <div class="content__header">
                <div class="burger"></div>
                <div>
                    <div class="t1">{% trans 'settings' %}</div>
                    <ul class="bread">
                        <li><a href="#">{% trans 'settings' %}</a></li>
                    </ul>
                </div>
            </div>
            <div class="content__inner">
                <div class="content__block">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="content__items">
                            <div class="w66">
                                <div class="content__item">
                                    <label for="" class="label">{% trans 'Name' %}</label>
                                    {#                                    <input type="text" class="input" placeholder="Имя">#}
                                    {{ u_form.first_name|add_class:'input' }}
                                </div>
                                <div class="content__item">
                                    <label for="" class="label">{% trans 'Surname' %}</label>
                                    {{ u_form.last_name|add_class:'input' }}
                                </div>
                                <div class="content__item">
                                    <label for="" class="label">{% trans 'Phone number' %}</label>
                                    {#                                    <input type="text" class="input" placeholder="Телефон">#}
                                    {{ p_form.phone|add_class:'input' }}
                                </div>
                                <div class="content__item">
                                    <label for="" class="label">{% trans 'email' %}</label>
                                    {#                                    <input type="text" class="input" placeholder="Электронная почта">#}
                                    {{ u_form.email|add_class:'input' }}
                                </div>
                            </div>
                            <div class="w33">
                                <div class="content__item">
                                    <label for="" class="label">{% trans 'user_photo' %}</label>
                                    <div class="add-ava">
                                        <div class="add-ava__img">
                                            <img src="#" alt="">
                                        </div>
                                        <div class="add-ava__btn-box">
                                            <label for="" class="btn def-blue">
                                                {% trans 'add_photo' %}
{#                                                <input class="visually-hidden" type="file">#}
                                                {{ p_form.image|add_class:'visually-hidden' }}
                                            </label>
                                            <button class="btn def-btn">{% trans 'delete_photo' %}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w100-f">
                                <div class="content__item">
                                    <button class="btn def-ora big" type="submit">{% trans 'Save' %}</button>
                                </div>
                                <div class="content__item">
                                    <button class="btn big">{% trans 'Cancel' %}</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}