<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">

                 {% if messages %}
                     <ul class="messagelist">
                     {% for message in messages %}
                         <li class="alert alert-success ">{{ message }}</li>
                     {% endfor %}
                     </ul>

                 {% endif %}

            <legend class="border-bottom md-4">Password Reset</legend>
            {{ form }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Request Password Reset</button>

        </div>
    </form>
</body>
</html>