<form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">

        {% if messages %}
            <ul class="messagelist">
                {% for message in messages %}
                    <li class="alert alert-success ">{{ message }}</li>
                {% endfor %}
            </ul>

        {% endif %}


        {{ form }}
    </fieldset>
    <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Reset Password</button>
    </div>
</form>