{% load static %}
{% load i18n %}
<aside class="aside">
        <a href="{% url 'index' %}" class="logo"><img src="{% static 'img/logo.png' %}" alt="logo"></a>
        <div class="user">
            <div class="user__img">
                <img src="{% static 'img/beauty.jpg' %}" alt="">
            </div>
            <p>Awwwards Company</p>
        </div>
        <ul class="aside-list">
            <li class="aside-list__cus"><a href="{% url 'employer_bookings' %}">{% trans 'clients' %}</a></li>
            <li class="aside-list__set"><a href="{% url 'employer_settings' %}">{% trans 'settings' %}</a>
                <ul class="aside-list__drop active">
                    <li><a onclick="get_create_employer_page('details')" class="active" id="emp_details">{% trans 'details' %}</a></li>
                    <li><a onclick="get_create_employer_page('service')" id="emp_services">{% trans 'services' %}</a></li>
                    <li><a onclick="get_create_employer_page('graphic')" id="emp_schedule">{% trans 'schedule' %}</a></li>
                    <li><a onclick="get_create_employer_page('holidays')" id="emp_not_working_days">{% trans 'not_working_days' %}</a></li>
                </ul>
            </li>
{#            <li class="aside-list__sup"><a href="#">Центр помощи</a></li>#}
            <li class="aside-list__log"><a href="{% url 'logout' %}">{% trans 'logout' %}</a></li>
        </ul>
        <div class="burger-x"></div>
</aside>