{% extends 'main/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load i18n %}
{% block content %}

    {% include 'employer/_left_menu.html' %}

    <main class="main">
        <div class="content">
            <div class="content__header">
                <div class="burger"></div>
                <div>
                    <div class="t1">{% trans 'clients' %}</div>
                    <ul class="bread">
                        <li><a href="#">{% trans 'clients' %}</a></li>
                    </ul>
                </div>
            </div>
            <div class="content__inner">
                <div class="content__block">
                    <div class="content__items">
                        <div class="content__item overflow">
                            <table class="meet-t" cellspacing="20" border="0" cellpadding="0">
                                <tbody>
                                <tr>
                                    <th>{% trans 'meeting_numbers' %}</th>
                                    <th>{% trans 'meeting_time' %}</th>
                                    <th>{% trans 'client' %}</th>
                                    <th>{% trans 'customer_contact' %}</th>
                                    <th>{% trans 'service' %}</th>
                                    {#                                    <th>Длительность</th>#}
                                    <th>{% trans 'status' %}</th>
                                    <th></th>
                                </tr>

                                {% for booking in bookings %}
                                    <tr>
                                        <th>{{ forloop.counter }}</th>
                                        <td>16.09.2019 <br>16:00</td>
                                        <td>
                                            <div class="meet-t__ava">
                                                {% if booking.customer.profile.image %}
                                                    <img src="{{ booking.customer.profile.image.url }}" alt="{{ booking.customer.profile.image }}">
                                                {% endif %}
                                                <p>
                                                    <b>{{ booking.customer.profile.name }}</b>
                                                </p>
                                            </div>
                                        </td>
                                        <td><a href="tel:+996000123123">{{ booking.customer.profile.phone }}</a><br><a
                                                href="mailto:simple@mail.in">{{ booking.customer.profile.email }}</a>
                                        </td>
                                        <td><p class="t2-14">{{ booking.service.service_sub_category.name }}</p></td>
                                        {#                                        <td>01:30</td>#}
                                        <td>
                                            {% if booking.status == 'waiting' %}
                                                <b class="status">
                                                    {% trans 'Pending' %}
                                                </b>
                                            {% elif booking.status == 'accepted' %}
                                                <b class="status g-stat">
                                                    {% trans 'Performed' %}
                                                </b>
                                            {% elif booking.status == 'rejected_client' %}
                                                <b class="status r-stat">
                                                    {% trans 'Canceled by customer' %}
                                                </b>
                                            {% else %}
                                                <b class="status r-stat">
                                                    {% trans 'Canceled by employee' %}
                                                </b>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <span class="edit"></span>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}