{% extends 'main/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load i18n %}
{% load my_tags %}
{% block content %}
    {% include 'employer/_left_menu.html' %}
    <main class="main">
        <div class="content">
            <div class="content__header">
                <div class="burger"></div>
                <div>
                    <div class="t1">{% trans 'employers' %}</div>
                    <ul class="bread">
                        <li><a href="#">{% trans 'employers' %}</a></li>
                        <li><a href="#">{% trans 'edit' %}</a></li>
                    </ul>
                </div>
            </div>
            <div class="content__inner">
                <div class="content__block">
                    <div class="content__items content__grow">
                        <div class="content__item choose-sect">
                            <a class="choose-sect__det active" id="det"
                               onclick="get_create_employer_page('details')">{% trans 'details' %}</a>
                            <a class="choose-sect__ser" id="ser"
                               onclick="get_create_employer_page('service')">{% trans 'services' %}</a>
                            <a class="choose-sect__gra" id="gra"
                               onclick="get_create_employer_page('graphic')">{% trans 'schedule' %}</a>
                            <a class="choose-sect__ner" id="ner"
                               onclick="get_create_employer_page('holidays')">{% trans 'not_working_days' %}</a>
                        </div>
                    </div>
                </div>
                <form action="{% url 'employer_settings' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="content__block" id="details">
                        <div class="content__items">

                            <div class="w66">
                                <div class="content__item">
                                    <label for="" class="label">{% trans 'full_name' %}</label>
                                    {#<input type="text" class="input" placeholder="Имя">#}
                                    {{ form.name|add_class:'input'|attr:'placeholder:ФИО' }}
                                </div>
                                {#                                <div class="content__item">#}
                                {#                                    <label for="" class="label">Фамилия</label>#}
                                {#                                    <input type="text" class="input" placeholder="Фамилия">#}
                                {#                                </div>#}
                                <div class="content__item">
                                    <label for="" class="label">{% trans 'phone' %}</label>
                                    {#                                    <input type="text" class="input" placeholder="Телефон">#}
                                    {{ form.phone|add_class:'input'|attr:'placeholder:Телефон' }}

                                </div>
                                <div class="content__item">
                                    <label for="" class="label">{% trans 'email' %}</label>
                                    {#                                    <input type="text" class="input" placeholder="Электронная почта">#}
                                    {{ form.email|add_class:'input'|attr:'placeholder:Электронная почта' }}
                                </div>
                                {#                                <div class="content__item">#}
                                {#                                    <label class="label" for="">Место</label>#}
                                {#                                    <select name="" id="" class="select">#}
                                {#                                        <option data-display="Бишкек, название офиса"></option>#}
                                {#                                        <option value="">Лев</option>#}
                                {#                                        <option value="">Крокодил</option>#}
                                {#                                    </select>#}
                                {#                                    <p class="t9">Select locations in which staff member provides their services.</p>#}
                                {#                                </div>#}
                                <div class="content__item">
                                    <label class="label" for="">{% trans 'visibility' %}</label>
                                    {#                                    <select name="" id="" class="select">#}
                                    {#                                        <option data-display="Открытый"></option>#}
                                    {#                                        <option value="">Открытый</option>#}
                                    {#                                        <option value="">Крокодил</option>#}
                                    {#                                    </select>#}
                                    {{ form.visibility|add_class:'input' }}
                                    <p class="t9">{% trans 'To make an employee invisible to customers, set the visibility to Closed.' %}
                                </div>
                            </div>
                            <div class="w33">
                                <div class="content__item">
                                    <label for="" class="label">{% trans 'user_photo' %}</label>
                                    <div class="add-ava">
                                        <div class="add-ava__img">
                                            {% if request.user.profile.image %}
                                                <img src="{{ request.user.profile.image.url }}" alt="">
                                            {% else %}
                                                <img src="" alt="">
                                            {% endif %}
                                        </div>
                                        <div class="add-ava__btn-box">
                                            <label class="btn def-blue">
                                                {% trans 'add_photo' %}
                                                <input class="visually-hidden" type="file" name="image">
                                                {#                                                {{ form.image|add_class:'visually-hidden' }}#}
                                            </label>
                                            <button class="btn def-btn" onclick="delete_image({{ request.user.id }})">{% trans 'delete_photo' %}</button>
                                            <button class="btn def-ora" type="submit">{% trans 'save' %}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w100-33">
                                <div class="content__item">
                                    <label class="label" for="">{% trans 'information' %}</label>
                                    {#                                    <textarea class="textarea" name="" id="" cols="" rows="7"#}
                                    {#                                              placeholder="Ввведите информацию"></textarea>#}
                                    {{ form.information|add_class:'input'|attr:'placeholder:Ввведите информацию' }}
                                    <p class="t9">{% trans 'This text can be used in notifications using code' %}
                                        {staff_info}.</p>
                                </div>
                                {#                                <div class="content__item">#}
                                {#                                    <label class="label" for="">Пользователь</label>#}
                                {#                                    <select name="" id="" class="select">#}
                                {#                                        <option data-display="Выбрать из пользователей WP"></option>#}
                                {#                                        <option value="">Лев</option>#}
                                {#                                        <option value="">Крокодил</option>#}
                                {#                                    </select>#}
                                {#                                    <p class="t9">Если этому сотруднику требуется отдельный логин для доступа в личный#}
                                {#                                        календарь, тогда для этой цели должен быть создан обычный пользователь WP.#}
                                {#                                        Пользователь#}
                                {#                                        с ролью "Администратор" будет иметь доступ к календарям и настройкам всех#}
                                {#                                        сотрудников,#}
                                {#                                        пользователь с какой-то другой ролью будет иметь доступ только к личным календарем и#}
                                {#                                        настройкам. Если Вы не заполните это поле, работник не сможет получить доступ к#}
                                {#                                        календарю через административный интерфейс.</p>#}
                                {#                                </div>#}
                                {#                                <div class="content__item">#}
                                {#                                    <label for="" class="label">Интеграция с Google Календарём</label>#}
                                {#                                    <input type="text" class="input"#}
                                {#                                           placeholder="Сначала укажите настройки Google Календаря">#}
                                {#                                    <p class="t9">Синхронизировать данные о забронированных встречах сотрудника с его Google#}
                                {#                                        Календарём</p>#}
                                {#                                </div>#}
                            </div>
                            {#                            <div class="content__item">#}
                            {#                                <button class="btn def-tora big">Удалить</button>#}
                            {#                            </div>#}
                            <div class="content__item content__item--r">
                                <button class="btn def-ora big" type="submit">{% trans 'save' %}</button>
                            </div>
                            <div class="content__item content__item--r">
                                {#                                <button class="btn def-ora big" type="submit">Сохранить</button>#}
                                <div class="btn def-ora big"
                                     onclick="get_create_employer_page('service')">{% trans 'next' %}</div>
                            </div>
                            <div class="content__item">
                                <button class="btn big">{% trans 'cancel' %}</button>
                            </div>
                        </div>
                    </div>

                    <div class="content__block" id="service" style="display: none">
                        <div class="content__items">
                            <div class="w66-f">
                                <div class="w100-f" id="check-block-{{ category.id }}">
                                    <div class="label-head">
                                        <p><b>{{ category.title }}</b></p>
                                        <label for="checkbox-{{ category.id }}" class="label-check"
                                               id="label-{{ category.id }}">
                                            <input type="checkbox" class="visually-hidden"
                                                   id="checkbox-{{ category.id }}">
                                            <div></div>
                                            <span>{% trans 'select_all' %}</span>
                                        </label>
                                    </div>
                                    {% for item in category.sub_category.all %}
                                        <div class="subcategory-check-block">
                                            {% if item in sub_category_addition %}
                                                {% for service in services %}
                                                    {% if service.service_sub_category == item %}
                                                        <label class="label-check">
                                                            <input type="checkbox" class="visually-hidden" checked
                                                                   name="sub_category{{ item.id }}"
                                                                   value="{{ item.id }}">
                                                            <div></div>
                                                            {{ item.name }}
                                                        </label>
                                                        <div class="content__item">
                                                            <input type="number" class="input"
                                                                   placeholder="{% trans 'price' %}"
                                                                   name="{{ item.id }}" value="{{ service.price }}">
                                                        </div>

                                                    {% endif %}

                                                {% endfor %}
                                            {% else %}
                                                <label class="label-check">
                                                    <input type="checkbox" class="visually-hidden"
                                                           name="sub_category{{ item.id }}"
                                                           value="{{ item.id }}">
                                                    <div></div>
                                                    {{ item.name }}
                                                </label>
                                                <div class="content__item">
                                                    <input type="number" class="input" placeholder="{% trans 'price' %}"
                                                           name="{{ item.id }}">
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endfor %}

                                </div>
                            </div>
                            <div class="w100-f">
                                <div class="content__item content__item--r">
                                    <button class="btn def-ora big" type="submit">{% trans 'save' %}</button>
                                </div>
                                <div class="content__item content__item--r">
                                    <div class="btn def-ora big"
                                         onclick="get_create_employer_page('graphic')">{% trans 'next' %}</div>
                                </div>
                                <div class="content__item">
                                    <button class="btn big">{% trans 'cancel' %}</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content__block" id="graphic" style="display: none">
                        <div class="content__items">
                            {% if day_modes.6.day == 6 %}
                                <div class="w66-f schedule-item">
                                    <div class="label-head">
                                        <p>
                                            <b>{% trans 'sunday' %}</b>
                                            <input type="checkbox" checked name="check_sunday_6">
                                        </p>
                                        <span class="label-head__desc">
                                        {% trans 'break' %}
                                            {% if day_modes.6.is_break %}
                                                <input type="checkbox" checked name="sunday_break"
                                                       id="sunday_break_check"
                                                       onclick="display_break('sunday_break_check')">
                                            {% else %}
                                                <input type="checkbox" name="sunday_break" id="sunday_break_check"
                                                       onclick="display_break('sunday_break_check')">
                                            {% endif %}
                                    </span>
                                    </div>
                                    <p class="label schedule-text">{% trans 'schedule' %}</p>
                                    <div class="content__item">
                                        <span>{% trans 'from' %}</span>

                                        <select type="text" class="select" name="sunday_start_work">
                                            <option value="{{ day_modes.6.start_work|time:"H:i" }}" selected
                                                    hidden>{{ day_modes.6.start_work|time:"H:i" }}</option>
                                            {% include 'employer/select_options.html' %}
                                        </select>
                                    </div>
                                    <div class="content__item">
                                        <span>{% trans 'to' %}</span>

                                        <select type="text" class="select" name="sunday_end_work">
                                            <option value="{{ day_modes.6.end_work|time:"H:i" }}" selected
                                                    hidden>{{ day_modes.6.end_work|time:"H:i" }}</option>
                                            {% include 'employer/select_options.html' %}
                                        </select>
                                    </div>

                                    <div style="display: {% display_is_break day_modes.6.is_break %}" id="sunday_break_check_tail">
                                        <p class="label schedule-text">{% trans 'break' %}</p>
                                        <div class="content__item">
                                            <span>{% trans 'from' %}</span>

                                            <select type="text" class="select" name="sunday_start_break">
                                                <option value="{{ day_modes.6.start_break|time:"H:i" }}" selected
                                                        hidden>{{ day_modes.6.start_break|time:"H:i" }}</option>
                                                {% include 'employer/select_options.html' %}
                                            </select>
                                        </div>
                                        <div class="content__item">
                                            <span>{% trans 'to' %}</span>

                                            <select type="text" class="select" name="sunday_end_break">
                                                <option value="{{ day_modes.6.end_break|time:"H:i" }}" selected
                                                        hidden>{{ day_modes.6.end_break|time:"H:i" }}</option>
                                                {% include 'employer/select_options.html' %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="w66-f schedule-item">
                                    <div class="label-head">
                                        <p>
                                            <b>{% trans 'sunday' %}</b>
                                            <input type="checkbox" name="check_sunday_6">
                                        </p>
                                        <span class="label-head__desc">
                                        {% trans 'break' %}
                                            <input type="checkbox" name="sunday_break" name="sunday_break"
                                                   id="sunday_break_check"
                                                   onclick="display_break('sunday_break_check')">
                                    </span>
                                    </div>
                                    <p class="label schedule-text">{% trans 'schedule' %}</p>
                                    <div class="content__item">
                                        <span>{% trans 'from' %}</span>

                                        <select type="text" class="select" name="sunday_start_work">
                                            {% include 'employer/select_options.html' %}
                                        </select>
                                    </div>
                                    <div class="content__item">
                                        <span>{% trans 'to' %}</span>

                                        <select type="text" class="select" name="sunday_end_work">
                                            {% include 'employer/select_options.html' %}
                                        </select>
                                    </div>

                                    <div style="display: none" id="sunday_break_check_tail">
                                        <p class="label schedule-text">{% trans 'break' %}</p>
                                        <div class="content__item">
                                            <span>{% trans 'from' %}</span>

                                            <select type="text" class="select" name="sunday_start_break">
                                                {% include 'employer/select_options.html' %}
                                            </select>
                                        </div>
                                        <div class="content__item">
                                            <span>{% trans 'to' %}</span>

                                            <select type="text" class="select" name="sunday_end_break">
                                                {% include 'employer/select_options.html' %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if day_modes.0.day == 0 %}
                                <div class="w66-f schedule-item">
                                    <div class="label-head">
                                        <p>
                                            <b>{% trans 'monday' %}</b>
                                            <input type="checkbox" checked name="check_monday_0">
                                        </p>
                                        <span class="label-head__desc">
                                        {% trans 'break' %}
                                            {% if day_modes.0.is_break %}
                                                <input type="checkbox" checked name="monday_break"
                                                       id="monday_break_check"
                                                       onclick="display_break('monday_break_check')">
                                            {% else %}
                                                <input type="checkbox" name="monday_break" id="monday_break_check"
                                                       onclick="display_break('monday_break_check')">
                                            {% endif %}
                                    </span>
                                    </div>
                                    <p class="label schedule-text">{% trans 'schedule' %}</p>
                                    <div class="content__item">
                                        <span>{% trans 'from' %}</span>

                                        <select type="text" class="select" name="monday_start_work">
                                            <option value="{{ day_modes.0.start_work|time:"H:i" }}" selected
                                                    hidden>{{ day_modes.0.start_work|time:"H:i" }}</option>
                                            {% include 'employer/select_options.html' %}
                                        </select>
                                    </div>
                                    <div class="content__item">
                                        <span>{% trans 'to' %}</span>

                                        <select type="text" class="select" name="monday_end_work">
                                            <option value="{{ day_modes.0.end_work|time:"H:i" }}" selected
                                                    hidden>{{ day_modes.0.end_work|time:"H:i" }}</option>
                                            {% include 'employer/select_options.html' %}
                                        </select>
                                    </div>

                                    <div style="display: {% display_is_break day_modes.0.is_break %}" id="monday_break_check_tail">
                                        <p class="label schedule-text">{% trans 'break' %}</p>
                                        <div class="content__item">
                                            <span>{% trans 'from' %}</span>
                                            <select type="text" class="select" name="monday_start_break">
                                                <option value="{{ day_modes.0.start_break|time:"H:i" }}" selected
                                                        hidden>{{ day_modes.0.start_break|time:"H:i" }}</option>
                                                {% include 'employer/select_options.html' %}
                                            </select>
                                        </div>
                                        <div class="content__item">
                                            <span>{% trans 'to' %}</span>

                                            <select type="text" class="select" name="monday_end_break">
                                                <option value="{{ day_modes.0.end_break|time:"H:i" }}" selected
                                                        hidden>{{ day_modes.0.end_break|time:"H:i" }}</option>
                                                {% include 'employer/select_options.html' %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="w66-f schedule-item">
                                    <div class="label-head">
                                        <p>
                                            <b>{% trans 'monday' %}</b>
                                            <input type="checkbox" name="check_monday_0">
                                        </p>
                                        <span class="label-head__desc">
                                        {% trans 'break' %}
                                            <input type="checkbox" name="monday_break" id="monday_break_check"
                                                   onclick="display_break('monday_break_check')">
                                    </span>
                                    </div>
                                    <p class="label schedule-text">{% trans 'schedule' %}</p>
                                    <div class="content__item">
                                        <span>{% trans 'from' %}</span>

                                        <select type="text" class="select" name="monday_start_work">
                                            {% include 'employer/select_options.html' %}
                                        </select>
                                    </div>
                                    <div class="content__item">
                                        <span>{% trans 'to' %}</span>

                                        <select type="text" class="select" name="monday_end_work">
                                            {% include 'employer/select_options.html' %}
                                        </select>
                                    </div>

                                    <div style="display: none" id="monday_break_check_tail">
                                        <p class="label schedule-text">{% trans 'break' %}</p>
                                        <div class="content__item">
                                            <span>{% trans 'from' %}</span>
                                            <select type="text" class="select" name="monday_start_break">
                                                {% include 'employer/select_options.html' %}
                                            </select>
                                        </div>
                                        <div class="content__item">
                                            <span>{% trans 'to' %}</span>

                                            <select type="text" class="select" name="monday_end_break">
                                                {% include 'employer/select_options.html' %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if day_modes.1.day == 1 %}
                                <div class="w66-f schedule-item">
                                    <div class="label-head">
                                        <p>
                                            <b>{% trans 'tuesday' %}</b>
                                            <input type="checkbox" checked name="check_tuesday_1">
                                        </p>
                                        <span class="label-head__desc">
                                        {% trans 'break' %}
                                            {% if day_modes.1.is_break %}
                                                <input type="checkbox" name="tuesday_break" id="tuesday_break_check"
                                                       onclick="display_break('tuesday_break_check')" checked>
                                            {% else %}
                                                <input type="checkbox" name="tuesday_break" id="tuesday_break_check"
                                                       onclick="display_break('tuesday_break_check')">
                                            {% endif %}
                                    </span>
                                    </div>

                                    <p class="label schedule-text">{% trans 'schedule' %}</p>
                                    <div class="content__item">
                                        <span>{% trans 'from' %}</span>

                                        <select type="text" class="select" name="tuesday_start_work">
                                            <option value="{{ day_modes.1.start_work|time:"H:i" }}" selected
                                                    hidden>{{ day_modes.1.start_work|time:"H:i" }}</option>
                                            {% include 'employer/select_options.html' %}
                                        </select>
                                    </div>
                                    <div class="content__item">
                                        <span>{% trans 'to' %}</span>

                                        <select type="text" class="select" name="tuesday_end_work">
                                            <option value="{{ day_modes.1.end_work|time:"H:i" }}" selected
                                                    hidden>{{ day_modes.1.end_work|time:"H:i" }}</option>
                                            {% include 'employer/select_options.html' %}
                                        </select>
                                    </div>

                                    <div style="display: {% display_is_break day_modes.1.is_break %}" id="tuesday_break_check_tail">
                                        <p class="label schedule-text">{% trans 'break' %}</p>
                                        <div class="content__item">
                                            <span>{% trans 'from' %}</span>

                                            <select type="text" class="select" name="tuesday_start_break">
                                                <option value="{{ day_modes.1.start_break|time:"H:i" }}" selected
                                                        hidden>{{ day_modes.1.start_break|time:"H:i" }}</option>
                                                {% include 'employer/select_options.html' %}
                                            </select>
                                        </div>
                                        <div class="content__item">
                                            <span>{% trans 'to' %}</span>

                                            <select type="text" class="select" name="tuesday_end_break">
                                                <option value="{{ day_modes.1.end_break|time:"H:i" }}" selected
                                                        hidden>{{ day_modes.1.end_break|time:"H:i" }}</option>
                                                {% include 'employer/select_options.html' %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="w66-f schedule-item">
                                    <div class="label-head">
                                        <p>
                                            <b>{% trans 'tuesday' %}</b>
                                            <input type="checkbox" name="check_tuesday_1">
                                        </p>
                                        <span class="label-head__desc">
                                        {% trans 'break' %}
                                            <input type="checkbox" name="tuesday_break" id="tuesday_break_check"
                                                   onclick="display_break('tuesday_break_check')">
                                    </span>
                                    </div>

                                    <p class="label schedule-text">{% trans 'schedule' %}</p>
                                    <div class="content__item">
                                        <span>{% trans 'from' %}</span>

                                        <select type="text" class="select" name="tuesday_start_work">
                                            {% include 'employer/select_options.html' %}
                                        </select>
                                    </div>
                                    <div class="content__item">
                                        <span>{% trans 'to' %}</span>

                                        <select type="text" class="select" name="tuesday_end_work">
                                            {% include 'employer/select_options.html' %}
                                        </select>
                                    </div>

                                    <div style="display: none" id="tuesday_break_check_tail">
                                        <p class="label schedule-text">{% trans 'break' %}</p>
                                        <div class="content__item">
                                            <span>{% trans 'from' %}</span>

                                            <select type="text" class="select" name="tuesday_start_break">
                                                {% include 'employer/select_options.html' %}
                                            </select>
                                        </div>
                                        <div class="content__item">
                                            <span>{% trans 'to' %}</span>

                                            <select type="text" class="select" name="tuesday_end_break">
                                                {% include 'employer/select_options.html' %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if day_modes.2.day == 2 %}
                                <div class="w66-f schedule-item">
                                    <div class="label-head">
                                        <p>
                                            <b>{% trans 'wednesday' %}</b>
                                            <input type="checkbox" checked name="check_wednesday_2">
                                        </p>
                                        <span class="label-head__desc">
                                        {% trans 'break' %}
                                            {% if day_modes.2.is_break %}
                                                <input type="checkbox" checked name="wednesday_break"
                                                       id="wednesday_break_check"
                                                       onclick="display_break('wednesday_break_check')">
                                            {% else %}
                                                <input type="checkbox" name="wednesday_break" id="wednesday_break_check"
                                                       onclick="display_break('wednesday_break_check')">
                                            {% endif %}
                                    </span>
                                    </div>
                                    <p class="label schedule-text">{% trans 'schedule' %}</p>
                                    <div class="content__item">
                                        <span>{% trans 'from' %}</span>

                                        <select type="text" class="select" name="wednesday_start_work">
                                            <option value="{{ day_modes.2.start_work|time:"H:i" }}" selected
                                                    hidden>{{ day_modes.2.start_work|time:"H:i" }}</option>
                                            {% include 'employer/select_options.html' %}
                                        </select>
                                    </div>
                                    <div class="content__item">
                                        <span>{% trans 'to' %}</span>

                                        <select type="text" class="select" name="wednesday_end_work">
                                            <option value="{{ day_modes.2.end_work|time:"H:i" }}" selected
                                                    hidden>{{ day_modes.2.end_work|time:"H:i" }}</option>
                                            {% include 'employer/select_options.html' %}
                                        </select>
                                    </div>

                                    <div style="display: {% display_is_break day_modes.2.is_break %}" id="wednesday_break_check_tail">
                                        <p class="label schedule-text">{% trans 'break' %}</p>
                                        <div class="content__item">
                                            <span>{% trans 'from' %}</span>

                                            <select type="text" class="select" name="wednesday_start_break">
                                                <option value="{{ day_modes.2.start_break|time:"H:i" }}" selected
                                                        hidden>{{ day_modes.2.start_break|time:"H:i" }}</option>
                                                {% include 'employer/select_options.html' %}
                                            </select>
                                        </div>
                                        <div class="content__item">
                                            <span>{% trans 'to' %}</span>

                                            <select type="text" class="select" name="wednesday_end_break">
                                                <option value="{{ day_modes.2.end_break|time:"H:i" }}" selected
                                                        hidden>{{ day_modes.2.end_break|time:"H:i" }}</option>
                                                {% include 'employer/select_options.html' %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="w66-f schedule-item">
                                    <div class="label-head">
                                        <p>
                                            <b>{% trans 'wednesday' %}</b>
                                            <input type="checkbox" name="check_wednesday_2">
                                        </p>
                                        <span class="label-head__desc">
                                        {% trans 'break' %}
                                            <input type="checkbox" name="wednesday_break" id="wednesday_break_check"
                                                   onclick="display_break('wednesday_break_check')">
                                    </span>
                                    </div>
                                    <p class="label schedule-text">{% trans 'schedule' %}</p>
                                    <div class="content__item">
                                        <span>{% trans 'from' %}</span>

                                        <select type="text" class="select" name="wednesday_start_work">
                                            {% include 'employer/select_options.html' %}
                                        </select>
                                    </div>
                                    <div class="content__item">
                                        <span>{% trans 'to' %}</span>

                                        <select type="text" class="select" name="wednesday_end_work">
                                            {% include 'employer/select_options.html' %}
                                        </select>
                                    </div>

                                    <div style="display: none" id="wednesday_break_check_tail">
                                        <p class="label schedule-text">{% trans 'break' %}</p>
                                        <div class="content__item">
                                            <span>{% trans 'from' %}</span>

                                            <select type="text" class="select" name="wednesday_start_break">
                                                {% include 'employer/select_options.html' %}
                                            </select>
                                        </div>
                                        <div class="content__item">
                                            <span>{% trans 'to' %}</span>

                                            <select type="text" class="select" name="wednesday_end_break">
                                                {% include 'employer/select_options.html' %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if day_modes.3.day == 3 %}
                                <div class="w66-f schedule-item">
                                    <div class="label-head">
                                        <p>
                                            <b>{% trans 'thursday' %}</b>
                                            <input type="checkbox" checked name="check_thursday_3">
                                        </p>
                                        <span class="label-head__desc">
                                        {% trans 'break' %}
                                            {% if day_modes.3.is_break %}
                                                <input type="checkbox" name="thursday_break" id="thursday_break_check"
                                                       onclick="display_break('thursday_break_check')" checked>
                                            {% else %}
                                                <input type="checkbox" name="thursday_break" id="thursday_break_check"
                                                       onclick="display_break('thursday_break_check')">
                                            {% endif %}
                                    </span>
                                    </div>
                                    <p class="label schedule-text">{% trans 'schedule' %}</p>
                                    <div class="content__item">
                                        <span>{% trans 'from' %}</span>

                                        <select type="text" class="select" name="thursday_start_work">
                                            <option value="{{ day_modes.3.start_work|time:"H:i" }}" selected
                                                    hidden>{{ day_modes.3.start_work|time:"H:i" }}</option>
                                            {% include 'employer/select_options.html' %}
                                        </select>
                                    </div>
                                    <div class="content__item">
                                        <span>{% trans 'to' %}</span>

                                        <select type="text" class="select" name="thursday_end_work">
                                            <option value="{{ day_modes.3.end_work|time:"H:i" }}" selected
                                                    hidden>{{ day_modes.3.end_work|time:"H:i" }}</option>
                                            {% include 'employer/select_options.html' %}
                                        </select>
                                    </div>

                                    <div style="display: {% display_is_break day_modes.3.is_break %}" id="thursday_break_check_tail">
                                        <p class="label schedule-text">{% trans 'break' %}</p>
                                        <div class="content__item">
                                            <span>{% trans 'from' %}</span>

                                            <select type="text" class="select" name="thursday_start_break">
                                                <option value="{{ day_modes.3.start_break|time:"H:i" }}" selected
                                                        hidden>{{ day_modes.3.start_break|time:"H:i" }}</option>
                                                {% include 'employer/select_options.html' %}
                                            </select>
                                        </div>
                                        <div class="content__item">
                                            <span>{% trans 'to' %}</span>

                                            <select type="text" class="select" name="thursday_end_break">
                                                <option value="{{ day_modes.3.end_break|time:"H:i" }}" selected
                                                        hidden>{{ day_modes.3.end_break|time:"H:i" }}</option>
                                                {% include 'employer/select_options.html' %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="w66-f schedule-item">
                                    <div class="label-head">
                                        <p>
                                            <b>{% trans 'thursday' %}</b>
                                            <input type="checkbox" name="check_thursday_3">
                                        </p>
                                        <span class="label-head__desc">
                                        {% trans 'break' %}
                                            <input type="checkbox" name="thursday_break" id="thursday_break_check"
                                                   onclick="display_break('thursday_break_check')">
                                    </span>
                                    </div>
                                    <p class="label schedule-text">{% trans 'schedule' %}</p>
                                    <div class="content__item">
                                        <span>{% trans 'from' %}</span>

                                        <select type="text" class="select" name="thursday_start_work">
                                            {% include 'employer/select_options.html' %}
                                        </select>
                                    </div>
                                    <div class="content__item">
                                        <span>{% trans 'to' %}</span>

                                        <select type="text" class="select" name="thursday_end_work">
                                            {% include 'employer/select_options.html' %}
                                        </select>
                                    </div>

                                    <div style="display: none" id="thursday_break_check_tail">
                                        <p class="label schedule-text">{% trans 'break' %}</p>
                                        <div class="content__item">
                                            <span>{% trans 'from' %}</span>

                                            <select type="text" class="select" name="thursday_start_break">
                                                {% include 'employer/select_options.html' %}
                                            </select>
                                        </div>
                                        <div class="content__item">
                                            <span>{% trans 'to' %}</span>

                                            <select type="text" class="select" name="thursday_end_break">
                                                {% include 'employer/select_options.html' %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if day_modes.4.day == 4 %}
                                <div class="w66-f schedule-item">
                                    <div class="label-head">
                                        <p>
                                            <b>{% trans 'friday' %}</b>
                                            <input type="checkbox" checked name="check_friday_4">
                                        </p>
                                        <span class="label-head__desc">
                                        {% trans 'break' %}
                                            {% if day_modes.4.is_break %}
                                                <input type="checkbox" checked name="friday_break"
                                                       id="friday_break_check"
                                                       onclick="display_break('friday_break_check')">
                                            {% else %}
                                                <input type="checkbox" name="friday_break" id="friday_break_check"
                                                       onclick="display_break('friday_break_check')">
                                            {% endif %}
                                    </span>
                                    </div>
                                    <p class="label schedule-text">{% trans 'schedule' %}</p>
                                    <div class="content__item">
                                        <span>{% trans 'from' %}</span>

                                        <select type="text" class="select" name="friday_start_work">
                                            <option value="{{ day_modes.4.start_work|time:"H:i" }}" selected
                                                    hidden>{{ day_modes.4.start_work|time:"H:i" }}</option>
                                            {% include 'employer/select_options.html' %}
                                        </select>
                                    </div>
                                    <div class="content__item">
                                        <span>{% trans 'to' %}</span>

                                        <select type="text" class="select" name="friday_end_work">
                                            <option value="{{ day_modes.4.end_work|time:"H:i" }}" selected
                                                    hidden>{{ day_modes.4.end_work|time:"H:i" }}</option>
                                            {% include 'employer/select_options.html' %}
                                        </select>
                                    </div>

                                    <div style="display: {% display_is_break day_modes.4.is_break %}" id="friday_break_check_tail">
                                        <p class="label schedule-text">{% trans 'break' %}</p>
                                        <div class="content__item">
                                            <span>{% trans 'from' %}</span>

                                            <select type="text" class="select" name="friday_start_break">
                                                <option value="{{ day_modes.4.start_break|time:"H:i" }}" selected
                                                        hidden>{{ day_modes.4.start_break|time:"H:i" }}</option>
                                                {% include 'employer/select_options.html' %}
                                            </select>
                                        </div>
                                        <div class="content__item">
                                            <span>{% trans 'to' %}</span>

                                            <select type="text" class="select" name="friday_end_break">
                                                <option value="{{ day_modes.4.end_break|time:"H:i" }}" selected
                                                        hidden>{{ day_modes.4.end_break|time:"H:i" }}</option>
                                                {% include 'employer/select_options.html' %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="w66-f schedule-item">
                                    <div class="label-head">
                                        <p>
                                            <b>{% trans 'friday' %}</b>
                                            <input type="checkbox" name="check_friday_4">
                                        </p>
                                        <span class="label-head__desc">
                                        {% trans 'break' %}
                                            <input type="checkbox" name="friday_break" id="friday_break_check"
                                                   onclick="display_break('friday_break_check')">
                                    </span>
                                    </div>
                                    <p class="label schedule-text">{% trans 'schedule' %}</p>
                                    <div class="content__item">
                                        <span>{% trans 'from' %}</span>

                                        <select type="text" class="select" name="friday_start_work">
                                            {% include 'employer/select_options.html' %}
                                        </select>
                                    </div>
                                    <div class="content__item">
                                        <span>{% trans 'to' %}</span>

                                        <select type="text" class="select" name="friday_end_work">
                                            {% include 'employer/select_options.html' %}
                                        </select>
                                    </div>

                                    <div style="display: none" id="friday_break_check_tail">
                                        <p class="label schedule-text">{% trans 'break' %}</p>
                                        <div class="content__item">
                                            <span>{% trans 'from' %}</span>

                                            <select type="text" class="select" name="friday_start_break">
                                                {% include 'employer/select_options.html' %}
                                            </select>
                                        </div>
                                        <div class="content__item">
                                            <span>{% trans 'to' %}</span>

                                            <select type="text" class="select" name="friday_end_break">
                                                {% include 'employer/select_options.html' %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if day_modes.5.day == 5 %}
                                <div class="w66-f schedule-item">
                                    <div class="label-head">
                                        <p>
                                            <b>{% trans 'saturday' %}</b>
                                            <input type="checkbox" checked name="check_saturday_5">
                                        </p>
                                        <span class="label-head__desc">
                                        {% trans 'break' %}
                                            {% if day_modes.5.is_break %}
                                                <input type="checkbox" name="saturday_break" id="saturday_break_check"
                                                       onclick="display_break('saturday_break_check')">
                                            {% else %}
                                                <input type="checkbox" name="saturday_break" id="saturday_break_check"
                                                       onclick="display_break('saturday_break_check')">
                                            {% endif %}
                                    </span>
                                    </div>
                                    <p class="label schedule-text">{% trans 'schedule' %}</p>
                                    <div class="content__item">
                                        <span>{% trans 'from' %}</span>

                                        <select type="text" class="select" name="saturday_start_work">
                                            <option value="{{ day_modes.5.start_work|time:"H:i" }}" selected
                                                    hidden>{{ day_modes.5.start_work|time:"H:i" }}</option>
                                            {% include 'employer/select_options.html' %}
                                        </select>
                                    </div>
                                    <div class="content__item">
                                        <span>{% trans 'to' %}</span>

                                        <select type="text" class="select" name="saturday_end_work">
                                            <option value="{{ day_modes.5.end_work|time:"H:i" }}" selected
                                                    hidden>{{ day_modes.5.end_work|time:"H:i" }}</option>
                                            {% include 'employer/select_options.html' %}
                                        </select>
                                    </div>

                                    <div style="display: {% display_is_break day_modes.5.is_break %}"
                                         id="saturday_break_check_tail">
                                        <p class="label schedule-text">{% trans 'break' %}</p>
                                        <div class="content__item">
                                            <span>{% trans 'from' %}</span>

                                            <select type="text" class="select" name="saturday_start_break" id="saturday_break_check_tail">
                                                <option value="{{ day_modes.5.start_break|time:"H:i" }}" selected
                                                        hidden>{{ day_modes.5.start_break|time:"H:i" }}</option>
                                                {% include 'employer/select_options.html' %}
                                            </select>
                                        </div>
                                        <div class="content__item">
                                            <span>{% trans 'to' %}</span>

                                            <select type="text" class="select" name="saturday_end_break">
                                                <option value="{{ day_modes.5.end_break|time:"H:i" }}" selected
                                                        hidden>{{ day_modes.5.end_break|time:"H:i" }}</option>
                                                {% include 'employer/select_options.html' %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="w66-f schedule-item">
                                    <div class="label-head">
                                        <p>
                                            <b>{% trans 'saturday' %}</b>
                                            <input type="checkbox" name="check_saturday_5">
                                        </p>
                                        <span class="label-head__desc">
                                        {% trans 'break' %}
                                            <input type="checkbox" name="saturday_break" id="saturday_break_check"
                                                   onclick="display_break('saturday_break_check')">
                                    </span>
                                    </div>
                                    <p class="label schedule-text">{% trans 'schedule' %}</p>
                                    <div class="content__item">
                                        <span>{% trans 'from' %}</span>

                                        <select type="text" class="select" name="saturday_start_work">
                                            {% include 'employer/select_options.html' %}
                                        </select>
                                    </div>
                                    <div class="content__item">
                                        <span>{% trans 'to' %}</span>

                                        <select type="text" class="select" name="saturday_end_work">
                                            {% include 'employer/select_options.html' %}
                                        </select>
                                    </div>

                                    <div style="display: none" id="saturday_break_check_tail">
                                        <p class="label schedule-text">{% trans 'break' %}</p>
                                        <div class="content__item">
                                            <span>{% trans 'from' %}</span>

                                            <select type="text" class="select" name="saturday_start_break">
                                                {% include 'employer/select_options.html' %}
                                            </select>
                                        </div>
                                        <div class="content__item">
                                            <span>{% trans 'to' %}</span>

                                            <select type="text" class="select" name="saturday_end_break">
                                                {% include 'employer/select_options.html' %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="w66-f">
                                <div class="content__item content__item--r">
                                    <button class="btn def-ora big" type="submit">{% trans 'save' %}</button>
                                </div>
                                <div class="content__item content__item--r">
                                    <div class="btn def-ora big"
                                         onclick="get_create_employer_page('holidays')">{% trans 'next' %}</div>
                                </div>
                                <div class="content__item">
                                    <button class="btn big">{% trans 'cancel' %}</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content__block " id="holidays" style="display: none">
                        <div class="content__items">
                            <div class="">
                                <div class="big-calendar" id="calendar"></div>
                            </div>
                            <div class="w100-f">
                                <div class="content__item content__item--r">
                                    <button class="btn def-ora big">{% trans 'save' %}</button>
                                </div>
                                <div class="content__item">
                                    <button class="btn big">{% trans 'cancel' %}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}