{% load static %}
{% load widget_tweaks %}
<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Awwards</title>
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/png">
    {% include 'main/meta-header.html' %}
    {% block css %}
        
    {% endblock %}
</head>

<body>
{% include 'main/header.html' %}
{% block content %}

{% endblock %}
{% include 'main/meta-footer.html' %}
{% block js %}

{% endblock %}
</body>

</html>