{% load static %}
{% load widget_tweaks %}
{% load i18n %}
<header>
    <div class="container">
        <nav class="main-nav">
            <a href="{% url 'index' %}" class="logo">
                <img src="{% static 'img/logo.png' %}" alt="logo">
            </a>

            <ul class="main-nav__btn">

                <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}"/>
                    <select name="language">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                                    selected="selected"{% endif %}>
                                {{ language.name_local }} ({{ language.code }})
                            </option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Go"/>
                </form>


                <li>
                    <a href="{% url 'profile' %}" class="favorite">{% trans "Favorite" %}</a>
                </li>

                <li>
                    {% if user.is_authenticated %}
                        <a href="{% url 'check_profile' %}"
                           class="nav__left-item nav-user">{{ user.profile }}</a>

                        <li>
                            <a href="{% url 'logout' %}" class="btn def-ora">{% trans "Logout" %}</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="javascript:void(0);"
                               class="btn sign_in_btn def-tblue">{% trans "Sign In" %}</a>
                        </li>
                    {% endif %}
                </li>

                {% if user.is_authenticated and user.profile.is_company and not user.profile.company %}
                    <li>
                        <a href="{% url 'create_company' %}" class="btn def-ora">{% trans "Add a New Company" %}</a>
                    </li>
                {% endif %}
            </ul>
            <div class="burger"></div>
        </nav>
    </div>
    <!-- Форма авторизации -->
    <div class="sign-in popup">
        <form action="" method="post">
            {% csrf_token %}
            <br><br><br>
            <div class="local-auth">
                <span>E-mail</span>
                {#                <input type="email" class="input" placeholder="Enter your e-mail"/>#}
                {{ form.username|add_class:"input"|attr:'placeholder:Enter your username' }}
                <span>Password</span>
                {#                <input type="email" class="input" placeholder="Enter your e-mail"/>#}
                {{ form.password|add_class:"input"|attr:'placeholder:Enter your password' }}
                <input type="submit" class="btn def-ora send-btn" value="Log in"/>
            </div>
        </form>
        <div class="other"><a href="{% url 'password_reset' %}">Reset</a><br><br><span>Already have an account? <a
                href="{% url 'signup' %}" class="sign_up_btn"> Sign Up</a></span>
        </div>
    </div>
    <div class="sign-up popup">
        <form action="" method="post">
            {% csrf_token %}
            <br><br><br>

            <div class="local-auth">
                <span>E-mail</span>
                <input type="email" class="input" placeholder="Enter your e-mail"/>

                <span>Password</span>
                <input type="password" class="input" placeholder="Enter Password"/>
                <input type="password" class="input" placeholder="Enter Password"/>
                <input type="submit" class="btn def-ora send-btn" value="Create account"/>
            </div>
        </form>
        <div class="other"><span>Already have an account? <a href="javascript:void(0);" class="sign_in_btn"> Log in</a></span>
        </div>
    </div>
    <div class="reset-pass popup">
        <form action="">
            <br><br><br>
            <br><br><br>
            <div class="local-auth">
                <span>Enter your email to reset password</span>
                <input type="email" class="input" placeholder="Enter your e-mail"/><br><br><br><br><br><br>
                <input type="submit" class="btn def-ora send-btn" value="Reset password"/>
            </div>

        </form>
        <div class="other"><span class="sign_in_btn">Cancel</span></div>
    </div>
    <div class="black-overlay"></div>
    <!-- end Форма авторизации -->
</header>