{% extends 'main/base.html' %}
{% load i18n %}
{% block content %}
    <div class="container">
        <div class="main-content">

            <div class="main-block">
                <div class="main-head main-head--white">
                    <h1>{% trans "Find your appointment booking" %}</h1>
                    <form class="search-form" action="{% url 'choose_company' 'all' %}">
                        <div class="search-block">
                            <input class="search-input" name="search_by_name" type="text"
                                   placeholder="{% trans "I am looking for a service or company" %}">
                            <button class="btn def-tblue">{% trans "Search" %}</button>
                        </div>
                    </form>
                </div>
                <div class="block">
                    <div class="company-block">
                        {% for category in categories %}
                            <div class="company-item">
                                <a href="{% url 'choose_company' category.title %}">
                                    <div class="company-item-img">
                                        <img src="{{ category.image.url }}" alt="menu-img">
                                    </div>
                                    <p>{{ category.title }}</p>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="map-wrapper">
                <div class="map">
                    <div id="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2923.921096950857!2d74.5773261148513!3d42.874509510450956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389ec83d6e87b83d%3A0x7e54d3ff91301bc7!2zODAg0YPQuy4g0JouINCi0LjQvNC40YDRj9C30LXQstCwLCDQkdC40YjQutC10Lo!5e0!3m2!1sru!2skg!4v1570186366267!5m2!1sru!2skg"
                                style="border:0;" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}