{% load static %}
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=cyrillic"
      rel="stylesheet">
<link href="{% static 'libs/air-datepicker/dist/css/datepicker.min.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'libs/jquery-nice-select-1.1.0/css/nice-select.css' %}">
<link rel="stylesheet" href="{% static 'css/style-admin.css' %}">
<link rel="stylesheet" href="{% static 'css/media.css' %}">
<link rel="stylesheet" href="{% static 'css/style-web.css' %}">
<link rel="stylesheet" href="{% static 'css/after.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'toastr/build/toastr.min.css' %}">