{% load static %}
{% include "main/msg.html" %}
<script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'libs/air-datepicker/dist/js/datepicker.min.js' %}"></script>
<script src="{% static 'libs/bootstrap-year-calendar/js/bootstrap-year-calendar.min.js' %}"></script>
{#<script src="{% static 'libs/bootstrap-year-calendar/js/languages/bootstrap-year-calendar.ru.js' %}"></script>#}
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'libs/jquery-nice-select-1.1.0/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'js/common.js' %}"></script>
<script src="{% static 'js/after.js' %}"></script>
<script src="{% static 'js/query-3.3.1.min.js' %}"></script>
<script src="{% static 'toastr/build/toastr.min.js' %}"></script>
<script src="{% static 'js/md5.min.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static 'js/ajax.js' %}"></script>
